/* ==========================================================================
   SASS variables and mix-ins
   ========================================================================== */
/* ========== Basic CUMC Colors ============= */
/* ========== highlighted ============= */
/* ========== Darkened ============= */
/* ========== New Colors ============= */
/* ==========================================================================
   Logo imagereplace
   ========================================================================== */
.logotype {
  background-size: 90%;
  width: 100%;
  height: 2em;
  margin: 0;
  padding: 0;
  clear: both; }

/* ==========================================================================
   Filterbox
   ========================================================================== */
.filterboxwrapper {
  margin: 0 0 1em 0; }
  .filterboxwrapper .filterbox {
    width: 14em; }

/* ==========================================================================
   Buttons and Starter Navigation
   ========================================================================== */
.contextual-menu {
  position: fixed;
  right: 0;
  top: 25%;
  width: auto;
  z-index: 999999;
  background: white;
  background: rgba(255, 255, 255, 0.7);
  font-size: .85em; }
  .contextual-menu ul.tabs, .contextual-menu ul.action-links {
    margin: 0;
    padding: 0;
    float: left;
    clear: left;
    list-style: none;
    width: 100%; }
    .contextual-menu ul.tabs.tabs-primary, .contextual-menu ul.action-links.tabs-primary {
      float: right;
      width: auto; }
    .contextual-menu ul.tabs li, .contextual-menu ul.action-links li {
      cursor: pointer;
      margin: 0;
      padding: 0;
      border: solid 1px #73757a;
      margin: -1px 0 0 -1px;
      display: block;
      -webkit-transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out; }
      .contextual-menu ul.tabs li a, .contextual-menu ul.action-links li a {
        color: inherit;
        padding: .25em 5%;
        display: block;
        margin: 0;
        width: 90%;
        font-size: 1em;
        white-space: nowrap; }
        .contextual-menu ul.tabs li a:hover, .contextual-menu ul.action-links li a:hover {
          background: #73757a;
          color: white; }
      .contextual-menu ul.tabs li.is-active a, .contextual-menu ul.tabs li li:hover a, .contextual-menu ul.action-links li.is-active a, .contextual-menu ul.action-links li li:hover a {
        color: white; }

ul.action-links {
  top: 349px; }

a:focus {
  outline: none;
  /* Removes Firefox Link Outlines*/ }

.button {
  display: inline-block;
  padding: .22em .8em;
  border: solid 3px;
  margin: 0;
  cursor: pointer;
  font-family: "Avenir LT W01 85 Heavy", "Avenir", "Helvetica", "Arial", "sans-serif";
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }
  .button.solid {
    border: 0;
    color: white !important;
    background-color: #73757a; }
  .button.solid.blue {
    background-color: #1b4585;
    color: white; }
  .button.solid.orange {
    background-color: #e98300; }
  .button.solid.green {
    background-color: #b6bf00; }
  .button.solid.pink {
    background-color: #830051; }
  .button.solid.gray {
    background-color: #73757a; }
  .button:hover {
    background-color: #73757a;
    border-color: #73757a;
    color: white; }
  .button.active {
    background-color: #2d2e31;
    border-color: #2d2e31;
    color: white; }
  .button.blue {
    background-color: white;
    color: #1b4585; }
  .button:hover.blue {
    background-color: #1b4585;
    border-color: #1b4585;
    color: white; }
  .button.active.blue {
    background-color: #0d275f;
    border-color: #0d275f;
    color: white; }
  .button.pink {
    background-color: white;
    color: #830051; }
  .button:hover.pink {
    background-color: #830051;
    border-color: #830051;
    color: white; }
  .button.active.pink {
    background-color: #5d0030;
    border-color: #5d0030;
    color: white; }
  .button.green {
    background-color: white;
    color: #97a200; }
  .button:hover.green {
    background-color: #b6bf00;
    border-color: #b6bf00;
    color: white; }
  .button.active.green {
    background-color: #97a200;
    border-color: #97a200;
    color: white; }
  .button.orange {
    background-color: white;
    color: #e98300; }
  .button:hover.orange {
    background-color: #e98300;
    border-color: #e98300;
    color: white; }
  .button.active.orange {
    background-color: #dd5d00;
    border-color: #dd5d00;
    color: white; }

.wf-inactive .button {
  font-family: "Helvetica", "Arial", "sans-serif"; }

fieldset label {
  display: block;
  margin-top: 1em; }

button, input, select, textarea {
  padding: 0.4em; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  border: none;
  background: #2d2e31;
  color: white;
  padding: 0.2em 1em; }

/* ==========================================================================
   Features/Modules
   ========================================================================== */
/* ==========================================================================
   Global Header
   ========================================================================== */
.region-globalheader {
  width: 100%;
  margin: 0;
  font-size: .85rem;
  width: 100%;
  background: #1b4585;
  border-bottom: solid 1px white;
  min-height: 2.2em;
  -moz-box-shadow: 0px 1px 14px #999;
  -webkit-box-shadow: 0px 1px 14px #999;
  box-shadow: 0px 1px 14px #999; }
  .region-globalheader .globalNavToggle {
    font-family: "Avenir LT W01 55 Roman", "Avenir", "Helvetica", "Arial", "sans-serif";
    display: block;
    float: left;
    font-size: .85rem;
    margin: 0;
    padding: .25rem 1rem;
    color: white;
    white-space: nowrap;
    cursor: pointer;
    z-index: 1;
    height: 1.25rem;
    overflow: hidden; }
  .region-globalheader span.block {
    margin: 0;
    float: left;
    overflow: visible;
    float: left; }
    .region-globalheader span.block ul {
      float: left;
      width: auto;
      border: 0;
      padding: 0 0 0;
      margin: 0;
      background: #1b4585;
      color: white;
      z-index: 100;
      overflow: hidden; }
      .region-globalheader span.block ul li {
        float: left;
        clear: left;
        color: white;
        float: left;
        display: block;
        padding: 0;
        margin: 0;
        font-family: "Avenir LT W01 35 Light", "Avenir", "Helvetica", "Arial", "sans-serif";
        font-size: .85rem;
        width: 100%; }
        .region-globalheader span.block ul li a {
          color: white;
          display: block;
          padding: 0;
          margin: 0;
          text-decoration: none;
          height: 1.25rem;
          overflow: hidden;
          padding: .25rem 1rem; }
          .region-globalheader span.block ul li a:hover {
            background: #2c68b2; }
    .region-globalheader span.block.block-google-appliance {
      float: right; }

.wf-inactive .region-globalheader span.block ul li {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: 200; }

/* ==========================================================================
   Site Header
   ========================================================================== */
.siteheader {
  max-width: 1400px;
  width: 80%;
  padding: 0;
  clear: none;
  float: none;
  margin: 0 auto; }
  .siteheader nav {
    display: block;
    float: left;
    font-size: 1rem; }
    .siteheader nav ul {
      float: left;
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      text-align: center; }
      .siteheader nav ul li {
        display: inline-block;
        float: none;
        padding: 0 .25em .5em .25em;
        width: auto; }
        .siteheader nav ul li a {
          border-width: 0 0 1px 0;
          display: block;
          text-decoration: none;
          float: left;
          padding: 0.15em 0.75em;
          color: #0065bd;
          text-transform: uppercase;
          background: none;
          font-weight: 100;
          font-size: 1em;
          text-align: center;
          display: block; }
          .siteheader nav ul li a.active {
            background: rgba(255, 255, 255, 0.2); }
          .siteheader nav ul li a:hover {
            background: #e98300;
            color: white;
            -webkit-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            -ms-transition: all .25s ease-in-out;
            -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out; }
        .siteheader nav ul li #navsearch {
          padding: 5%; }
          .siteheader nav ul li #navsearch input[type="text"] {
            border: solid 1px #73757a;
            margin: .5em 0;
            padding: .25em;
            width: 95%; }

.lt-ie9 .siteheader nav ul li {
  display: block;
  float: left; }

form#google-appliance-block-form {
  margin-right: 20px; }
  form#google-appliance-block-form input[type="text"] {
    height: 24px;
    margin: 3px 0 0 0;
    opacity: 0.9;
    width: 188px; }
  form#google-appliance-block-form input[type="submit"] {
    background: white;
    color: #0d275f;
    padding: 0.25em 1em; }

.maincontent form.search-google-appliance-search-form {
  margin-bottom: 1em; }

form.search-form input[type="submit"] {
  padding: 0.5em 1em;
  background: #1b4585; }
  form.search-form input[type="submit"]:hover {
    background: #2c68b2; }

#search-results-heading {
  margin-top: 0.5em; }

/* ==========================================================================
   login stuff
   ========================================================================== */
.login_logout {
  float: right;
  padding: 1em; }

/* ==========================================================================
   Navigation Items
   ========================================================================== */
.localnav ul li a {
  padding: .25em 1em; }
  .localnav ul li a:hover {
    background: #f7b000;
    color: white; }
  .localnav ul li a.active {
    background: #bec1c7; }

/* ========== This makes the non-active path breadcrumb items fade out when hovering over the dropdown menu ====== */
.breadcrumb:hover li {
  opacity: .5;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }

.breadcrumb:hover li:hover {
  opacity: 1;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }

/* ========== Styles for the actual breadcrumb and its dropdown ====== */
.breadcrumb {
  position: relative;
  float: left;
  margin: 0 0 1.5% 0;
  clear: none;
  width: 100%;
  position: relative;
  z-index: 200;
  background: white; }
  .breadcrumb ul {
    width: auto;
    float: left;
    padding: 0;
    margin: 0;
    background: white;
    border-bottom: 0; }
    .breadcrumb ul li {
      display: none;
      float: left;
      clear: left;
      position: relative; }
      .breadcrumb ul li a {
        padding: .25em 1.5em .25em 1em;
        float: left;
        display: block;
        color: #73757a;
        background: url(/sites/all/themes/cumc_base/img/breadcrumb-ext.png) no-repeat 100% 0; }
        .breadcrumb ul li a.active {
          background: none; }
        .breadcrumb ul li a:hover {
          background: #0065bd;
          color: white; }
          .breadcrumb ul li a:hover:after {
            color: white !important; }
        .breadcrumb ul li a.is-active-trail {
          padding-right: 1.5em;
          background: url(/sites/all/themes/cumc_base/img/breadcrumb-ext.png) no-repeat 100% 0px; }
      .breadcrumb ul li.active-trail {
        display: block;
        margin: 0;
        float: left; }
  .breadcrumb > ul {
    width: 100%;
    float: none;
    padding: 0 10%;
    margin: 0 auto;
    background: white;
    border-bottom: 0;
    max-width: 1400px; }
  .breadcrumb ul:first-child > li.active-trail:before {
    content: "";
    padding: 0; }
  .breadcrumb ul:first-child > li {
    border-left: solid 1px #bec1c7; }

.lt-ie9 .breadcrumb {
  float: none;
  margin: 0 auto;
  width: 1400px; }

.wf-inactive .breadcrumb {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: bold; }

/* ========== Styles for the drawer for the "more" items ====== */
.breadcrumbmore {
  background: none;
  float: none;
  clear: both;
  width: 80%;
  max-width: 1400px;
  padding: 0;
  margin: 0 auto 1em auto;
  display: block; }
  .breadcrumbmore ul {
    margin: 0;
    padding: 0; }
    .breadcrumbmore ul li {
      display: block;
      margin: .25em 0; }
      .breadcrumbmore ul li a {
        border-width: 0 0 1px 0;
        display: block;
        text-decoration: none;
        padding: 0.15em 0.75em .25em .75em;
        color: #73757a;
        background: none;
        font-family: "Avenir LT W01 35 Light", "Avenir", "Helvetica", "Arial", "sans-serif";
        font-size: .85em;
        display: block; }
        .breadcrumbmore ul li a.active {
          background: rgba(255, 255, 255, 0.2); }
        .breadcrumbmore ul li a:hover {
          background: #e98300;
          color: white;
          -webkit-transition: all .25s ease-in-out;
          -moz-transition: all .25s ease-in-out;
          -ms-transition: all .25s ease-in-out;
          -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out; }

#block-menu-block-3 {
  display: block;
  float: none;
  border-bottom: 1px solid;
  width: 100%;
  margin: 0 auto;
  border-bottom: solid 1px #bec1c7; }

.wf-inactive .breadcrumbmore ul li a {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: 100; }

div.drawertoggle {
  text-transform: uppercase; }

div.drawertoggle:first-child:before {
  content: "=";
  font-family: CUMCLogos;
  margin-right: .5em; }

div.drawershow {
  display: none; }

div.drawershow {
  background: #2d2e31;
  display: block;
  font-size: .85rem;
  cursor: pointer;
  float: left;
  padding: .5em 1em;
  margin: 0 0 1em 0;
  color: white;
  z-index: 490;
  width: auto; }
  div.drawershow div {
    display: inline; }

.lt-ie9 div.drawershow {
  clear: both; }

a.active {
  background: #0090df; }

.views-table {
  margin-top: 0.5em; }
  .views-table th a {
    color: #2d2e31;
    font-family: "Avenir LT W01 35 Light", "Avenir", "Helvetica", "Arial", "sans-serif";
    font-size: 1em; }
    .views-table th a.active {
      background: none;
      color: #2d2e31;
      font-weight: bold;
      font-size: 1em; }

.wf-inactive .views-table th a {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: 100; }

/* ==========================================================================
   Main Body Styles
   ========================================================================== */
.maincontent {
  float: left;
  margin-bottom: 2em; }

.lt-ie9 .maincontent {
  float: left;
  margin: 0 5% 0 0; }

.lt-ie9 .front .maincontent {
  float: none;
  margin: 0 auto;
  width: 1400px; }

.article-mini-module {
  float: right;
  clear: right;
  width: 45%;
  margin: 0 0 5% 5%;
  min-width: 200px; }

/* ==========================================================================
   Body Image Module and Captions
   ========================================================================== */
.image-wrapper {
  float: right;
  position: relative;
  width: 40%;
  max-height: 50%;
  margin: 0 0 5% 5%;
  list-style-type: none;
  padding: 0.25em;
  border: solid 1px #efefea; }
  .image-wrapper img {
    width: 95%;
    float: right; }
  .image-wrapper .caption {
    float: left;
    clear: both;
    background: white;
    width: auto;
    padding: .5em 1em;
    margin-top: -1.55em;
    margin-left: 1em;
    font-family: "Avenir LT W01 55 Roman","Avenir","Helvetica","Arial","sans-serif";
    font-weight: normal;
    font-style: normal;
    font-size: .85rem; }
    .image-wrapper .caption b, .image-wrapper .caption strong {
      font-family: "Avenir LT W01 85 Heavy","Avenir","Helvetica","Arial","sans-serif";
      font-weight: normal;
      font-style: normal; }
    .image-wrapper .caption i, .image-wrapper .caption em {
      font-family: "AvenirLTW01-55Oblique","Avenir","Helvetica","Arial","sans-serif";
      font-weight: normal;
      font-style: normal; }
    .image-wrapper .caption b i, .image-wrapper .caption b em, .image-wrapper .caption i b, .image-wrapper .caption em b, .image-wrapper .caption strong i, .image-wrapper .caption strong em, .image-wrapper .caption i strong, .image-wrapper .caption em strong {
      font-family: "AvenirLTW01-85HeavyObli","Avenir","Helvetica","Arial","sans-serif";
      font-weight: normal;
      font-style: normal; }
    .image-wrapper .caption.bottom-right {
      bottom: 1em;
      right: 1em;
      width: 50%;
      position: absolute; }
    .image-wrapper .caption.bottom-left {
      bottom: 1em;
      left: 1em;
      width: 50%;
      position: absolute; }
    .image-wrapper .caption.top-right {
      top: 1em;
      right: 1em;
      width: 50%;
      position: absolute; }
    .image-wrapper .caption.top-left {
      top: 1em;
      left: 1em;
      width: 50%;
      position: absolute; }
    .image-wrapper .caption.top-center {
      top: 1em;
      left: 1em;
      right: 1em;
      width: auto;
      position: absolute; }
    .image-wrapper .caption.bottom-center {
      bottom: 1em;
      left: 1em;
      right: 1em;
      width: auto;
      position: absolute; }
  .image-wrapper .photo-credit {
    font-size: .75rem;
    color: #73757a;
    margin-left: .5em; }
  .image-wrapper a.photo-credit:hover {
    color: #f7b000; }

.wf-inactive .image-wrapper .image-caption {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: normal;
  font-style: normal; }
  .wf-inactive .image-wrapper .image-caption b, .wf-inactive .image-wrapper .image-caption strong {
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: bold;
    font-style: normal; }
  .wf-inactive .image-wrapper .image-caption i, .wf-inactive .image-wrapper .image-caption em {
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: normal;
    font-style: italic; }
  .wf-inactive .image-wrapper .image-caption b i, .wf-inactive .image-wrapper .image-caption b em, .wf-inactive .image-wrapper .image-caption i b, .wf-inactive .image-wrapper .image-caption em b, .wf-inactive .image-wrapper .image-caption strong i, .wf-inactive .image-wrapper .image-caption strong em, .wf-inactive .image-wrapper .image-caption i strong, .wf-inactive .image-wrapper .image-caption em strong {
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: bold;
    font-style: italic; }

.image-wrapper.feature-image {
  margin: 0 0 1.5em 0;
  width: 100%;
  padding: 0;
  border: 0; }
  .image-wrapper.feature-image .fieldset-wrapper {
    display: block; }
  .image-wrapper.feature-image img {
    width: 100%;
    padding: 0;
    margin: 0;
    border: solid 1px #73757a; }

.bottom-left {
  bottom: 1em;
  left: 1em;
  position: absolute;
  width: 50%; }

/* ==========================================================================
   Related links
   ========================================================================== */
aside h3 {
  font-size: .85em;
  text-transform: uppercase;
  letter-spacing: .2em; }
aside ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  aside ul li {
    border-bottom: dotted 1px #0065bd;
    padding: .25em 0;
    font-size: .85rem; }
  aside ul li.external a:after {
    font-family: CUMCLogos;
    font-size: 1.25em;
    font-weight: normal;
    color: #73757a;
    content: " »"; }

.related-links {
  margin: 0 0 2em 0; }
  .related-links .views-row span {
    font-size: 1.25rem; }
  .related-links .views-row ul li {
    border-bottom: 1px dotted #0065bd;
    font-size: 0.85rem;
    padding: 0.25em 0; }

.lt-ie9 .related-links {
  margin: 3.5em 0; }

/* ==========================================================================
   Blockquote
   ========================================================================== */
blockquote {
  margin: 5% 10%;
  text-align: center;
  float: left;
  width: 35%;
  font-family: "AvenirLTW01-55Oblique", "Avenir", "Helvetica", "Arial", "sans-serif"; }

blockquote:before {
  content: "“";
  font-size: 6em;
  float: left;
  margin: -0.25em 0 0 -0.5em; }

blockquote:after {
  content: "”";
  font-size: 6em;
  line-height: 0;
  float: right;
  position: relative;
  top: .65em;
  right: -.4em; }

blockquote p:before {
  content: "â€œ"; }

blockquote p:first-child:before {
  content: ""; }

blockquote p + p:last-child:after {
  content: "â€"; }

blockquote p:last-child {
  margin-bottom: 1em; }

blockquote cite {
  font-family: "AvenirLTW01-85HeavyObli", "Avenir", "Helvetica", "Arial", "sans-serif"; }

.wf-inactive blockquote {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-style: italic; }

.wf-inactive blockquote cite {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-style: italic;
  font-weight: bold; }

blockquote.article-mini-module {
  width: 35%;
  margin: 2.5% 7.5%; }

/* ==========================================================================
   Asides
   ========================================================================== */
aside p {
  max-width: 26rem;
  font-size: .85rem;
  margin: 1em 0; }
aside h1 {
  font-size: 1.5rem; }
aside h2 {
  font-size: 1.25rem; }
aside h3 {
  font-size: 1rem; }

/* ==========================================================================
   Sidebars
   ========================================================================== */
sidebar, .sidebar {
  font-size: .85rem;
  margin: 0 0 0 2%;
  float: left;
  width: 100%;
  padding: 0; }
  sidebar *, .sidebar * {
    min-width: 0; }
  sidebar > *, .sidebar > * {
    border-top: 0;
    display: block;
    margin-bottom: 2em; }
  sidebar h1, sidebar h2, sidebar h3, sidebar h4, sidebar h5, sidebar h6, sidebar p, .sidebar h1, .sidebar h2, .sidebar h3, .sidebar h4, .sidebar h5, .sidebar h6, .sidebar p {
    color: #73757a; }
  sidebar h1, .sidebar h1 {
    font-size: 1.5rem; }
  sidebar h2, .sidebar h2 {
    font-size: 1.25rem; }
  sidebar h3, .sidebar h3 {
    font-size: 1rem; }
  sidebar a, .sidebar a {
    color: #2c68b2;
    line-height: 120%; }
    sidebar a:hover, .sidebar a:hover {
      background: #0090df;
      color: white; }
    sidebar a.button.addtocalendar, .sidebar a.button.addtocalendar {
      color: white;
      font-size: 0.9em;
      padding: 0.3em 0.5em;
      margin-top: 0.1em;
      display: block;
      float: left;
      clear: both; }
      sidebar a.button.addtocalendar:hover, .sidebar a.button.addtocalendar:hover {
        background: #f7b000; }
  sidebar .news, .sidebar .news {
    width: 100%; }
  sidebar .basic-image, .sidebar .basic-image {
    margin-bottom: .5em; }
    sidebar .basic-image img, .sidebar .basic-image img {
      max-width: 100%; }
    sidebar .basic-image .file-icon, .sidebar .basic-image .file-icon {
      width: auto; }

.lt-ie9 .front sidebar, .lt-ie9 .front .sidebar {
  width: 45%;
  float: left; }

.lt-ie8 sidebar h2, .lt-ie8 .sidebar h2 {
  clear: both; }

.lt-ie9 .front sidebar h1, .lt-ie9 .front .sidebar h1 {
  font-size: 1.1em; }

/* ==========================================================================
   News Module
   ========================================================================== */
.news-index {
  margin: 0; }
  .news-index ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left; }
    .news-index ul li {
      margin: 0;
      padding: .5em 0;
      border-bottom: solid 1px #bec1c7;
      width: 100%;
      float: left; }
      .news-index ul li img {
        max-width: 120px;
        float: left;
        margin-right: 2.5%;
        margin-top: .5em; }
      .news-index ul li h1 {
        font-size: 1.15rem;
        margin: 0 0 .75em 0; }
      .news-index ul li h2 {
        font-size: 1rem;
        margin: 0 0 0 .75em 0; }
      .news-index ul li h3 {
        font-size: 1rem;
        margin: 0 0 .75em 0; }
      .news-index ul li .primary-category {
        font-size: .75em;
        text-transform: uppercase;
        margin: 0 0.2em 0 0;
        font-family: "Avenir LT W01 85 Heavy", "Avenir", "Helvetica", "Arial", "sans-serif"; }
        .news-index ul li .primary-category a {
          color: #e98300; }
      .news-index ul li .datetime {
        font-size: .9em;
        padding: 0; }
      .news-index ul li .byline {
        font-size: .55em;
        text-transform: uppercase;
        font-family: "Avenir LT W01 85 Heavy", "Avenir", "Helvetica", "Arial", "sans-serif";
        color: #73757a; }
      .news-index ul li p {
        line-height: 1.5em;
        font-size: 1em;
        margin-top: .5em;
        font-family: "Avenir LT W01 55 Roman","Avenir","Helvetica","Arial","sans-serif";
        font-weight: normal;
        font-style: normal; }
        .news-index ul li p b, .news-index ul li p strong {
          font-family: "Avenir LT W01 85 Heavy","Avenir","Helvetica","Arial","sans-serif";
          font-weight: normal;
          font-style: normal; }
        .news-index ul li p i, .news-index ul li p em {
          font-family: "AvenirLTW01-55Oblique","Avenir","Helvetica","Arial","sans-serif";
          font-weight: normal;
          font-style: normal; }
        .news-index ul li p b i, .news-index ul li p b em, .news-index ul li p i b, .news-index ul li p em b, .news-index ul li p strong i, .news-index ul li p strong em, .news-index ul li p i strong, .news-index ul li p em strong {
          font-family: "AvenirLTW01-85HeavyObli","Avenir","Helvetica","Arial","sans-serif";
          font-weight: normal;
          font-style: normal; }
      .news-index ul li ul.pager {
        display: block;
        clear: both;
        float: none;
        width: 100%;
        border-top: 1px solid #efefea;
        padding: 1em;
        text-align: center; }
        .news-index ul li ul.pager li {
          display: inline;
          padding: 1em; }

.wf-inactive .news-index ul li .primary-category {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: bold; }
.wf-inactive .news-index ul li .byline {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: bold; }
.wf-inactive .news-index ul li p {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: normal;
  font-style: normal; }
  .wf-inactive .news-index ul li p b, .wf-inactive .news-index ul li p strong {
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: bold;
    font-style: normal; }
  .wf-inactive .news-index ul li p i, .wf-inactive .news-index ul li p em {
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: normal;
    font-style: italic; }
  .wf-inactive .news-index ul li p b i, .wf-inactive .news-index ul li p b em, .wf-inactive .news-index ul li p i b, .wf-inactive .news-index ul li p em b, .wf-inactive .news-index ul li p strong i, .wf-inactive .news-index ul li p strong em, .wf-inactive .news-index ul li p i strong, .wf-inactive .news-index ul li p em strong {
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: bold;
    font-style: italic; }

/* ==========================================================================
   News Module
   ========================================================================== */
.news .news-index {
  margin: 0; }
  .news .news-index ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left; }
    .news .news-index ul li {
      margin: 0;
      padding: .5em 0;
      border-bottom: solid 1px #bec1c7; }
      .news .news-index ul li img {
        max-width: 120px;
        float: left;
        margin-right: 2.5%; }
      .news .news-index ul li h1 {
        font-size: 1.15rem;
        font-family: "Avenir LT W01 85 Heavy", "Avenir", "Helvetica", "Arial", "sans-serif";
        margin: 0; }
      .news .news-index ul li h2 {
        font-size: 1rem;
        margin: 0; }
      .news .news-index ul li h3 {
        font-size: 1rem;
        font-family: "Avenir LT W01 85 Heavy", "Avenir", "Helvetica", "Arial", "sans-serif";
        margin: 0; }
      .news .news-index ul li .primary-category {
        font-size: .75em;
        text-transform: uppercase;
        margin: 0;
        font-weight: 800;
        color: #73757a; }
      .news .news-index ul li .datetime {
        font-size: .75em; }
      .news .news-index ul li .byline {
        font-size: .55em;
        text-transform: uppercase;
        font-weight: 800;
        color: #73757a; }
      .news .news-index ul li p {
        font-size: .85rem;
        line-height: 1.25em;
        letter-spacing: -.03em; }

.wf-inactive .news .news-index ul li h1 {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: 800; }
.wf-inactive .news .news-index ul li h2 {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: 800; }

.lt-ie9 h2 {
  font-size: 1em; }

.news {
  display: block;
  float: left;
  width: 46%;
  margin: 1em 0 2em 0;
  padding: 0;
  position: relative;
  z-index: 99; }
  .news.nursing-block .news-index .field-body {
    display: block; }
  .news.nursing-block .news-index ul li {
    margin: 0 0 1em 0; }
    .news.nursing-block .news-index ul li h1 {
      font-size: 1em;
      font-family: "Avenir LT W01 35 Light", "Avenir", "Helvetica", "Arial", "sans-serif"; }

.wf-inactive .news ul li h1 {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: 100; }

.section-academic-calendar .news {
  margin: 1em 4% 2em 0; }

.news.nursing-interior {
  width: 100%; }

.news.nursing-front {
  display: block;
  float: left;
  width: 95%;
  margin: 0 0 2em 0;
  padding: 0;
  position: relative;
  z-index: 99;
  background: white;
  padding: 0;
  display: block;
  float: left;
  clear: both; }
  .news.nursing-front .image-wrapper .image-caption {
    display: none !important; }
  .news.nursing-front .view-content {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
    padding: 5% 5% 1em 5%;
    float: left; }
    .news.nursing-front .view-content .views-row {
      margin: 0 0 1em 0; }
  .news.nursing-front .item {
    border-bottom: solid 1px #e8e8e8;
    padding: 0 4% 0 0;
    width: 95%;
    display: block;
    float: left;
    font-family: "Avenir LT W01 35 Light", "Avenir", "Helvetica", "Arial", "sans-serif"; }
    .news.nursing-front .item:nth-child(2) {
      border-right: 0; }
    .news.nursing-front .item:last-child, .news.nursing-front .item.last {
      margin-right: 0;
      border: none; }
    .news.nursing-front .item img {
      display: block;
      width: 100%%;
      height: auto;
      clear: right;
      float: right; }
    .news.nursing-front .item .datetime {
      font-size: 0.75em;
      font-style: italic; }
    .news.nursing-front .item h1 {
      margin: 0.3em 0 0.5em 0;
      font-size: 1em !important;
      font-family: "Avenir LT W01 35 Light", "Avenir", "Helvetica", "Arial", "sans-serif"; }
    .news.nursing-front .item h2 {
      margin: 0 0 0.4em 0; }
    .news.nursing-front .item p {
      font-size: 0.85em;
      font-family: "Avenir LT W01 55 Roman","Avenir","Helvetica","Arial","sans-serif";
      font-weight: normal;
      font-style: normal; }
      .news.nursing-front .item p b, .news.nursing-front .item p strong {
        font-family: "Avenir LT W01 85 Heavy","Avenir","Helvetica","Arial","sans-serif";
        font-weight: normal;
        font-style: normal; }
      .news.nursing-front .item p i, .news.nursing-front .item p em {
        font-family: "AvenirLTW01-55Oblique","Avenir","Helvetica","Arial","sans-serif";
        font-weight: normal;
        font-style: normal; }
      .news.nursing-front .item p b i, .news.nursing-front .item p b em, .news.nursing-front .item p i b, .news.nursing-front .item p em b, .news.nursing-front .item p strong i, .news.nursing-front .item p strong em, .news.nursing-front .item p i strong, .news.nursing-front .item p em strong {
        font-family: "AvenirLTW01-85HeavyObli","Avenir","Helvetica","Arial","sans-serif";
        font-weight: normal;
        font-style: normal; }
  .news.nursing-front .item .views-field .field-body {
    display: none; }
  .news.nursing-front .views-row-first.item .field-body {
    display: block; }
  .news.nursing-front a.button.small {
    background: none;
    color: #1b4585;
    top: 21px;
    right: 4%;
    font-size: 0.8em;
    font-family: "AvenirLTW01-55Oblique", "Avenir", "Helvetica", "Arial", "sans-serif";
    float: right;
    position: absolute;
    bottom: auto;
    border: 0;
    text-transform: none; }
    .news.nursing-front a.button.small:hover {
      color: #2c68b2;
      opacity: 0.8; }
  .news.nursing-front .news-date {
    font-size: 0.9em;
    font-style: italic;
    color: #6B6B6B; }
  .news.nursing-front .news-index ul {
    font-family: "Avenir LT W01 55 Roman","Avenir","Helvetica","Arial","sans-serif";
    font-weight: normal;
    font-style: normal; }
    .news.nursing-front .news-index ul b, .news.nursing-front .news-index ul strong {
      font-family: "Avenir LT W01 85 Heavy","Avenir","Helvetica","Arial","sans-serif";
      font-weight: normal;
      font-style: normal; }
    .news.nursing-front .news-index ul i, .news.nursing-front .news-index ul em {
      font-family: "AvenirLTW01-55Oblique","Avenir","Helvetica","Arial","sans-serif";
      font-weight: normal;
      font-style: normal; }
    .news.nursing-front .news-index ul b i, .news.nursing-front .news-index ul b em, .news.nursing-front .news-index ul i b, .news.nursing-front .news-index ul em b, .news.nursing-front .news-index ul strong i, .news.nursing-front .news-index ul strong em, .news.nursing-front .news-index ul i strong, .news.nursing-front .news-index ul em strong {
      font-family: "AvenirLTW01-85HeavyObli","Avenir","Helvetica","Arial","sans-serif";
      font-weight: normal;
      font-style: normal; }
  .news.nursing-front .news-index.lateral ul {
    margin: 0; }
  .news.nursing-front .nursing-front-news-img {
    display: block;
    float: right;
    width: 15%;
    height: auto;
    margin: 0 0 2% 5%; }
  .news.nursing-front .primary-category a,
  .news.nursing-front .primary-category,
  .news.nursing-front .date-display-single {
    font-size: .89em;
    text-transform: uppercase;
    margin: 0 0.15em 0 0;
    font-family: "AvenirLTW01-85HeavyObli", "Avenir", "Helvetica", "Arial", "sans-serif";
    color: #73757a;
    display: inline; }
  .news.nursing-front .date-display-single {
    font-weight: normal;
    display: inline;
    font-size: 0.9em; }
  .news.nursing-front .views-field-field-event-date, .news.nursing-front .views-field-term-node-tid {
    display: inline; }

.wf-inactive .news.nursing-front .item {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: 100; }
  .wf-inactive .news.nursing-front .item h1 {
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: 100; }
  .wf-inactive .news.nursing-front .item p {
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: normal;
    font-style: normal; }
    .wf-inactive .news.nursing-front .item p b, .wf-inactive .news.nursing-front .item p strong {
      font-family: "Helvetica", "Arial", "sans-serif";
      font-weight: bold;
      font-style: normal; }
    .wf-inactive .news.nursing-front .item p i, .wf-inactive .news.nursing-front .item p em {
      font-family: "Helvetica", "Arial", "sans-serif";
      font-weight: normal;
      font-style: italic; }
    .wf-inactive .news.nursing-front .item p b i, .wf-inactive .news.nursing-front .item p b em, .wf-inactive .news.nursing-front .item p i b, .wf-inactive .news.nursing-front .item p em b, .wf-inactive .news.nursing-front .item p strong i, .wf-inactive .news.nursing-front .item p strong em, .wf-inactive .news.nursing-front .item p i strong, .wf-inactive .news.nursing-front .item p em strong {
      font-family: "Helvetica", "Arial", "sans-serif";
      font-weight: bold;
      font-style: italic; }
.wf-inactive .news.nursing-front .news-index ul {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: normal;
  font-style: normal; }
  .wf-inactive .news.nursing-front .news-index ul b, .wf-inactive .news.nursing-front .news-index ul strong {
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: bold;
    font-style: normal; }
  .wf-inactive .news.nursing-front .news-index ul i, .wf-inactive .news.nursing-front .news-index ul em {
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: normal;
    font-style: italic; }
  .wf-inactive .news.nursing-front .news-index ul b i, .wf-inactive .news.nursing-front .news-index ul b em, .wf-inactive .news.nursing-front .news-index ul i b, .wf-inactive .news.nursing-front .news-index ul em b, .wf-inactive .news.nursing-front .news-index ul strong i, .wf-inactive .news.nursing-front .news-index ul strong em, .wf-inactive .news.nursing-front .news-index ul i strong, .wf-inactive .news.nursing-front .news-index ul em strong {
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: bold;
    font-style: italic; }
.wf-inactive .news.nursing-front .date-display-single {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: 800;
  font-style: italic; }

.sidebar .view-cumc-master-news-events .view-content {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
  padding: 5% 5% 1em 5%;
  float: left; }

.news.nursing-front.context-block .view-content {
  background: none !important; }

.view-nursing-news-front .news-index ul li div {
  display: inline; }

.view-nursing-news-front .news-index ul li .field-body, .view-nursing-news-front .news-index ul li img {
  display: none; }

.view-nursing-news-front .news-index ul li.views-row-first .field-body, .view-nursing-news-front .news-index ul li.views-row-first img {
  display: block; }

.nursing-front li h1 {
  font-family: "Avenir LT W01 35 Light", "Avenir", "Helvetica", "Arial", "sans-serif";
  font-size: 1em; }

.wf-inactive .nursing-front li h1 {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: 100 !important; }

.nursing-front li.views-row-first h1 {
  font-family: "AvenirLTW01-85HeavyObli", "Avenir", "Helvetica", "Arial", "sans-serif";
  font-size: 1.3em; }

.wf-inactive .nursing-front li.views-row-first h1 {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-style: italic;
  font-weight: bold !important; }

/* ==========================================================================
   News Page
   ========================================================================== */
.page-news .news, .section-academic-research .news {
  width: 100%; }
.page-news .pagewrapper .region-mainpagecontent, .section-academic-research .pagewrapper .region-mainpagecontent {
  width: 100% !important; }

.view-nursing-news-front.nursing-interior .news-index ul li {
  display: block;
  clear: both;
  margin: 0.5em 0;
  padding: 0.5em 0;
  border-bottom: 1px solid #e8e8e8; }
  .view-nursing-news-front.nursing-interior .news-index ul li .field-body {
    float: none; }

.view-nursing-news-front.nursing-interior .news-index ul li .field-body,
.view-nursing-news-front.nursing-interior .news-index ul li img {
  display: block;
  float: none;
  margin: 0 25px 25px 0;
  clear: left; }

.nursing-interior ul.pager {
  display: block;
  clear: both;
  width: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
  padding: 0.5em; }
  .nursing-interior ul.pager li {
    display: inline;
    padding-right: 0.3em; }
.nursing-interior .news-index {
  border-bottom: solid 1px #e8e8e8;
  padding: 0 4% 0 0;
  width: 95%;
  display: block;
  float: left;
  font-family: "Avenir LT W01 35 Light", "Avenir", "Helvetica", "Arial", "sans-serif"; }
  .nursing-interior .news-index:nth-child(2) {
    border-right: 0; }
  .nursing-interior .news-index:last-child, .nursing-interior .news-index.last {
    margin-right: 0;
    border: none; }
  .nursing-interior .news-index img {
    display: block;
    width: 100%%;
    height: auto;
    clear: left;
    float: left; }
.nursing-interior .views-row {
  display: block;
  float: none;
  clear: both;
  margin: 0.5em 0;
  padding: 0.5em 0;
  border-bottom: 1px solid #e8e8e8; }
  .nursing-interior .views-row img {
    max-width: 25%;
    display: block;
    float: left;
    margin: 0 25px 25px 0; }
  .nursing-interior .views-row h1 {
    font-size: 1.2em; }
.nursing-interior .view-content {
  width: 100%;
  display: block;
  float: left; }

.wf-inactive .nursing-interior .news-index {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: 100; }

.page-news-archive .view-content {
  width: 100%; }

.featured-news-archive {
  display: block;
  width: 100%;
  clear: both; }
  .featured-news-archive .image-wrapper {
    display: block !important;
    width: 25% !important;
    float: left !important;
    margin: 0 2em 2em 0 !important; }
    .featured-news-archive .image-wrapper .image-caption {
      display: none !important; }
    .featured-news-archive .image-wrapper img {
      width: 100% !important;
      float: left !important; }
  .featured-news-archive .views-row {
    display: block;
    width: 45%;
    float: left;
    margin-right: 5%; }
    .featured-news-archive .views-row h1 {
      margin: 0.3em 0 0.2em 0;
      font-size: 1.3em;
      font-weight: 100; }
    .featured-news-archive .views-row img {
      width: 25%;
      display: block;
      float: left;
      margin: 0 25px 25px 0; }
    .featured-news-archive .views-row p {
      max-width: 100% !important;
      font-size: 0.85em;
      font-family: "Avenir LT W01 55 Roman","Avenir","Helvetica","Arial","sans-serif";
      font-weight: normal;
      font-style: normal; }
      .featured-news-archive .views-row p b, .featured-news-archive .views-row p strong {
        font-family: "Avenir LT W01 85 Heavy","Avenir","Helvetica","Arial","sans-serif";
        font-weight: normal;
        font-style: normal; }
      .featured-news-archive .views-row p i, .featured-news-archive .views-row p em {
        font-family: "AvenirLTW01-55Oblique","Avenir","Helvetica","Arial","sans-serif";
        font-weight: normal;
        font-style: normal; }
      .featured-news-archive .views-row p b i, .featured-news-archive .views-row p b em, .featured-news-archive .views-row p i b, .featured-news-archive .views-row p em b, .featured-news-archive .views-row p strong i, .featured-news-archive .views-row p strong em, .featured-news-archive .views-row p i strong, .featured-news-archive .views-row p em strong {
        font-family: "AvenirLTW01-85HeavyObli","Avenir","Helvetica","Arial","sans-serif";
        font-weight: normal;
        font-style: normal; }
  .featured-news-archive .views-row-first {
    width: 100%;
    clear: both;
    float: none; }
    .featured-news-archive .views-row-first h1 {
      font-size: 2em; }
    .featured-news-archive .views-row-first img {
      width: 35%;
      display: block;
      float: left;
      margin: 0 25px 25px 0; }

.wf-inactive .featured-news-archive .views-row h1 {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: 100; }
.wf-inactive .featured-news-archive .views-row p {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: normal;
  font-style: normal; }
  .wf-inactive .featured-news-archive .views-row p b, .wf-inactive .featured-news-archive .views-row p strong {
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: bold;
    font-style: normal; }
  .wf-inactive .featured-news-archive .views-row p i, .wf-inactive .featured-news-archive .views-row p em {
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: normal;
    font-style: italic; }
  .wf-inactive .featured-news-archive .views-row p b i, .wf-inactive .featured-news-archive .views-row p b em, .wf-inactive .featured-news-archive .views-row p i b, .wf-inactive .featured-news-archive .views-row p em b, .wf-inactive .featured-news-archive .views-row p strong i, .wf-inactive .featured-news-archive .views-row p strong em, .wf-inactive .featured-news-archive .views-row p i strong, .wf-inactive .featured-news-archive .views-row p em strong {
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: bold;
    font-style: italic; }

.featured-news-archive, .page-news-archive {
  display: block;
  width: 100%;
  clear: both;
  margin-bottom: 1em; }
  .featured-news-archive .image-wrapper, .page-news-archive .image-wrapper {
    display: block !important;
    width: 25% !important;
    float: left !important;
    margin: 0 2em 2em 0 !important; }
    .featured-news-archive .image-wrapper .image-caption, .page-news-archive .image-wrapper .image-caption {
      display: none !important; }
    .featured-news-archive .image-wrapper img, .page-news-archive .image-wrapper img {
      width: 100% !important;
      max-width: 100% !important;
      float: left !important; }

.news .front-callout.mag.interior {
  display: block;
  float: right;
  width: 36%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat; }
  .news .front-callout.mag.interior a {
    font-size: 1.6em; }
.news .front-callout a.mag {
  width: 150px;
  height: 150px;
  text-indent: -99999px;
  display: block;
  float: left;
  background-size: 100% auto; }

.lt-ie9 .news .front-callout a.mag {
  width: 200px;
  height: 200px; }

.news.nursing-front.top-feature .view-content .views-row {
  width: 100%; }

.news.nursing-front.bottom-feature .view-content .views-row {
  float: left;
  width: 45%;
  clear: left;
  margin-right: 2%;
  margin-top: 0.5em;
  padding-right: 2%;
  border-right: 1px solid #e8e8e8; }

.featured-news-archive.toptwo .views-row {
  display: block !important;
  width: 45% !important;
  float: left !important;
  margin-right: 5% !important; }
  .featured-news-archive.toptwo .views-row h1 {
    margin: 0.3em 0 0.2em 0 !important;
    font-size: 1.3em !important;
    font-family: "Avenir LT W01 35 Light", "Avenir", "Helvetica", "Arial", "sans-serif"; }
  .featured-news-archive.toptwo .views-row img {
    width: 25%;
    display: block;
    float: left;
    margin: 0 25px 25px 0; }

.wf-inactive .featured-news-archive.toptwo h1 {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: 100 !important; }

.news.nursing-front.top-feature .view-content .views-row-1 {
  clear: left; }

.news.nursing-front.top-feature .view-content .views-row-2 {
  clear: right;
  margin-right: 0; }

.news.nursing-front.top-feature .view-content .views-field-title-1 a {
  font-size: 1.3em !important; }

.news.nursing-front.feature-bottom .view-content {
  padding: 1em 2% 1em 2%; }
  .news.nursing-front.feature-bottom .view-content .views-row .views-field-title-1 a {
    font-size: 1.5em;
    line-height: 120%; }

.not-front .news.nursing-front .view-content .views-row {
  border-bottom: 1px solid #e8e8e8; }

/* ==========================================================================
   Alternative Content Type Page Styles
   ========================================================================== */
.section-course-list .view-content table {
  clear: both; }

.node-nursing-course-list h3.field-label, .node-funded-pilot-project h3.field-label, .node-recruit-job h3.field-label {
  margin: 0.7em 0 0.5em 0;
  padding: 0.2em 0;
  border-top: 1px solid #e8e8e8;
  font-size: 1.2em;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat; }
.node-nursing-course-list .field-details h3, .node-funded-pilot-project .field-details h3, .node-recruit-job .field-details h3 {
  margin: 0.7em 0 0.2em 0;
  padding: 0.2em 0;
  border-top: 1px solid #e8e8e8;
  font-size: 1.2em;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat; }

/* ==========================================================================
   event Module
   ========================================================================== */
.button.addtocalendar {
  padding: .5em;
  line-height: 1em;
  font-size: .5rem;
  text-transform: uppercase;
  border: 0;
  background: #dfe8f4;
  margin: 0; }
  .button.addtocalendar:hover {
    background: #1b4585;
    color: white; }

.events .events-index {
  margin: 0; }
  .events .events-index dl {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left; }
    .events .events-index dl dt {
      float: left;
      width: 95%;
      min-width: 13em;
      padding: .5em;
      color: #1b4585;
      background: #dfe8f4;
      clear: both; }
    .events .events-index dl dd {
      margin: 0;
      padding: .5em 0;
      border-bottom: solid 1px #bec1c7;
      float: left; }
      .events .events-index dl dd ul {
        float: left;
        width: auto;
        list-style: none;
        margin: 0;
        padding: 0; }
        .events .events-index dl dd ul li {
          float: left;
          clear: left;
          margin: 0 0 1em 0;
          padding: 0; }
          .events .events-index dl dd ul li img {
            max-width: 120px;
            float: left;
            margin: 0 2.5% 2.5% 0; }
          .events .events-index dl dd ul li h1 {
            font-size: 1.15rem;
            font-family: "Avenir LT W01 85 Heavy", "Avenir", "Helvetica", "Arial", "sans-serif";
            margin: 0;
            min-width: 50%; }
          .events .events-index dl dd ul li h2 {
            font-size: 1rem;
            font-family: "Avenir LT W01 85 Heavy", "Avenir", "Helvetica", "Arial", "sans-serif";
            margin: 0;
            min-width: 50%; }
          .events .events-index dl dd ul li h3 {
            font-size: 1rem;
            margin: 0;
            min-width: 50%; }
          .events .events-index dl dd ul li .primary-category {
            font-size: .75em;
            text-transform: uppercase;
            margin: 0;
            font-weight: 800;
            color: #73757a; }
          .events .events-index dl dd ul li .datetime {
            font-size: .75em; }
          .events .events-index dl dd ul li .byline {
            font-size: .55em;
            text-transform: uppercase;
            font-family: "Avenir LT W01 85 Heavy", "Avenir", "Helvetica", "Arial", "sans-serif";
            color: #73757a; }
          .events .events-index dl dd ul li p {
            font-size: .85rem;
            line-height: 1.25em;
            letter-spacing: -.03em; }
.events .abbreviated p {
  display: none; }

.wf-inactive .events .events-index dl dd ul li h1 {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: bold; }
.wf-inactive .events .events-index dl dd ul li h2 {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: bold; }
.wf-inactive .events .events-index dl dd ul li .byline {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: bold; }

ul.pager {
  display: block;
  clear: both;
  width: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
  padding: 0.5em; }
  ul.pager li {
    display: inline;
    padding-right: 0.3em; }

/* ==========================================================================
   Calendar Module
   ========================================================================== */
.calendar hgroup {
  width: 100%;
  text-align: center;
  display: block;
  margin-bottom: 1em; }
  .calendar hgroup * {
    text-align: center;
    line-height: 2rem;
    margin: 0 2rem; }
  .calendar hgroup a.prev:before {
    content: "<";
    font-family: CUMCLogos;
    margin: 0 .5em; }
  .calendar hgroup a.next:after {
    content: ">";
    font-family: CUMCLogos;
    margin: 0 .5em; }
  .calendar hgroup a:hover {
    color: #e98300; }
.calendar table tr th {
  display: none; }
.calendar table tr td {
  float: left;
  clear: left;
  padding: 0;
  margin: 0;
  width: 100%; }
  .calendar table tr td.today {
    background: #f7b000; }
    .calendar table tr td.today span.calendardate {
      color: white;
      background: none;
      opacity: .25; }
    .calendar table tr td.today ul:before {
      content: "TODAY";
      display: block;
      color: #1b4585;
      margin: 0;
      padding: .5em;
      font-family: "Avenir LT W01 85 Heavy", "Avenir", "Helvetica", "Arial", "sans-serif"; }
    .calendar table tr td.today li, .calendar table tr td.today dd {
      padding: 2.5%; }
      .calendar table tr td.today li a:hover, .calendar table tr td.today dd a:hover {
        color: white; }
      .calendar table tr td.today li .eventtime, .calendar table tr td.today dd .eventtime {
        color: white; }
  .calendar table tr td span.calendardate {
    float: left;
    display: block;
    color: #1b4585;
    background: #dfe8f4;
    width: 95%;
    margin: 0;
    padding: .5em;
    font-family: "Avenir LT W01 85 Heavy", "Avenir", "Helvetica", "Arial", "sans-serif"; }
  .calendar table tr td ul, .calendar table tr td dl {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 70%; }
    .calendar table tr td ul li, .calendar table tr td ul dd, .calendar table tr td dl li, .calendar table tr td dl dd {
      margin: 0;
      padding: .25em 0;
      font-size: .85rem; }
      .calendar table tr td ul li img, .calendar table tr td ul dd img, .calendar table tr td dl li img, .calendar table tr td dl dd img {
        display: none; }
      .calendar table tr td ul li a:hover, .calendar table tr td ul dd a:hover, .calendar table tr td dl li a:hover, .calendar table tr td dl dd a:hover {
        color: orange; }
      .calendar table tr td ul li h1, .calendar table tr td ul dd h1, .calendar table tr td dl li h1, .calendar table tr td dl dd h1 {
        font-size: 1rem;
        font-family: "Avenir LT W01 85 Heavy", "Avenir", "Helvetica", "Arial", "sans-serif";
        margin: 0;
        line-height: 1.15em; }
      .calendar table tr td ul li h2, .calendar table tr td ul dd h2, .calendar table tr td dl li h2, .calendar table tr td dl dd h2 {
        font-size: .85rem;
        margin: 0;
        line-height: 1.15em; }
      .calendar table tr td ul li h3, .calendar table tr td ul dd h3, .calendar table tr td dl li h3, .calendar table tr td dl dd h3 {
        font-size: .85rem;
        font-family: "Avenir LT W01 85 Heavy", "Avenir", "Helvetica", "Arial", "sans-serif";
        margin: 0;
        line-height: 1.15em; }
      .calendar table tr td ul li .primary-category, .calendar table tr td ul dd .primary-category, .calendar table tr td dl li .primary-category, .calendar table tr td dl dd .primary-category {
        display: none; }
      .calendar table tr td ul li .eventtime, .calendar table tr td ul dd .eventtime, .calendar table tr td dl li .eventtime, .calendar table tr td dl dd .eventtime {
        color: #e98300; }
      .calendar table tr td ul li .byline, .calendar table tr td ul dd .byline, .calendar table tr td dl li .byline, .calendar table tr td dl dd .byline {
        font-size: .55em;
        text-transform: uppercase;
        font-family: "Avenir LT W01 85 Heavy", "Avenir", "Helvetica", "Arial", "sans-serif";
        color: #73757a; }
      .calendar table tr td ul li p, .calendar table tr td ul dd p, .calendar table tr td dl li p, .calendar table tr td dl dd p {
        display: none; }

.wf-inactive .calendar table tr td ul:before {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: bold; }
.wf-inactive .calendar table tr td span.calendardate {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: bold; }
.wf-inactive .calendar table tr td ul li h1, .wf-inactive .calendar table tr td ul dd h1, .wf-inactive .calendar table tr td dl li h1, .wf-inactive .calendar table tr td dl dd h1 {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: bold; }
.wf-inactive .calendar table tr td ul li h3, .wf-inactive .calendar table tr td ul dd h3, .wf-inactive .calendar table tr td dl li h3, .wf-inactive .calendar table tr td dl dd h3 {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: bold; }
.wf-inactive .calendar table tr td ul li .byline, .wf-inactive .calendar table tr td ul dd .byline, .wf-inactive .calendar table tr td dl li .byline, .wf-inactive .calendar table tr td dl dd .byline {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: bold; }

.calendar-calendar div.calendar {
  font-size: 0.8em; }

.calendar-calendar .month-view .full td.single-day div.monthview {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat; }
.calendar-calendar .month-view .full td.multi-day div.monthview {
  background: #e8e8e8; }

.calendar.monthview a:hover {
  color: #1b4585; }

.lt-ie9 .calendar.mini {
  width: auto; }
  .lt-ie9 .calendar.mini table tr td {
    clear: none;
    width: auto;
    float: none; }
    .lt-ie9 .calendar.mini table tr td.single-day .month-view {
      background: white;
      color: black; }
  .lt-ie9 .calendar.mini table tr.single-day.no-entry, .lt-ie9 .calendar.mini table tr.single-day.past, .lt-ie9 .calendar.mini table tr.single-day.past.empty, .lt-ie9 .calendar.mini table tr.date-box {
    display: none; }
  .lt-ie9 .calendar.mini .button {
    background: none;
    border: none;
    font-size: 0.8em;
    color: #1b4585;
    font-family: "AvenirLTW01-55Oblique", "Avenir", "Helvetica", "Arial", "sans-serif";
    float: right; }

.wf-inactive .lt-ie9 .calendar.mini .button {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-style: italic; }

.lt-ie9 .front .calendar-calendar .month-view .full tr.single-day .no-entry, .lt-ie9 .front .calendar-calendar .month-view .full tr.single-day td.single-day.past.empty {
  display: none; }

.lt-ie9 .front .calendar-calendar .month-view .full TR TD.single-day {
  display: block;
  float: left;
  border-left: none;
  border-right: none; }

.lt-ie8 .front .calendar-calendar .month-view .full TR TD.single-day {
  width: 100%; }

.lt-ie9 .front .calendar-calendar .month-view .full TR TD.today.single-day {
  border-bottom: none; }

.lt-ie9 .calendar-calendar .month-view .full TD.single-day .inner DIV {
  display: block;
  float: left;
  width: 100%;
  clear: both; }

.lt-ie9 .calendar-calendar .month-view .full TD.single-day DIV.monthview {
  background: white; }

.lt-ie9 .calendar-calendar .month-view .full TD .inner DIV.monthview.calendar DIV A {
  font-size: 1.3em; }

/* ==========================================================================
   Basic Accordion
   ========================================================================== */
.accordion dt {
  font-family: "Avenir LT W01 85 Heavy", "Avenir", "Helvetica", "Arial", "sans-serif";
  cursor: pointer;
  padding: .5em 0;
  border-top: solid 1px #efefea; }
  .accordion dt.active {
    color: #0090df; }

.wf-inactive .accordion .ui-accordion-header {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: 600; }

.button.addtocalendar {
  background: none;
  display: inline;
  clear: none;
  padding: 0.2em 1em 0.2em 0.3em;
  margin: 0.2em 0 0 0.1em;
  text-transform: none;
  font-size: .9em;
  font-style: normal;
  color: #5d0030; }
  .button.addtocalendar:hover {
    background: none;
    color: #b00077; }

.calendar table tr td ul li .eventtime, .calendar table tr td ul dd .eventtime, .calendar table tr td dl li .eventtime, .calendar table tr td dl dd .eventtime {
  color: #2d2e31; }

/* ==========================================================================
   Doctor Index Card
   ========================================================================== */
.faculty {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%; }

.resultscard {
  border-bottom: solid 1px #bec1c7;
  padding: .5em 0;
  width: 25%;
  min-width: 210px;
  height: 170px;
  font-size: .85em;
  float: left;
  clear: none;
  position: relative;
  margin-right: 2.5%; }
  .resultscard:hover {
    background: #efefea; }
  .resultscard .profile_link {
    padding: 2px;
    margin: 0 5% 0 0;
    width: 100%;
    float: left;
    position: absolute;
    max-width: 100%;
    background-color: transparent; }
    .resultscard .profile_link img {
      background: white; }
    .resultscard .profile_link .headshot {
      width: 100%;
      float: left;
      max-width: 118px;
      border: solid 1px #bec1c7;
      padding: 2.5%; }
    .resultscard .profile_link span {
      display: none; }
  .resultscard h2 {
    font-size: 1em;
    margin: 0 0 0 37%;
    width: auto;
    z-index: 50; }
    .resultscard h2 span {
      display: block;
      font-size: .75rem; }
  .resultscard h3 {
    font-size: 1rem;
    margin: .75em 0 .5em 0;
    clear: left; }
    .resultscard h3 span {
      font-weight: normal; }
  .resultscard section {
    float: left;
    margin-bottom: .75em;
    width: 60%; }
    .resultscard section dl {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 1rem;
      line-height: 1.25em; }
      .resultscard section dl dt {
        padding: 0;
        margin: .75em 0 .5em 0; }
      .resultscard section dl dd {
        padding: 0;
        margin: 0; }
  .resultscard ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0; }
    .resultscard ul li {
      float: left;
      clear: left; }
      .resultscard ul li h3 {
        font-size: 1rem; }
  .resultscard section {
    float: right;
    margin-left: 37%;
    width: auto;
    padding: 0;
    font-size: .85rem; }
    .resultscard section.administrative_titles {
      font-size: .75rem; }
      .resultscard section.administrative_titles ul li {
        margin-bottom: .5em; }
  .resultscard .locations span {
    display: block; }

.lt-ie9 .resultscard .profile_link {
  left: 0; }

/* ==========================================================================
   Front Page Feature Slideshow
   ========================================================================== */
.nursing-feature-slide {
  max-width: 1400px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }
  .nursing-feature-slide .image-wrapper {
    padding: 0 !important; }
  .nursing-feature-slide .feature-wrap-overlay {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 1550px;
    height: 230px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, black));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
    z-index: 50;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .nursing-feature-slide .slide-info {
    display: block;
    width: 90%;
    max-width: 800px;
    height: auto;
    float: right;
    padding: 1em 4% 0 4%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    background: rgba(0, 0, 0, 0);
    z-index: 99;
    text-align: center;
    font-family: "Minion W01 Regular","Minion Pro","Georgia", "serif";
    font-weight: normal;
    font-style: normal; }
    .nursing-feature-slide .slide-info b, .nursing-feature-slide .slide-info strong {
      font-family: "Minion W01 Bd","Minion Pro","Georgia", "serif";
      font-weight: normal;
      font-style: normal; }
    .nursing-feature-slide .slide-info i, .nursing-feature-slide .slide-info em {
      font-family: "Minion W01 It","Minion Pro","Georgia", "serif";
      font-weight: normal;
      font-style: normal; }
    .nursing-feature-slide .slide-info b i, .nursing-feature-slide .slide-info b em, .nursing-feature-slide .slide-info i b, .nursing-feature-slide .slide-info em b, .nursing-feature-slide .slide-info strong i, .nursing-feature-slide .slide-info strong em, .nursing-feature-slide .slide-info i strong, .nursing-feature-slide .slide-info em strong {
      font-family: "Minion W01 Bd It","Minion Pro","Georgia", "serif";
      font-weight: normal;
      font-style: normal; }
  .nursing-feature-slide a.feature-tag {
    display: block;
    background: white;
    color: black;
    text-transform: uppercase;
    padding: 0.2em 1em 0 1em;
    margin: -30px auto 0 auto;
    float: none;
    font-size: 0.8em;
    clear: both;
    opacity: 0.7;
    font-family: "AvenirLTW01-55Oblique", "Avenir", "Helvetica", "Arial", "sans-serif";
    width: 75px; }
  .nursing-feature-slide a.arrow {
    font-size: 2em;
    margin: 0 auto 1em auto;
    float: none;
    display: block;
    color: white; }
  .nursing-feature-slide a.slidephrase {
    font-size: 4.1em;
    color: white;
    line-height: 90%;
    font-family: "AvenirLTW01-85HeavyObli", "Avenir", "Helvetica", "Arial", "sans-serif";
    display: block;
    clear: both;
    padding: 0.3em 0 0.3em 0;
    opacity: 1;
    margin: 0 0 -0.5em 0;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.7); }
  .nursing-feature-slide .views_slideshow_controls_text {
    position: absolute;
    bottom: 20px;
    text-indent: -9999px; }
    .nursing-feature-slide .views_slideshow_controls_text a {
      font-size: 1em;
      display: none; }
  .nursing-feature-slide .blurb {
    font-size: 1em;
    font-family: "Avenir LT W01 35 Light", "Avenir", "Helvetica", "Arial", "sans-serif";
    display: block;
    margin: 1em 0 0 0;
    color: white;
    opacity: 1;
    cursor: pointer; }

.wf-inactive .nursing-feature-slide .slide-info {
  font-family: "Georgia", "serif";
  font-weight: normal;
  font-style: normal; }
  .wf-inactive .nursing-feature-slide .slide-info b, .wf-inactive .nursing-feature-slide .slide-info strong {
    font-family: "Georgia", "serif";
    font-weight: bold;
    font-style: normal; }
  .wf-inactive .nursing-feature-slide .slide-info i, .wf-inactive .nursing-feature-slide .slide-info em {
    font-family: "Georgia", "serif";
    font-weight: normal;
    font-style: italic; }
  .wf-inactive .nursing-feature-slide .slide-info b i, .wf-inactive .nursing-feature-slide .slide-info b em, .wf-inactive .nursing-feature-slide .slide-info i b, .wf-inactive .nursing-feature-slide .slide-info em b, .wf-inactive .nursing-feature-slide .slide-info strong i, .wf-inactive .nursing-feature-slide .slide-info strong em, .wf-inactive .nursing-feature-slide .slide-info i strong, .wf-inactive .nursing-feature-slide .slide-info em strong {
    font-family: "Georgia", "serif";
    font-weight: bold;
    font-style: italic; }
.wf-inactive .nursing-feature-slide a.feature-tag {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-style: italic; }
.wf-inactive .nursing-feature-slide a.slidephrase {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-style: italic;
  font-weight: 800; }
.wf-inactive .nursing-feature-slide .blurb {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: 100; }

.lt-ie9 .nursing-feature-slide {
  width: 100%; }
  .lt-ie9 .nursing-feature-slide .slide-info {
    font-size: 4em;
    line-height: 1em;
    font-family: "AvenirLTW01-55Oblique", "Avenir", "Helvetica", "Arial", "sans-serif";
    margin-bottom: 1em; }
    .lt-ie9 .nursing-feature-slide .slide-info a {
      color: white; }
    .lt-ie9 .nursing-feature-slide .slide-info .blurb {
      display: none; }

.wf-inactive .lt-ie9 .nursing-feature-slide .slide-info {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-style: italic; }

.lt-ie8 .nursing-feature-slide .slide-info {
  left: 21%;
  width: 47%; }
.lt-ie8 .nursing-feature-slide .views-slideshow-controls-text {
  margin-top: 240px; }

.nursing-feature-slide .views_slideshow_controls_text {
  position: relative;
  bottom: auto;
  text-indent: -9999px; }

#views_slideshow_controls_text_pause_nursing_front_feature_slide-block {
  display: none; }

.views-slideshow-controls-text-previous {
  display: block;
  float: left;
  cursor: pointer;
  width: 29px;
  height: 51px;
  background: url(../img/left-arrow.png) no-repeat;
  background-size: 100% auto;
  margin: 0 0 0 2%;
  opacity: 0.7;
  text-indent: -99999px; }

.views-slideshow-controls-text-next {
  display: block;
  float: right;
  cursor: pointer;
  width: 29px;
  height: 51px;
  background: url(../img/right-arrow.png) no-repeat;
  background-size: 100% auto;
  margin: 0 2% 0 0;
  opacity: 0.7;
  text-indent: -99999px; }

.front .view-nursing-news-front .views_slideshow_slide {
  height: 500px; }

.front .views_slideshow_slide {
  height: 500px;
  width: 1400px;
  max-width: 100%; }

.front .nursing-feature-slide ul.field-related-external-links {
  display: none; }

.front .nursing-feature-slide .image-wrapper, .front .nursing-feature-slide .image-wrapper.feature-image .fieldset-wrapper {
  max-height: 500px !important; }

.front .views-slideshow-cycle-main-frame {
  max-width: 100%;
  background: black; }

/* ==========================================================================
   Front Page Callouts and Buttons
   ========================================================================== */
a.apply-now {
  display: block;
  float: left;
  background: #2d2e31 url(../img/apply-now.png) no-repeat;
  background-size: cover;
  font-family: "Minion W01 Regular", "Minion Pro", "Georgia", "serif";
  color: white;
  padding: 1em 2%;
  margin: 0.2em 0 1em 0;
  width: 96%;
  text-align: center;
  font-weight: 100;
  font-size: 1em;
  line-height: 120%; }
  a.apply-now:hover {
    opacity: 0.9; }
  a.apply-now .apply-now-large {
    font-size: 1.5em; }
  a.apply-now .rule {
    width: 68%;
    display: block;
    clear: both;
    border-top: 1px solid white;
    margin: 0.2em auto; }
a.support {
  display: block;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
  background: #0090DF;
  color: #2d2e31;
  color: white;
  clear: both;
  float: left;
  text-align: center;
  width: 100%;
  padding: 0.7em 0;
  margin: 0.5em 0;
  font-size: 1em; }
  a.support:hover {
    opacity: 0.8; }
a.newsletter {
  display: block;
  background: #0d275f url(../img/newsletter.png) no-repeat;
  background-size: cover;
  color: white;
  clear: both;
  float: left;
  text-align: center;
  width: 100%;
  padding: 0.7em 0;
  margin: 1em 0 0.5em 0;
  font-size: 1em; }
  a.newsletter:hover {
    background: #1b4585 url(../img/newsletter.png) no-repeat; }

.front-callout {
  display: block;
  float: left;
  margin: 1em 0;
  padding: 1em 3% 0.5em 3%;
  width: 94%;
  clear: left; }
  .front-callout a.mag {
    background: url(../img/mag-thumb.png) no-repeat;
    width: 200px;
    height: 200px;
    text-indent: -99999px;
    display: block;
    float: left; }
  .front-callout a:hover {
    opacity: 0.8; }
  .front-callout p {
    color: #999; }
  .front-callout.mid {
    background: rgba(0, 0, 0, 0.1);
    clear: none; }
  .front-callout.last {
    clear: none; }
  .front-callout.mag {
    color: black !important; }
    .front-callout.mag a {
      color: #666 !important;
      font-size: 2em;
      line-height: 100%;
      font-family: "Minion W01 It", "Minion Pro", "Georgia", "serif"; }
      .front-callout.mag a:hover {
        opacity: 0.8; }
    .front-callout.mag a.mag-title {
      margin-top: 1em;
      display: block;
      clear: right; }
      .front-callout.mag a.mag-title:hover {
        background: none;
        opacity: 0.8; }
    .front-callout.mag a.issue {
      color: #999 !important;
      display: block;
      clear: right; }
      .front-callout.mag a.issue:hover {
        background: none;
        opacity: 0.8; }
    .front-callout.mag p {
      display: inline !important;
      float: none !important;
      max-width: 45% !important;
      font-size: 0.6em !important;
      line-height: 110% !important;
      color: #999; }
    .front-callout.mag img {
      display: block;
      float: left;
      margin: -5px 1% 0.5em 0;
      max-width: 25%;
      -webkit-transition: 0.3s all ease;
      -moz-transition: 0.3s all ease;
      transition: 0.3s all ease; }
      .front-callout.mag img:hover {
        cursor: pointer;
        opacity: 0.7;
        -webkit-transition: 0.3s all ease;
        -moz-transition: 0.3s all ease;
        transition: 0.3s all ease; }
  .front-callout img {
    max-width: 100%;
    height: auto; }

.wf-inactive .front-callout.mag a {
  font-family: "Georgia", "serif";
  font-style: italic; }

.not-front .front-callout.mag a.mag-title {
  margin-top: 7.3em;
  clear: both;
  line-height: 110%; }

/* ==========================================================================
   Connect Information
   ========================================================================== */
.connect-wrap {
  background: #0065bd;
  float: left;
  padding: 2.5%;
  width: 95%; }
  .connect-wrap a.newsletter-link {
    background: white;
    display: block;
    width: 90%;
    padding: 5%;
    text-align: center;
    color: #73757a;
    opacity: .75; }
    .connect-wrap a.newsletter-link:hover {
      opacity: 1; }
  .connect-wrap .social-media-links {
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    width: 100%; }
    .connect-wrap .social-media-links li {
      margin: 0;
      padding: 0;
      display: block;
      float: left;
      width: 25%;
      text-align: center;
      overflow: hidden; }
      .connect-wrap .social-media-links li a {
        width: 25px;
        height: 25px;
        display: block;
        margin: 1em auto;
        text-indent: -99999px;
        opacity: .75; }
        .connect-wrap .social-media-links li a:hover {
          opacity: 1; }
        .connect-wrap .social-media-links li a.facebook {
          background: url(../img/fb.png) no-repeat; }
        .connect-wrap .social-media-links li a.linkedin {
          background: url(../img/li.png) no-repeat; }
        .connect-wrap .social-media-links li a.twitter {
          background: url(../img/twitter.png) no-repeat; }
        .connect-wrap .social-media-links li a.youtube {
          background: url(../img/yt.png) no-repeat; }

.sidebar .connect-wrap {
  margin-bottom: 2em; }

.lt-ie9 .connect-wrap .social-media-links li {
  width: 52px; }

footer .connect-wrap {
  width: auto;
  max-width: 210px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.2); }
  footer .connect-wrap ul {
    max-width: 100%; }

.half {
  width: 50%;
  height: auto; }
  .half.left {
    float: left;
    margin: 0 2em 2em 0; }
  .half.right {
    float: right;
    margin: 0 0 2em 2em; }

.videoWrapper {
  border: 1px solid #999999;
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.2);
  margin: 0 0 1em;
  max-height: 100%;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
  z-index: 0; }
  .videoWrapper.half {
    padding-bottom: 28.125%;
    width: 48%;
    float: left;
    margin: 0 2em 2em 0; }
    .videoWrapper.half.left {
      float: left;
      margin: 0 2em 2em 0; }
    .videoWrapper.half.right {
      float: right;
      margin: 0 0 2em 2em; }
  .videoWrapper iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

#video section {
  padding: 10% 20%;
  z-index: -1; }

/* ==========================================================================
   Global Footer
   ========================================================================== */
.region-globalfooter {
  font-family: "Avenir LT W01 55 Roman","Avenir","Helvetica","Arial","sans-serif";
  font-weight: normal;
  font-style: normal;
  background: #73757a;
  color: white;
  padding-top: 1em; }
  .region-globalfooter b, .region-globalfooter strong {
    font-family: "Avenir LT W01 85 Heavy","Avenir","Helvetica","Arial","sans-serif";
    font-weight: normal;
    font-style: normal; }
  .region-globalfooter i, .region-globalfooter em {
    font-family: "AvenirLTW01-55Oblique","Avenir","Helvetica","Arial","sans-serif";
    font-weight: normal;
    font-style: normal; }
  .region-globalfooter b i, .region-globalfooter b em, .region-globalfooter i b, .region-globalfooter em b, .region-globalfooter strong i, .region-globalfooter strong em, .region-globalfooter i strong, .region-globalfooter em strong {
    font-family: "AvenirLTW01-85HeavyObli","Avenir","Helvetica","Arial","sans-serif";
    font-weight: normal;
    font-style: normal; }
  .region-globalfooter a {
    color: white; }
  .region-globalfooter nav ul {
    padding: 0;
    margin: 0;
    margin-top: 1em; }
    .region-globalfooter nav ul li a {
      font-size: 1.15rem;
      text-decoration: none;
      color: #2d2e31;
      display: block;
      padding: .25rem;
      clear: both;
      color: white; }
      .region-globalfooter nav ul li a:hover, .region-globalfooter nav ul li a .ui-state-active a {
        background: #0090df;
        color: white;
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out; }
  .region-globalfooter div {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    margin-bottom: 2rem; }
    .region-globalfooter div ul {
      margin: 1rem 0;
      padding: 0;
      float: left;
      width: 100%; }
      .region-globalfooter div ul li {
        list-style: none;
        margin: 0;
        padding: 0; }
    .region-globalfooter div h3 {
      font-size: 1rem; }
  .region-globalfooter ul.general_info {
    float: left;
    clear: both;
    width: 100%;
    padding-bottom: 2em; }
    .region-globalfooter ul.general_info li {
      float: left; }

.wf-inactive .region-globalfooter {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: normal;
  font-style: normal; }
  .wf-inactive .region-globalfooter b, .wf-inactive .region-globalfooter strong {
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: bold;
    font-style: normal; }
  .wf-inactive .region-globalfooter i, .wf-inactive .region-globalfooter em {
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: normal;
    font-style: italic; }
  .wf-inactive .region-globalfooter b i, .wf-inactive .region-globalfooter b em, .wf-inactive .region-globalfooter i b, .wf-inactive .region-globalfooter em b, .wf-inactive .region-globalfooter strong i, .wf-inactive .region-globalfooter strong em, .wf-inactive .region-globalfooter i strong, .wf-inactive .region-globalfooter em strong {
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: bold;
    font-style: italic; }

/* ==========================================================================
   Drupal Specific Modules
   ========================================================================== */
.messages {
  background: yellow; }

@media only screen and (max-width: 65em) {
  .news {
    width: 100%; }
    .news.nursing-front {
      width: 100%; }

  .front sidebar, .front .sidebar {
    margin: 1em 0 0 0;
    width: 100% !important; } }
