/*
Syntax error: Undefined variable: "$cumcgray".
        on line 27 of sass/state.scss

22: div.drawershow {
23:     -webkit-transition: 0.2s all ease-in-out;
24:         -moz-transition: 0.2s all ease-in-out;
25:         transition: 0.2s all ease-in-out;
26:     &:hover {
27:         background: $cumcgray;
28:         -webkit-transition: 0.2s all ease-in-out;
29:         -moz-transition: 0.2s all ease-in-out;
30:         transition: 0.2s all ease-in-out;
31:         }
32: }

Backtrace:
sass/state.scss:27
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/script/variable.rb:49:in `_perform'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/script/node.rb:40:in `perform'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:298:in `visit_prop'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:362:in `visit_media'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/root_node.rb:20:in `render'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/engine.rb:315:in `_render'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/engine.rb:262:in `render'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:203:in `update_stylesheets'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `each'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:283:in `watch'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:117:in `initialize_adapter'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/adapter.rb:198:in `call'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/adapters/darwin.rb:38:in `start'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/adapters/darwin.rb:38:in `initialize'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/adapters/darwin.rb:38:in `new'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/adapters/darwin.rb:38:in `start'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:44:in `start'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:291:in `watch'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/exec.rb:455:in `watch_or_update'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/exec.rb:318:in `process_result'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/Users/Aaron/.gem/ruby/1.8/gems/sass-3.2.10/bin/sass:9
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$cumcgray\".\A         on line 27 of sass/state.scss\A \A 22: div.drawershow {\A 23:     -webkit-transition: 0.2s all ease-in-out;\A 24:         -moz-transition: 0.2s all ease-in-out;\A 25:         transition: 0.2s all ease-in-out;\A 26:     &:hover {\A 27:         background: $cumcgray;\A 28:         -webkit-transition: 0.2s all ease-in-out;\A 29:         -moz-transition: 0.2s all ease-in-out;\A 30:         transition: 0.2s all ease-in-out;\A 31:         }\A 32: }"; }
