/* ==========================================================================
   SASS variables and mix-ins
   ========================================================================== */
/* ========== Basic CUMC Colors ============= */
/* ========== highlighted ============= */
/* ========== Darkened ============= */
/* ========== New Colors ============= */
/* ==========================================================================
  Core Typography
   ========================================================================== */
body {
  font-size: 100%;
  /* Fixes exaggerated text resizing in IE6 and IE7 */ }

body {
  font-family: "Avenir LT W01 55 Roman", "Avenir", "Helvetica", "Arial", "sans-serif";
  font-size: 16px;
  color: #333; }
  body ::selection {
    background: #2c68b2; }

.wf-inactive body {
  font-family: "Helvetica", "Arial", "sans-serif"; }

/* ----------- Webfont Default Heading Styles -----------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  line-height: 1.25em;
  font-size: 1em;
  font-weight: normal; }

h1 {
  font-family: "Avenir LT W01 85 Heavy", "Avenir", "Helvetica", "Arial", "sans-serif";
  font-size: 2em;
  color: #333; }

h2 {
  font-family: "Avenir LT W01 55 Roman", "Avenir", "Helvetica", "Arial", "sans-serif";
  font-size: 2em;
  color: #666; }

h3 {
  font-family: "Avenir LT W01 85 Heavy", "Avenir", "Helvetica", "Arial", "sans-serif";
  font-size: 1.5em;
  color: #333; }

h4 {
  font-family: "Avenir LT W01 55 Roman", "Avenir", "Helvetica", "Arial", "sans-serif";
  font-size: 1.35em;
  color: #666; }

h5 {
  font-family: "Avenir LT W01 85 Heavy", "Avenir", "Helvetica", "Arial", "sans-serif";
  font-size: 1.2em;
  color: #666; }

h6 {
  font-family: "Avenir LT W01 85 Heavy", "Avenir", "Helvetica", "Arial", "sans-serif";
  font-size: 1em;
  color: #666; }

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: -0.5em; }

/* ----------- Fallback Default Heading Styles -----------
 * .wf-inactive applied to html element when webfontloader reports that fonts are not loaded
 */
.wf-inactive h1,
.wf-inactive h2,
.wf-inactive h3,
.wf-inactive h4,
.wf-inactive h5,
.wf-inactive h6 {
  font-family: "Helvetica", "Arial", "sans-serif";
  margin: 0 0 0.5em 0;
  line-height: 1.25em;
  font-size: 1em;
  font-weight: bold; }

.wf-inactive h1 {
  font-size: 2em;
  color: #333; }

.wf-inactive h2 {
  font-size: 2em;
  color: #666;
  font-weight: normal; }

.wf-inactive h3 {
  font-size: 1.5em;
  color: #333;
  font-weight: bold !important; }

.wf-inactive h4 {
  font-size: 1.5em;
  color: #666;
  font-weight: normal; }

.wf-inactive h5 {
  font-size: 1.25em;
  color: #666;
  font-weight: bold !important; }

.wf-inactive h6 {
  font-size: 1em;
  color: #666;
  font-weight: bold !important; }

/* ----------- Default Typographic Styles -----------*/
p + p {
  margin-top: -1em;
  text-indent: 1.5em; }

p {
  margin: 0 0 1em 0;
  line-height: 1.5em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  max-width: 52em; }

.intro {
  font-size: 1.75em;
  display: block;
  margin-bottom: 1em;
  letter-spacing: -.025em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  color: #dd5d00; }

.maincontent p {
  font-family: "Minion W01 Regular","Minion Pro","Georgia", "serif";
  font-weight: normal;
  font-style: normal; }
  .maincontent p b, .maincontent p strong {
    font-family: "Minion W01 Bd","Minion Pro","Georgia", "serif";
    font-weight: normal;
    font-style: normal; }
  .maincontent p i, .maincontent p em {
    font-family: "Minion W01 It","Minion Pro","Georgia", "serif";
    font-weight: normal;
    font-style: normal; }
  .maincontent p b i, .maincontent p b em, .maincontent p i b, .maincontent p em b, .maincontent p strong i, .maincontent p strong em, .maincontent p i strong, .maincontent p em strong {
    font-family: "Minion W01 Bd It","Minion Pro","Georgia", "serif";
    font-weight: normal;
    font-style: normal; }
  .maincontent p.intro {
    font-size: 1.75em;
    display: block;
    margin-bottom: 1em;
    font-family: "Avenir LT W01 55 Roman","Avenir","Helvetica","Arial","sans-serif";
    font-weight: normal;
    font-style: normal;
    letter-spacing: -.025em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    color: #dd5d00; }
    .maincontent p.intro b, .maincontent p.intro strong {
      font-family: "Avenir LT W01 85 Heavy","Avenir","Helvetica","Arial","sans-serif";
      font-weight: normal;
      font-style: normal; }
    .maincontent p.intro i, .maincontent p.intro em {
      font-family: "AvenirLTW01-55Oblique","Avenir","Helvetica","Arial","sans-serif";
      font-weight: normal;
      font-style: normal; }
    .maincontent p.intro b i, .maincontent p.intro b em, .maincontent p.intro i b, .maincontent p.intro em b, .maincontent p.intro strong i, .maincontent p.intro strong em, .maincontent p.intro i strong, .maincontent p.intro em strong {
      font-family: "AvenirLTW01-85HeavyObli","Avenir","Helvetica","Arial","sans-serif";
      font-weight: normal;
      font-style: normal; }
.maincontent ul, .maincontent dl, .maincontent ol {
  font-family: "Minion W01 Regular","Minion Pro","Georgia", "serif";
  font-weight: normal;
  font-style: normal; }
  .maincontent ul b, .maincontent ul strong, .maincontent dl b, .maincontent dl strong, .maincontent ol b, .maincontent ol strong {
    font-family: "Minion W01 Bd","Minion Pro","Georgia", "serif";
    font-weight: normal;
    font-style: normal; }
  .maincontent ul i, .maincontent ul em, .maincontent dl i, .maincontent dl em, .maincontent ol i, .maincontent ol em {
    font-family: "Minion W01 It","Minion Pro","Georgia", "serif";
    font-weight: normal;
    font-style: normal; }
  .maincontent ul b i, .maincontent ul b em, .maincontent ul i b, .maincontent ul em b, .maincontent ul strong i, .maincontent ul strong em, .maincontent ul i strong, .maincontent ul em strong, .maincontent dl b i, .maincontent dl b em, .maincontent dl i b, .maincontent dl em b, .maincontent dl strong i, .maincontent dl strong em, .maincontent dl i strong, .maincontent dl em strong, .maincontent ol b i, .maincontent ol b em, .maincontent ol i b, .maincontent ol em b, .maincontent ol strong i, .maincontent ol strong em, .maincontent ol i strong, .maincontent ol em strong {
    font-family: "Minion W01 Bd It","Minion Pro","Georgia", "serif";
    font-weight: normal;
    font-style: normal; }
.maincontent table ul, .maincontent table dl, .maincontent table ol {
  font-family: "Avenir LT W01 55 Roman","Avenir","Helvetica","Arial","sans-serif";
  font-weight: normal;
  font-style: normal; }
  .maincontent table ul b, .maincontent table ul strong, .maincontent table dl b, .maincontent table dl strong, .maincontent table ol b, .maincontent table ol strong {
    font-family: "Avenir LT W01 85 Heavy","Avenir","Helvetica","Arial","sans-serif";
    font-weight: normal;
    font-style: normal; }
  .maincontent table ul i, .maincontent table ul em, .maincontent table dl i, .maincontent table dl em, .maincontent table ol i, .maincontent table ol em {
    font-family: "AvenirLTW01-55Oblique","Avenir","Helvetica","Arial","sans-serif";
    font-weight: normal;
    font-style: normal; }
  .maincontent table ul b i, .maincontent table ul b em, .maincontent table ul i b, .maincontent table ul em b, .maincontent table ul strong i, .maincontent table ul strong em, .maincontent table ul i strong, .maincontent table ul em strong, .maincontent table dl b i, .maincontent table dl b em, .maincontent table dl i b, .maincontent table dl em b, .maincontent table dl strong i, .maincontent table dl strong em, .maincontent table dl i strong, .maincontent table dl em strong, .maincontent table ol b i, .maincontent table ol b em, .maincontent table ol i b, .maincontent table ol em b, .maincontent table ol strong i, .maincontent table ol strong em, .maincontent table ol i strong, .maincontent table ol em strong {
    font-family: "AvenirLTW01-85HeavyObli","Avenir","Helvetica","Arial","sans-serif";
    font-weight: normal;
    font-style: normal; }

.wf-inactive .maincontent p {
  font-family: "Georgia", "serif";
  font-weight: normal;
  font-style: normal; }
  .wf-inactive .maincontent p b, .wf-inactive .maincontent p strong {
    font-family: "Georgia", "serif";
    font-weight: bold;
    font-style: normal; }
  .wf-inactive .maincontent p i, .wf-inactive .maincontent p em {
    font-family: "Georgia", "serif";
    font-weight: normal;
    font-style: italic; }
  .wf-inactive .maincontent p b i, .wf-inactive .maincontent p b em, .wf-inactive .maincontent p i b, .wf-inactive .maincontent p em b, .wf-inactive .maincontent p strong i, .wf-inactive .maincontent p strong em, .wf-inactive .maincontent p i strong, .wf-inactive .maincontent p em strong {
    font-family: "Georgia", "serif";
    font-weight: bold;
    font-style: italic; }
  .wf-inactive .maincontent p.intro {
    font-size: 1.75em;
    display: block;
    margin-bottom: 1em;
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    color: #dd5d00; }
    .wf-inactive .maincontent p.intro b, .wf-inactive .maincontent p.intro strong {
      font-family: "Helvetica", "Arial", "sans-serif";
      font-weight: bold;
      font-style: normal; }
    .wf-inactive .maincontent p.intro i, .wf-inactive .maincontent p.intro em {
      font-family: "Helvetica", "Arial", "sans-serif";
      font-weight: normal;
      font-style: italic; }
    .wf-inactive .maincontent p.intro b i, .wf-inactive .maincontent p.intro b em, .wf-inactive .maincontent p.intro i b, .wf-inactive .maincontent p.intro em b, .wf-inactive .maincontent p.intro strong i, .wf-inactive .maincontent p.intro strong em, .wf-inactive .maincontent p.intro i strong, .wf-inactive .maincontent p.intro em strong {
      font-family: "Helvetica", "Arial", "sans-serif";
      font-weight: bold;
      font-style: italic; }
.wf-inactive .maincontent ul, .wf-inactive .maincontent dl, .wf-inactive .maincontent ol {
  font-family: "Georgia", "serif";
  font-weight: normal;
  font-style: normal; }
  .wf-inactive .maincontent ul b, .wf-inactive .maincontent ul strong, .wf-inactive .maincontent dl b, .wf-inactive .maincontent dl strong, .wf-inactive .maincontent ol b, .wf-inactive .maincontent ol strong {
    font-family: "Georgia", "serif";
    font-weight: bold;
    font-style: normal; }
  .wf-inactive .maincontent ul i, .wf-inactive .maincontent ul em, .wf-inactive .maincontent dl i, .wf-inactive .maincontent dl em, .wf-inactive .maincontent ol i, .wf-inactive .maincontent ol em {
    font-family: "Georgia", "serif";
    font-weight: normal;
    font-style: italic; }
  .wf-inactive .maincontent ul b i, .wf-inactive .maincontent ul b em, .wf-inactive .maincontent ul i b, .wf-inactive .maincontent ul em b, .wf-inactive .maincontent ul strong i, .wf-inactive .maincontent ul strong em, .wf-inactive .maincontent ul i strong, .wf-inactive .maincontent ul em strong, .wf-inactive .maincontent dl b i, .wf-inactive .maincontent dl b em, .wf-inactive .maincontent dl i b, .wf-inactive .maincontent dl em b, .wf-inactive .maincontent dl strong i, .wf-inactive .maincontent dl strong em, .wf-inactive .maincontent dl i strong, .wf-inactive .maincontent dl em strong, .wf-inactive .maincontent ol b i, .wf-inactive .maincontent ol b em, .wf-inactive .maincontent ol i b, .wf-inactive .maincontent ol em b, .wf-inactive .maincontent ol strong i, .wf-inactive .maincontent ol strong em, .wf-inactive .maincontent ol i strong, .wf-inactive .maincontent ol em strong {
    font-family: "Georgia", "serif";
    font-weight: bold;
    font-style: italic; }
.wf-inactive .maincontent table ul, .wf-inactive .maincontent table dl, .wf-inactive .maincontent table ol {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: normal;
  font-style: normal; }
  .wf-inactive .maincontent table ul b, .wf-inactive .maincontent table ul strong, .wf-inactive .maincontent table dl b, .wf-inactive .maincontent table dl strong, .wf-inactive .maincontent table ol b, .wf-inactive .maincontent table ol strong {
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: bold;
    font-style: normal; }
  .wf-inactive .maincontent table ul i, .wf-inactive .maincontent table ul em, .wf-inactive .maincontent table dl i, .wf-inactive .maincontent table dl em, .wf-inactive .maincontent table ol i, .wf-inactive .maincontent table ol em {
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: normal;
    font-style: italic; }
  .wf-inactive .maincontent table ul b i, .wf-inactive .maincontent table ul b em, .wf-inactive .maincontent table ul i b, .wf-inactive .maincontent table ul em b, .wf-inactive .maincontent table ul strong i, .wf-inactive .maincontent table ul strong em, .wf-inactive .maincontent table ul i strong, .wf-inactive .maincontent table ul em strong, .wf-inactive .maincontent table dl b i, .wf-inactive .maincontent table dl b em, .wf-inactive .maincontent table dl i b, .wf-inactive .maincontent table dl em b, .wf-inactive .maincontent table dl strong i, .wf-inactive .maincontent table dl strong em, .wf-inactive .maincontent table dl i strong, .wf-inactive .maincontent table dl em strong, .wf-inactive .maincontent table ol b i, .wf-inactive .maincontent table ol b em, .wf-inactive .maincontent table ol i b, .wf-inactive .maincontent table ol em b, .wf-inactive .maincontent table ol strong i, .wf-inactive .maincontent table ol strong em, .wf-inactive .maincontent table ol i strong, .wf-inactive .maincontent table ol em strong {
    font-family: "Helvetica", "Arial", "sans-serif";
    font-weight: bold;
    font-style: italic; }

.lt-ie9 p {
  max-width: 100%; }

b, strong {
  font-family: "Avenir LT W01 85 Heavy", "Avenir", "Helvetica", "Arial", "sans-serif";
  font-weight: normal; }

i, em {
  font-family: "AvenirLTW01-55Oblique", "Avenir", "Helvetica", "Arial", "sans-serif";
  font-style: normal; }

b i,
i b,
strong em,
em strong {
  font-family: "AvenirLTW01-85HeavyObli", "Avenir", "Helvetica", "Arial", "sans-serif";
  font-weight: normal;
  font-style: normal; }

.wf-inactive b, .wf-inactive strong {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: bold; }

.wf-inactive i, .wf-inactive em {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-style: italic; }

.wf-inactive b i,
.wf-inactive i b,
.wf-inactive strong em,
.wf-inactive em strong {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: bold;
  font-style: italic; }

a {
  text-decoration: none;
  border: 0;
  color: #2c68b2; }

.lt-ie9 a {
  color: #1b4585; }

abbr, acronym {
  border-bottom: .1em dotted;
  cursor: help;
  font-size: .85em; }

time {
  font-family: "Avenir LT W01 35 Light", "Avenir", "Helvetica", "Arial", "sans-serif"; }

.wf-inactive time {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: 300; }

del {
  text-decoration: strikethrough; }

ins {
  text-decoration: none;
  border-bottom: dotted 1px #cccccc; }

ins:after {
  content: "(updated)";
  font-size: .65em;
  vertical-align: top;
  weight: 900; }

blockquote {
  margin: 1.5rem 3rem;
  display: inline-block;
  text-align: center; }

blockquote:before {
  content: "“";
  font-size: 6em;
  float: left;
  margin: -.35em 0 0 -.7em !important; }

blockquote:after {
  content: "”";
  font-size: 6em;
  line-height: 0;
  float: right;
  position: relative;
  top: .65em;
  right: -.4em; }

blockquote p:before {
  content: "â€œ"; }

blockquote p:first-child:before {
  content: ""; }

blockquote p + p:last-child:after {
  content: "â€"; }

blockquote p:last-child {
  margin-bottom: 1em; }

blockquote cite {
  font-family: "AvenirLTW01-85HeavyObli", "Avenir", "Helvetica", "Arial", "sans-serif"; }

.wf-inactive blockquote cite {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-style: italic;
  font-weight: 800; }

cite {
  font-family: "Minion W01 It", "Minion Pro", "Georgia", "serif";
  font-style: normal; }

.wf-inactive cite {
  font-family: "Georgia", "serif";
  font-style: italic; }

sub {
  font-size: .75em;
  vertical-align: bottom;
  bottom: 0.4em; }

sup {
  font-size: .75em;
  vertical-align: top; }

big {
  font-size: 1.5em; }

small {
  font-family: "Avenir LT W01 35 Light", "Avenir", "Helvetica", "Arial", "sans-serif"; }

.wf-inactive small {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-size: .75em;
  font-weight: 60; }

strike, s {
  text-decoration: strikethrough; }

pre {
  padding: 1em;
  margin: 1em;
  background: #ccc; }

/* ----------- some common classes -----------*/
.phone, .fax, .e-mail, .url {
  white-space: nowrap; }

.vcard {
  margin-bottom: 1em; }

/* ----------- Default list Styles -----------*/
ul,
ol,
dl {
  padding: 0 0 1em 2em;
  margin: 0 0 1em 0; }

ol ol {
  list-style-type: lower-latin; }

ol ol ol {
  list-style-type: lower-roman; }

ol ol ol ol {
  list-style-type: numeral; }

dt {
  font-family: "Avenir LT W01 85 Heavy", "Avenir", "Helvetica", "Arial", "sans-serif"; }

.wf-inactive dt {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: 800; }

dd {
  margin: 0 0 1em 0; }

dd + dd {
  margin: -1em 0 1em 0; }

/* ----------- Default Form Styles -----------*/
/* 
form { width: 75%;}
input {width: 40%; min-width: 308px; margin: 0 1% .25em 1%; height: 1.5em; padding: 0 .25em; float: left; border: solid 1px #ccc;}
input.half {width: 18.33%; min-width: 160px; margin: 0 1%;}
optgroup {}
label {width: 42%; margin: 0 1% .25em 0; min-height: 2em; float: left; clear: left; text-align: right; padding: .25em 0 0 0;}
textarea { margin: 0 1% .25em 1%; padding: .25em; float: left; border: solid 1px #ccc; width: 40%; min-width: 308px;}
select {width: 41%; min-width: 317px; padding: .25em; float: left; margin: 0 1% .25em 1%; background: none; border: solid 1px #ccc;}
input[type="checkbox"], input[type="radio"] {width: 1em; min-width: 1em; height: 1em; margin-top: .5em;}
input[type="button"], input[type="submit"] {width: auto; min-width: 0;}
input[type="button"]:hover, input[type="submit"]:hover {background: #333; color: white;}
option {}
legend { padding: 1em;}
fieldset {padding: 1em; border: solid #ccc; border-width: 1px 0 0 0;}
 */
table {
  margin: 0;
  padding: 0; }

tr {
  margin: 0;
  padding: 0; }

td {
  margin: 0;
  padding: .5em 1em;
  text-align: left;
  border-bottom: solid 1px #ccc; }

th {
  font-family: "Avenir LT W01 85 Heavy", "Avenir", "Helvetica", "Arial", "sans-serif"; }

.wf-inactive th {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: 600; }

th {
  margin: 0;
  padding: .5em 1em;
  text-align: left;
  text-transform: uppercase;
  border: solid #333;
  border-width: 0 0 2px 0; }

caption {
  text-align: left;
  font-family: "AvenirLTW01-55Oblique", "Avenir", "Helvetica", "Arial", "sans-serif"; }

.wf-inactive caption {
  text-align: left;
  font-family: "Helvetica", "Arial", "sans-serif";
  font-style: italic; }

thead {
  margin: 0;
  padding: 0;
  border: solid #333;
  border-width: 0 0 2px 0; }

tbody {
  margin: 0;
  padding: 0;
  background: none; }

tfoot {
  margin: 0;
  padding: 0;
  border: solid #333;
  border-width: 2px 0 0 0;
  background: #ccc; }

tfoot tr {
  border-width: 1px 0 0 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

table {
  border-collapse: collapse !important; }

table {
  max-width: 100%;
  background-color: transparent; }

th {
  text-align: left; }

table {
  width: 100%;
  margin-bottom: 20px; }

table thead > tr > th,
table tbody > tr > th,
table tfoot > tr > th,
table thead > tr > td,
table tbody > tr > td,
table tfoot > tr > td {
  padding: 1em;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd; }

table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd; }

table caption + thead tr:first-child th,
table colgroup + thead tr:first-child th,
table thead:first-child tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child td {
  border-top: 0; }

table tbody + tbody {
  border-top: 2px solid #dddddd; }

table table {
  background-color: #ffffff; }

@media (max-width: 768px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #dddddd; }

  .table-responsive > table {
    margin-bottom: 0;
    background-color: #fff; }

  .table-responsive > table > thead > tr > th,
  .table-responsive > table > tbody > tr > th,
  .table-responsive > table > tfoot > tr > th,
  .table-responsive > table > thead > tr > td,
  .table-responsive > table > tbody > tr > td,
  .table-responsive > table > tfoot > tr > td {
    white-space: nowrap; }

  .table-responsive > .table-bordered {
    border: 0; }

  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0; }

  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0; }

  .table-responsive > .table-bordered > thead > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > thead > tr:last-child > td,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0; } }
fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5; }

label {
  display: inline-block;
  margin-bottom: 5px;
  font-family: "Avenir LT W01 85 Heavy", "Avenir", "Helvetica", "Arial", "sans-serif"; }

.wf-inactive label {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: bold; }

input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="file"] {
  display: block; }

select[multiple],
select[size] {
  height: auto; }

select optgroup {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto; }

textarea.form-control {
  height: auto; }

radio,
checkbox {
  display: block;
  min-height: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle; }

radio label,
checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer; }

radio input[type="radio"],
radio-inline input[type="radio"],
checkbox input[type="checkbox"],
checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px; }

radio + radio,
checkbox + checkbox {
  margin-top: -5px; }

input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed; }

/* ----------- Default Block/Layout Element Styles -----------*/
/* ----------- Unstyled (i.e. left to the browser) Elements. To Be Completed as needed -----------*/
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
