/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 test
 */



@import 'mixins.scss';
@import 'base.scss';
@import 'typography.scss';
@import 'layout.scss';
@import 'module.scss'; 
@import 'profiles.scss'; 
@import 'helpers.scss';
@import 'state.scss';

 

    /*
     * THESE STYLES ARE JUST FORMATTING FOR THE MOODBOARDS AND SHOULD BE REMOVED FOR ANY REAL WORLD APPLICATION

body {margin: 0; padding: 0; }
body > section {margin: 0; float: left; clear: left; width: 100%;}
nav.basic + * {clear: both; float: left; margin-top: 1em;}
nav.basic .sidebar {width: auto; min-width: 0;}

 */


@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */


	/*
	* Minimalist
	*/

	body {
	    .ir:before { height: auto; color: white; }    
	    .region-siteheader {
			nav { 
	           a:hover {
	            }
	            ul {	
	                li { 
	                    a { 
	                        &.active {
	                        }
	                        &:hover {
	                        }
	                    }
	                }
	            }
	        }
	        
	        .utilitywrapper {float: right; width: 8em; margin-top: 1em; position: fixed; top: 2em; right: 0; background: rgba(255,255,255,.75);}
		    .utilitynav {
		    	position: relative;
		   		float: right;
				margin: 0 auto;
				clear: none;
		        ul { float: right;
		        	 display: block;
		        	 width: auto;
		        	 width: 100%;
		            li {
		                margin: 0 2.2% 0 0;
		                padding: 0;
		                width: 100%;
		                float: left;
		                clear: left;
		                a {
		                    background: none;
		                    color: $cumcgray;
		                    padding: .5em;
		                    width: auto;
		                    display: block;
		                    font-family: $avenir-light;
		                    font-weight: normal;
							font-size: 0.85em;
							border: 0;
							width: 100%;
							&:hover { 
								background: $cumcorange;
								color: white;
							}
		                }
		            }
		        }   
		    }
	    } // .region-siteheader
	    .wf-inactive .region-siteheader .utilitynav ul li a { font-family: $sans; font-weight: 100; } //font fallback

		.drawerclose {
			z-index: 510;
			cursor: pointer;
			position: absolute;
			top: 0;
			right: 0;
			padding: .5em 1em;
			display: block;
			background: $cumcgray_darken;
			color: white;
			&:hover {
				background: $cumcgray;
				 @include transition(.2s);
			}
		}

	    .maincontent {
	    	width: 90%;
	    	max-width: 1400px;
	    	margin: 0 auto;
	    	float: none;
	    	clear: both;
	        article {
	        }
		}
		
		.breadcrumb {
			float: left;
			margin: 0 auto;
			padding: 0;
			display: block;
			font-family: $avenir-italic;
			color: $cumcgray;
			font-size: 1em;
			width: 100%;
			border-bottom: 1px solid #bec1c7;	
	        ul {
	            li {
	                a {
	                    padding: .2em 0 0.2em 0.5em;
						font-size: 0.85em;
					    color: $cumcgray;
	                    color: #73757a;	                    
	                    &:hover, &:active { background: #e8e8e8; color: $cumcgray_darken; }
	                }
	            }
	        }
	    	.breadcrumb ul li.active:after, .breadcrumb ul li.active-trail:after {
		    	padding: 0.9em .01rem;
				font-size: 0.7em;
				color: red;
			}   
	    }
	    .wf-inactive nav.breadcrumb { font-family: $sans; font-style: italic; } //font fallback

	} // body 

	a { color: $cumcblue_highlight;
		&:hover {
			color: white;
		    background: $cumcblue2_highlight;
	    }
	}
	   
	p {
		max-width: 45em;
	}           

	h1, h2, h3, h4, h5, h6,
	.wf-inactive h1,
	.wf-inactive h2,
	.wf-inactive h3,
	.wf-inactive h4,
	.wf-inactive h5, 
	.wf-inactive h6 {
		color: $cumcgray_darken;
		line-height: 120%;
		font-weight: normal;
	}

	h1, .wf-inactive h1 {
		font-size: 2.5em;
		font-weight: normal;
		color: $cumcgray;
	}

	article	h1:first-child {
		text-transform: uppercase;
		letter-spacing: .15em;
	}	             
		
	article h1:first-child + h2 {
		font-family: $avenir-italic;
		color: $cumcorange;
	}
	.wf-inactive article h1:first-child + h2 {
		font-family: $sans;
		font-style: italic;
	} //font fallback

	sup {
		font-size: .75em;
		vertical-align: baseline;
	}

	.button.addtocalendar {
		color: $cumcorange;
		font-size: .85em;
		text-transform: none;
		font-style: normal;
		letter-spacing: 0;
		background: none;
		padding: 0;
		font-family: $avenir-italic;

		&:hover {
			background: $cumcpink_highlight;
		}
	}
	.wf-inactive .button .addtocalendar { font-style: italic; font-family: $sans; } //font fallback

	table th, table thead > tr > th {
		background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
		padding: 0.5em;
		color: $cumcgray_darken;
	}

	table.views-table th, table thead > tr > th {
		img { padding-left: 10px; }
	}

	table thead > tr > th, table tbody > tr > th, table tfoot > tr > th, table thead > tr > td, table tbody > tr > td, table tfoot > tr > td {
		padding: 0.8em;
	}

	.calendar.mini, .calendar.mini .calendar-calendar, .calendar {
		position: relative;
		display: block;
		float: left;
		width: 100%;
		margin: 15px 0 0 0;
		ul.pager {
			margin: 0 0 0 0;
			padding: 0;
		}
		.month-view .full tr.multi-day { height: 0; }
		.inner {
			left: 0;
			top: 295px;
			background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
			color: #333;
			text-align: left;
			width: 100%;
			padding: 0;
			display: block;
			.item {
				display: block;
				width: 100%;
				height: auto;
				float: left;
				position: relative;
				.field-body p {
					color: #333;
					clear: both;
					margin: 0.5em 0;
					display: block;
					font-size: 1.2em;
				}
			}
		}
		span.month {
			font-size: 0.9em;
			color: #6B6B6B;
			font-family: $avenir-bold-italic;
		}
		table {
			tr {
				display: block;
				float: left;
				width: 100%;
				border: none;
				height: 1.6em;
				th {
					display: block;
					background: white;
					color: black;
					float: left;
					padding: 0.5em 0 0.3em 0;
					width: 13.95%;
					font-family: $avenir-light;
					font-size: 0.8em;
					border: none;
				}
				td {
					position: inherit;
					display: block;
					float: left;
					height: 2.5em;
					width: 12.55%;
					border: none;
					/* &.today { background: $cumcblue_highlight; color: white; } */
					&.past { /*background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;*/ }
					span.calendardate {
						display: block;
						height: 100%;
						cursor: pointer;
						font-size: 1.1em;
						letter-spacing: normal;
						padding-top: 0.8em;
						color: #999;
						&:hover { background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat; }
						&.has-events {
							color: $cumcblue_highlight;
							background: white;
							opacity: 1;
							font-weight: bold;
							&:hover {
								background: $cumcblue_highlight;
								color: white;
								opacity: 1;
							}
						}
					}
					&.active span.calendardate.hasevent { background: $cumcblue_highlight; color: white; opacity: 1; }	
					ul {
						position: absolute;
						left: 0;
						bottom: 0;
						top: 235px;
						right: auto;
						display: block;
						background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
						color: #333;
						text-align: left;
						width: 95%;
						li { width: 85%; margin: 10%; }
						&.active {
							display: block;
						}
						h1 a { font-family: $avenir-italic; color: $cumcblue; font-size: 1.3em; margin: 0 0 0.4em 0; }
						h1 a:hover { color: $cumcblue_highlight; }
						h2, span.eventtime { color: #333; clear: both; margin: 0.5em 0; display: block; }
					}
				}
			}
		}
		.button.addtocalendar { color: $cumcpink_highlight; display: block; clear: both; margin: 0.2em 0 0 0; padding: 0; }
	} // end .calendar.mini, .calendar.mini .calendar-calendar, .calendar

	.wf-inactive .calendar.mini, 
	.wf-inactive .calendar.mini .calendar-calendar, 
	.wf-inactive .calendar {
		span.month { font-family: $sans; font-weight: bold; font-style: italic; }
		table tr { 
			th { font-family: $sans; font-weight: 100; }
			td {
				ul {
					h1 a { font-family: $sans; font-style: italic; }
				}
			}
		}
	} //font fallbacks

	.calendar.mini tr.single-day .inner { position: absolute; }

	.view .date-nav-wrapper .date-prev, .view .date-nav-wrapper .date-next { background: none; }

	.calendar.mini .calendar-calendar .month-view .full td.single-day .calendar-empty,
	.calendar.mini .calendar-calendar .month-view .full td.single-day.empty,
	.calendar.mini .calendar-calendar .month-view .full td.date-box.empty { background: none; }

	.calendar.mini .calendar-calendar .month-view .full tr.single-day .no-entry,
	.calendar.mini .calendar-calendar .month-view .full tr.single-day .no-entry .inner { height: 1.1em !important; }

	.calendar.mini .calendar-calendar .month-view .full td .inner div.day,
	.calendar.mini .calendar-calendar .month-view .full td .inner div.day a { position: relative; z-index: 99; }

	.calendar.mini .calendar-calendar .month-view .full td.date-box.today,
	.calendar.mini .calendar-calendar .month-view .full tr td.single-day.today { border: none; max-height: 30px; }

	.calendar.mini .calendar-calendar .month-view .full tr.date-box,
	.calendar.mini .calendar-calendar .month-view .full tr.date-box td,
	.calendar.mini .calendar-calendar .month-view .full tr.multi-day,
	.calendar.mini .calendar-calendar .month-view .full tr.multi-day td { max-height: 30px; }

	.calendar.mini .calendar-calendar .month-view .full td.single-day div.monthview,
	.calendar.mini .calendar-calendar .week-view .full td.single-day div.weekview,
	.calendar.mini .calendar-calendar .day-view .full td.single-day div.dayview {
		background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
		color: #333;
		text-align: left;
		width: 90%;
		padding: 5%;
	}

	.calendar.mini a.button.small {
		background: none;
		color: #1b4585;
		top: -16px;
		right: 5%;
		font-size: 0.75em;
		font-family: $avenir-italic;
		float: right;
		font-style: normal;
		position: absolute;
		bottom: auto;
		border: 0;
		text-transform: none;
		z-index: 99;
		padding: 0;
	}
	.calendar.mini a.button.small { font-style: italic; font-family: $sans; } //font fallback

	.calendar.mini .calendar-calendar .month-view .full td.single-day .inner div a {
		font-style: italic;
		color: $cumcblue_highlight;
		font-size: 1.5em;
		font-family: $avenir-bold-italic;
		line-height: 1.1em;
		margin: 0 0 0.4em 0;
		&:hover {
			text-decoration: none;
			opacity: 0.8;
		}
	}
	.wf-inactive .calendar.mini .calendar-calendar .month-view .full td.single-day .inner div a {
		font-family: $sans;
		font-style: italic;
	} //font-fallback

	.calendar.mini .calendar-calendar td {
		position: inherit;
		display: block;
		float: left;
		height: 1.9em !important;
		width: 12.65%;
		border: none;
		text-align: center;
		padding-top: 0.6em !important;
	}

	.calendar-calendar td.empty {
		color: #333;
	}

	.calendar.mini ul.pager {
		display: block;
		float: left;
		width: 100%;
		clear: both;
		position: relative;
		top: -43px;
		left: 0;
		}
		
	.calendar.mini .date-nav-wrapper .date-next a, .calendar.mini .date-nav-wrapper .date-prev a {
		display: block;
		width: 40px;
		}
	
	.calendar.mini .date-nav-wrapper .date-prev a {
		display: block;
		top: 16px;
		position: relative;
		}	

	.calendar.mini .date-nav-wrapper .date-prev {
		left: 0;
		right: auto;
	}
	.calendar.mini .date-nav-wrapper .date-next {
		left: auto;
		right: 0;
	}

	.calendar.mini .calendar-calendar {
		.today {
			.month.day { background: $cumcblue_highlight; color: white;
				&:hover { background: $cumcblue_highlight; color: white; }
				a { color: white; }
			}
		}
		.month.day {
			display: block;
			z-index: 99;
			padding: 11px 9px !important;
			margin-top: -9px !important;
			cursor: pointer;
			&:hover { background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat; }
		}
	}


	.calendar.mini .calendar-calendar td.past .month.day { background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat; }

	.calendar.mini tr.single-day.number-1,
	.calendar.mini tr.single-day.number-2,
	.calendar.mini tr.single-day.number-3,
	.calendar.mini tr.single-day.number-4,
	.calendar.mini tr.single-day.number-5 {
		td {
			display: none;
			&.today { display: block; }
		}
	}
		.lt-ie9 .calendar.mini tr.single-day,
		.lt-ie9 .calendar.mini tr.single-day.number-1,
		.lt-ie9 .calendar.mini tr.single-day.number-2,
		.lt-ie9 .calendar.mini tr.single-day.number-3,
		.lt-ie9 .calendar.mini tr.single-day.number-4,
		.lt-ie9 .calendar.mini tr.single-day.number-5 {
		td {
			display: block !important;
			&.today { display: block; }
		}
	}

	.view .date-nav-wrapper {
		.date-nav {
			margin-bottom: 0;
			padding-bottom: 0;
		}
		.date-heading {
			font-size: 0.6em;
			color: #6B6B6B;
			font-family: $avenir-bold-italic;
		}
	}
	.wf-inactive .view .date-nav-wrapper .dateheading { font-family: $sans; font-weight: bold; font-style: italic; } //font fallback

	.view .date-nav-wrapper {
		.date-next { list-style-type: none; }
		.date-prev { list-style-type: none; }
	}
		
	.calendar.mini tr td span.calendardate:hover + .calendar.mini tr td ul {
		display: block !important;
	}

	tr.single-day.number-1 {
		td:hover {
			display: block;
		}
	}

	.lt-ie9 .calenar.mini .view-content { display: none; }

.lt-ie9 .front .date-heading H3 { font-size: 1.1em !important; }

	blockquote {
		font-size: 1.6em;
		color: $cumcgreen;
		width: 90%;
		padding: 5%;
		margin: 0;
		font-family: $avenir-bold;
		text-align: left;
	}
	.wf-inactive blockquote { font-family: $sans; font-weight: 700; } //font fallback
		
	blockquote:before, blockquote:after {
			font-size: 3em;
			margin: -0.25em 0 0 -0.7em;
	}

	.button {
		background: $cumcgray;
		color: white;
		border: 0;
		padding: 0.5em 1em;
		font-weight: normal;
		text-transform: uppercase;
		font-family: $avenir;
		font-size: .85em;
		letter-spacing: .1em;
		&:hover { background: $cumcblue_highlight; }
		&.small, &.small.outline { padding: 0.1em 0.7em; font-size: 0.75em; }
		&.large, &.large.outline { padding: 0.8em 1.3em; font-size: 1em; }
		&.outline {
			background: white;
			color: $cumcgray;
			border: 2px solid $cumcgray;
			padding: 0.3em 0.87em;
			&:hover {
				border: 2px solid $cumcblue_highlight;
				color: $cumcblue_highlight;
				
			}
		}
	}

	.wf-inactive .button { font-family: $sans; }

	aside p {
		font-size: 1em;
		opacity: 0.9;
	}	

	.image-wrapper {
		img { width: 100%; }
		.image-caption {
			background: white;
			font-size: 0.85em;
			color: #555; 
			padding: 0.5em;
			margin: .5em 0 0 0;
			a { color: $cumcblue_highlight; }
		}
	}


	.related-links {
		ul {
			li {  }
		}
	}



	.events { 
		display: block;
		clear: both;
		a img { float: left; }
		.events-index {
			.lateral h1 a {
				display: block;
				clear: both; 
			} 
			&.sidebar dt {
				padding: 0.2em 5%;
				width: 90%;
				span.date { margin-left: 0; }
			}
			dl {
				dt {
					background: none;
					color: $cumcgray;
					@include avenir;
					font-size: .85em;
					text-align:left;
					width: 50px;
					.day {}
					span.date { font-weight: normal; }
				}
				dd {
					width: 64%;
					ul {
						li {
							h1 { font-weight: normal; }
							p { font-size: 1em; clear: both; }
							.eventtime {
								display: block;
								float: left;
								clear: right;
							}
							h1 a { display: block; clear: both; }	
						}
					}
				}
				.day {
					font-family: $avenir-light;
					margin-bottom: -3px;
					display: block;
				}
			} //dl		
		} //.events-index
	} //.events
	.wf-inactive .events .events-index dl { 
		dt { @include sans; }
		.day { font-family: $sans; font-weight: 100; }
	} //font fallback
		
	sidebar .faculty {
		.resultscard {
	        
	    }
	}	

	.resultscard .profilelink {
		 .headshot {
		 	max-width: 95px;
		 	margin-right: 1em;
		 }
	}

	.abbreviated .resultscard .department-division { float: left; width: 60%; }


	div.drawershow {
		background: $cumcgray_darken;
		opacity: 1;
		color: white;
		left: 0;
		padding: 0.5em 1em;
		text-align: center;
		-webkit-transition: 0.2s all ease-in-out;
			-moz-transition: 0.2s all ease-in-out;
			transition: 0.2s all ease-in-out;
		&:hover {
			background: $cumcgray;
			-webkit-transition: 0.2s all ease-in-out;
			-moz-transition: 0.2s all ease-in-out;
			transition: 0.2s all ease-in-out;
		}
	}
		
	


	/* ==========================================================================
	   Nursing Front Page Feature Slideshow
	   ========================================================================== */

	.nursing-feature-slide {
	    max-width: 1400px;
	    margin: 0 auto;
	    position: relative;
	    .views-slideshow-controls-text-pause { display: none; }
	    .feature-wrap-overlay {
	        display: block;
	        position: absolute;
	        width: 100%;
	        max-width: 1550px;
	        height: 210px;
	        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
	        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, black));
	        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
	        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
	        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
	        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
	        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
	        z-index: 50;
	        bottom: 0;
	        left: 0;
	        right: 0;
	        margin: auto;
	    }
	    .slide-info {
	        display: block;
	        width: 90%;
	        max-width: 800px;
	        height: auto;
	        float: right;
	        padding: 1em 4% 0 4%;
	        position: absolute;
	        bottom: 80px;
	        left: 0;
	        right: 0;
	        margin: auto;
	        color: white;
	        background: rgba(0, 0, 0, 0);
	        z-index: 99;
	        text-align: center;
	        @include minion;
		}
	    .feature-tag a {
	        display: block;
	        background: white;
	        color: black;
	        text-transform: uppercase;
	        padding: 0.2em 1em 0.2em 1em;
	        margin: 0 auto;
	        float: none;
	        font-size: 0.8em;
	        clear: both;
	        opacity: 0.7;
	        font-family: $avenir-italic;
	        width: 75px;
	        text-shadow: none;
	    }   
	    a.arrow {
	        font-size: 2em;
	        margin: 0 auto 1em auto;
	        float: none;
	        display: block;
	        color: white;
	    }
	    a {
	        font-size: 4.1em;
	        color: white;
	        font-family: $minion-bold-italic;
	        line-height: 90%;
	        display: block;
	        clear: both;
	        padding: 0;
	        opacity: 1;
	        margin: 0 0 -0.5em 0;
	        text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.7);
	        background-color: transparent;
	        &:hover {
	        	text-shadow: 2px 1px 1px rgba(233, 131, 0, 0.7);
	        }
	    }
	    .views_slideshow_controls_text {
	        position: absolute;
	        bottom: 20px;
	        a {
	        font-size: 1em;
	        }   
	    }   
	    .blurb {
	        font-size: 1em;
	        font-weight: 100;
	        display: none;
	        margin: 1em 0 0 0;
	        color: white;
	        opacity: 1;
	        cursor: pointer;
	        visibility: hidden;
	    }   
	} //.nursing-feature-slide

	.wf-inactive .nursing-feature-slide {
		.slide-info {
			@include serif;
		}
		.feature-tag a {
			font-family: $serif;
			font-style: italic;
		}
		a {	
			font-family: $serif;
			font-weight: 800;
			font-style: italic !important;
		}
	} //type fallback

	.views-slideshow-controls-bottom {
		position: absolute;
		z-index: 99;
		margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 51px;
	}

	.nursing-feature-slide .views_slideshow_controls_text {
		position: relative;
		bottom: auto;
	}


	.front .view-nursing-news-front .views_slideshow_slide { height: 500px !important; }

	.front .views_slideshow_slide { height: 500px !important; width: 1400px !important; max-width: 100%; }

	.front .views-slideshow-cycle-main-frame { max-width: 100%; background: black; }

	#views_slideshow_controls_text_pause_nursing_front_feature_slide-block {
		display: none;
	}	

	.views-slideshow-controls-text-previous {
		display: block;
		float: left;
		cursor: pointer;
		width: 25px;
		height: 51px;
		background: url(../img/left-arrow.png) no-repeat;
		background-size: 100% auto;
		margin: 0 0 0 2%;
		opacity: 0.7;
		text-indent: -99999px
	}
	.views-slideshow-controls-text-next {
		display: block;
		float: right;
		cursor: pointer;
		width: 25px;
		height: 51px;
		background: url(../img/right-arrow.png) no-repeat;
		background-size: 100% auto;
		margin: 0 2% 0 0;
		opacity: 0.7;
		text-indent: -99999px
	}

	/* ==========================================================================
	   Nursing Front Page Callouts and Buttons
	   ========================================================================== */

	.front-callout {
	    display: block;
	    float: left;
	    margin: 1em 0;
	    padding: 1em 3% 0.5em 3%;
	    width: 94%;
	    clear: left;
	    color: #666 !important;
	    a.mag {
	        background: url(../img/mag-thumb.png) no-repeat;
	        width: 200px;
	        height: 200px;
	        text-indent: -99999px;
	        display: block;
	        float: left;
	    }
	    a:hover { opacity: 0.8; }
	    p { color: #999; }
	    &.mid {
	        background: rgba(0,0,0,0.1);
	        clear: none;
	    }
	    &.last { clear: none; }
	    &.mag {
	        color: black !important;
	        a {
	            color: #666 !important;
	            font-size: 2em;
	            line-height: 130%;
	            font-style: normal;
	            font-family: $minion-italic;
	        }
	        a.issue { color: #999 !important; display: block; clear: right; }
	        p {
	            display: inline !important;
	            float: none !important;
	            max-width: 45% !important;
	            font-size: 0.6em !important;
	            line-height: 110% !important;
	            color: #999;
	        }
	        img {
		        display: block;
		        float: left;
		        margin: -5px 1% 0.5em 0;
		        max-width: 25%;
		            -webkit-transition: 0.3s all ease;
		               -moz-transition: 0.3s all ease;
		                    transition: 0.3s all ease;
		        &:hover {
		            cursor: pointer;
		            opacity: 0.7;
		            -webkit-transition: 0.3s all ease;
		               -moz-transition: 0.3s all ease;
		                    transition: 0.3s all ease;
		        }
	        }
	    }   
	    img {
	        max-width: 100%;
	        height: auto;
	    }
	} //end .front-callout

	.wf-inactive .front-callout .mag a { font-style: italic; font-family: $serif } //font fallback

	/* ==========================================================================
	   Swatches
	   ========================================================================== */
	/* line 251, main.scss */
	section.colors {
	  width: 100%; }
	/* line 252, main.scss */
	section.colors ul {
	float: left;
	clear: left;
	width: 100%; }
	/* line 255, main.scss */
	section.colors ul .colorsample {
	  float: left;
	  height: 2em;
	  width: 25%;
	  margin: 0;
	  overflow: hidden;
	  text-indent: 2000px; }
	/* line 256, main.scss */
	section.colors ul .cumcblue {
	  background-color: #1b4585; }
	/* line 257, main.scss */
	section.colors ul .cumcgray {
	  background-color: #73757a; }
	/* line 258, main.scss */
	section.colors ul .cumcgreen {
	  background-color: #b6bf00; }
	/* line 259, main.scss */
	section.colors ul .cumcpink {
	  background-color: #830051; }
	/* line 260, main.scss */
	section.colors ul .cumcpink {
	  background-color: #e98300; }
	/* line 261, main.scss */
	section.colors ul .cumcblue2 {
	  background-color: #0065bd; }
	/* line 262, main.scss */
	section.colors ul .cumcblue_highlight {
	  background-color: #2c68b2; }
	/* line 263, main.scss */
	section.colors ul .cumcgray_highlight {
	  background-color: #bec1c7; }
	/* line 264, main.scss */
	section.colors ul .cumcgreen_highlight {
	  background-color: #dae100; }
	/* line 265, main.scss */
	section.colors ul .cumcpink_highlight {
	  background-color: #b00077; }
	/* line 266, main.scss */
	section.colors ul .cumcpink_highlight {
	  background-color: #f7b000; }
	/* line 267, main.scss */
	section.colors ul .cumcblue2_highlight {
	  background-color: #0090df; }
	/* line 268, main.scss */
	section.colors ul .cumcblue_darken {
	  background-color: #0d275f; }
	/* line 269, main.scss */
	section.colors ul .cumcgray_darken {
	  background-color: #2d2e31; }
	/* line 270, main.scss */
	section.colors ul .cumcgreen_darken {
	  background-color: #97a200; }
	/* line 271, main.scss */
	section.colors ul .cumcpink_darken {
	  background-color: #5d0030; }
	/* line 272, main.scss */
	section.colors ul .cumcpink_darken {
	  background-color: #dd5d00; }
	/* line 273, main.scss */
	section.colors ul .cumcblue2_darken {
	  background-color: #0040a0; }
	/* line 275, main.scss */
	section.colors .primary-colors li {
	height: 4em; }


		.footer-wrap {
			width: 100%;
			min-height: 200px; 
			padding: 1em 0 2em 0;
			margin-top: 60px;
			background: $cumcgray_darken;
			clear: both;
			
			.footer {
				display: block;
				margin: 0 0 0 4%;
				padding: 2em 0;
				width: 92%;
				ul, p {
				display: block;
				float: left;
				max-width: 21%;
				margin: 0 2% 0 0;
				color: white;
				list-style: none;
				opacity: 0.8;
					li { padding: 0.2em 0; 
					}
				}
				a {
					color: white;
					opacity: 0.8;
					&:hover { opacity: 1; }
				}
			}
		} // footer-wrap
		
}//@media

.region-footer { padding-top: 2em; }

.region-footer .logo-wrap .logotype {
	background: url(../img/logos/CUMClogo.svg) no-repeat !important;
	display: block;
	text-indent: -9999px;
	background-size: 100% auto !important;
}

.section-holidays.js-is-on .pagewrapper { width: 80%; }

@media only screen and (max-width: 38em) { 

.region-globalheader {
	min-height: 4.8em;
	span.block.block-google-appliance {
	float: none;
	}
	.globalNavToggle {
	float: none;
	text-align: center;
	}
}

.siteheader nav, nav.menu-block-5 {
	ul {
    	padding: 0;
    	width: 100%;
    	display: none;
    	background: white;
    	position: relative;
    	z-index: 9999;
    }
    
    	ul li {
    		width: 100%;
    		padding: 0;
    	}
    		 
    		 ul li a {
    		 	padding: 10px 5% !important;
				font-size: 1em;
				border-bottom: 1px solid;
				width: 90%;
				margin: 0;
				text-indent: 0;
				background: #fff;
			}
						
			ul li:first-child a {
				border-bottom: 1px solid;
				background: #fff;
				}
			}	

a.navtoggle, a.sub-navtoggle {
    	display: block;
    	float: right;
    	font-size: 1.167em;
    	color: black;
    	background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
    	cursor: pointer;
    	position: absolute;
		z-index: 88;
		top: 98px;
		right: 0;
		width: auto;
		height: auto;
		text-indent: 0;
		padding: 3px 5px;
	img { width: 30px; height: 30px; }	
    } 
    
a.sub-navtoggle {
    	font-size: 0.9em;
		top: 135px;
		width: auto;
		height: 20px;
		color: black;
		z-index: 999;
		text-indent: 0;
		background: none;
		padding: 2px 4px 6px 4px;
		img {
			width: 20px;
			height: 20px;
			margin: -3px 0 0 0;
			}	
    }

h1.page__title { padding: 0 5%; }

form#google-appliance-block-form {
	margin: 0 auto;
	float: none;
	width: 280px;
}

.nursing-feature-slide {
	height: 150px;
	}   

.region-globalfooter div {
	width: 100% !important;
	text-align: center;
	}
	
.sidebar .basic-image img { max-width: 210px; }	

.front front-callout.mag a.mag-title {
	margin-top: 7.3em;
	clear: both;
	line-height: 110%;
}

.calendar-calendar {
	width: 100%;
	overflow-y: auto;
	overflow: auto;
	margin: 0 0 1em;
	}

.calendar-calendar::-webkit-scrollbar
{
	-webkit-appearance: none;
	width: 14px;
	height: 14px;
}

.calendar-calendar::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	border: 3px solid #fff;
	background-color: rgba(0, 0, 0, .3);
}

.view .date-nav-wrapper .date-heading {
	top: 55px;
	text-align: left;
	}
	
.view .date-nav-wrapper .date-next {
	width: 60px;
	top: 18px;
	}	

.view .date-nav-wrapper .date-prev {
	left: 0;
	right: auto;
	top: 18px;
	}

#block-views-featuredimage-block {
	display: block;
	position: relative;
	max-width: 100%;
	overflow-x: hidden;
	}
	
}