@import 'mixins.scss';

/* ==========================================================================
   Global Header
   ========================================================================== */


.region-globalheader {
    width: 100%;
    display: block;
    margin: 0;      
    padding: 0;  
    float: left;
}



/* ==========================================================================
   Site Header
   ========================================================================== */
.siteheader {
  float: left;
  clear: both;
  margin: 0;
  width: 80%;
  max-width: 1400px;
  padding: 0;
  position: relative;
  .logo-wrap {
    display: block;
    float: left;
    clear: left;
    margin: 1em 0 0 0;
    width: 20%;
    min-width: 300px;
    .logotype { 
      float: left;
      width: 352px;
      height: 119px;
      a {
          background: url(../img/logos/pns-logo.svg) no-repeat;
          background-size: 100% auto;
          width: 250px;
          height: 100px;
          display: block;
          float: left;
          text-indent: -9999px;
          color: $cumcgray;
      }
    }    
  }
  .navwrapper {
    width: 100%;
    max-width: 100%;
    padding: 0; margin: 0;
    nav {
      max-width: 100%;
    }
  }   
}

.lt-ie9 .siteheader {
	float: none;
	margin: 0 auto;
	max-width: 1280px;
	.logo-wrap {
    .logotype { 
		a {
        position: absolute;
        z-index: 99;
        top: 60px;
    	}
    }
    }
}

.lt-ie8 .siteheader {
	nav {
		margin: 3em 0 0 5em;
		}
	.logo-wrap {
    .logotype { 
    	background: url(../img/logos/son-logo.png) no-repeat;
        background-size: 100% auto;
        width: 352px;
        height: 119px;
		a {
		background: none;
    	}
    }
    }
}

/** Navtoggle Mobile **/

	a.navtoggle, a.sub-navtoggle { display: none; }

/* ==========================================================================
   Main Body
   ========================================================================== */

.region-localnav {
  float: left; 
  width: 100%;
  max-width: 100%;
  padding: 0; 
  margin: 0 auto;
  clear: both;
}

.lt-ie9 .region-localnav {
  max-width: 80%;
  float: none;
}


.page-nursing-profile .pagewrapper, .page-profile .pagewrapper, .page-node-51 .pagewrapper {
  .region-mainpagecontent{
  }
}

.pagewrapper {
  float: none;
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1em 0 2em 0;
  clear: both;
  > article {
    width: auto;
    display: inline;
}

.lt-ie8 .pagewrapper {
	max-width: 1200px;
	width: 1200px;
}

.region-mainpagecontent {
  width: 70%;
  float: left;
}

  .maincontent {
      float: left;
      margin: 0 5% 0 0;
      margin-bottom: 2em; 
      width: 65%;
  }
  
    front.maincontent {
      float: left;
      width: auto;
      margin: 0 auto;
      padding: 0;
      float: none;
      width: 95%;
      max-width: 1400px;
      height: 20px;
  }


  .column.sidebar {
    float: left;
    clear: none;
    width: 27%;
    margin: 0 0 60px 0;
    .block-views {
      display: block;
      width: 100%;
      float: left;
      clear: left;
      &.view-cumc-master-news-events {
        margin-bottom: 2em;
      }
    }
  }
}

.lt-ie9 .pagewrapper {
	float: none !important;
	clear: both !important;
	margin: 0 auto !important;
}


/* ==========================================================================
   Front
   ========================================================================== */

.region-front-middle {
  display: block;
  width: 24%;
  margin: 1em 1.4% 0 1.4%;  
  float: left;
  border-right: 1px solid #e8e8e8;
  padding-right: 1.5%;  
  border-left: 1px solid #e8e8e8;
  padding-left: 1.5%;
}


/* ==========================================================================
   Sidebar
   ========================================================================== */

sidebar, .sidebar {
    float: left;
    width: 100%;
    
}

/* ==========================================================================
   Nursing Footer
   ========================================================================== */




/* ==========================================================================
   Site Footer
   ========================================================================== */

.region-footer {
  display: block;
  clear: both;
  min-height: 200px;
  padding: 1em 10% 2em 10%;
  margin-top: 60px;
  background: #2d2e31;
  clear: both;  
  .logo-wrap {
    display: block;
    float: left;
    clear: left;
    margin: -1em 6% 0 -2em; 
    width: 20%; 
     .logotype {
      width: 225px; 
       .logotype a {
        background: url(../img/logos/son-logo-1.png) no-repeat;
        background-size: 100% auto;
        width: 225px;
        height: 65px;
        display: block;
        float: left;
        text-indent: -9999px;
        color: #73757a; 
      }
    }
  }
  ul,  p {
    display: block;
    float: left;
    max-width: 21%;
    margin: 0 6% 0 0;
    color: white;
    list-style-type: none;
    opacity: 0.8; 
    li {
      padding: 0.2em 0;
      }
  }
  a {
    color: white ;
    opacity: 0.8; 
    &:hover {
      opacity: 1;
      background-color: transparent;
    }
  }
  }

.sitefooter {
    width: 95%;
    padding: 0 2.5%;
    clear: both;
    
}
 
.clear {
  display: block;
  clear: both;
  }

.lt-ie9 .region-footer {
  .logo-wrap {
     .logotype {
        background: url(../img/logos/son-logo-1-ie.png) no-repeat !important; 
        background-size: 100% auto;
        width: 225px;
        height: 65px;
        display: block;
        float: left;
        text-indent: -9999px;
        color: #73757a; 
     }
  }
}

/* ==========================================================================
   Global Footer
   ========================================================================== */


.region-globalfooter {
    width: 95%;
    padding: 0 2.5%;
    clear: both;
    
}


/* ==========================================================================
   Clown Colors for testing layout
   ========================================================================== 

.globalheader {background: red;}
.region-siteheader {background: orange;}
.maincontent {background: yellow;}
  article {background: green;}
  sidebar {background: blue;}
.sitefooter {background: indigo;}
.region-globalfooter {background: violet;}
 
*/


/* ==========================================================================

put this stuff somewhere!

*/

.region-front-left {
  position: relative;
  display: block;
  float: left;
  width: 22%;
  margin: 1.5em 0 0 0;
}

/* ==========================================================================
   Breakpoints
   ========================================================================== */

@media only screen and (max-width: 65em) { 

.region-front-middle {
	width: 45%;
	margin: 1em 0 0 7%;
	padding-right: 0;
	border-right: 0;
}

.region-front-left {
	width: 45%;
}

.region-footer {
	min-height: 540px;
	margin-top: 0;
	ul {
		width: 50%;
		max-width: 50%;
		}
	.logo-wrap {
  		width: 225px;
		clear: both;
		float: none;
		margin: 0 auto;
  		.logotype { }
  		}
	}
	
footer .connect-wrap {
	width: auto;
	padding: 5px;
	background: none;
	max-width: 240px;
	margin: 0 auto;
	float: none;
	clear: both;
}	

.region-footer ul, .region-footer p {
	float: auto;
	max-width: 100%;
	width: 100%;
	margin: 3em auto 0 auto;
	text-align: center;
	padding: 0;
}

.region-footer p { margin-bottom: 2em; }

.region-footer ul {
	margin: 0 auto 2em auto !important;
	}

}

@media only screen and (max-width: 38em) { 	

.js-is-on .pagewrapper {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.pagewrapper {
	.maincontent {
    margin: 0 5% 2em 5%;
    width: 90%;
    }
}    

.pagewrapper .region-mainpagecontent {
	width: 90%;
	margin: 0 5%;
	}
	
.pagewrapper .column.sidebar {
	width: 95%;
	max-width: 320px;
	clear: both;
	margin: 0;
	padding: 0 0 0 5%;
}

.breadcrumbmore .column { width: 100% !important; }

.breadcrumb {
	min-height: none;
	max-width: 80%;
	a { font-size: 0.8em; }
}

.region-front-left {
	width: 45%;
	display: none;
}

.siteheader .logo-wrap .logotype a {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 280px;
}

.maincontent {
	margin-bottom: 1em;
	}

.region-front-middle {
	width: 97%;
	margin: 1em 0 0 0;
}

.nursing-feature-slide {
	.blurb {
	display: none !important;
	}
	.slide-info {
	position: relative;
	}
}

.nursing-feature-slide.views_slideshow_controls_text {
	display: none;
	}

}

