

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 test
 */



@import 'mixins.scss';
//@import 'base.scss';
//@import 'typography.scss';
@import 'layout.scss';
@import 'module.scss'; 
//@import 'profiles.scss'; 
//@import 'helpers.scss';
@import 'state.scss';

 

    /*
     * THESE STYLES ARE JUST FORMATTING FOR THE MOODBOARDS AND SHOULD BE REMOVED FOR ANY REAL WORLD APPLICATION

body {margin: 0; padding: 0; }
body > section {margin: 0; float: left; clear: left; width: 100%;}
nav.basic + * {clear: both; float: left; margin-top: 1em;}
nav.basic .sidebar {width: auto; min-width: 0;}

 */

/*
* Fieldset collapsed height override
*
*/
html.js fieldset.collapsed { //adrc
    height: auto;
}



@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */


/*
* Minimalist
*/

body {

    .ir:before { height: auto; color: white; }    
    .region-siteheader {
		nav { 
               a:hover {
	            }
                ul {	
                    li { 
                        a { 
                            &.active {
                            }
                            &:hover {
                            }
                        }
                    }
                }
            }
        
        .utilitywrapper {float: right; width: 8em; margin-top: 1em; position: fixed; top: 2em; right: 0; background: rgba(255,255,255,.75);}
	    .utilitynav {
	    	position: relative;
	   		float: right;
			margin: 0 auto;
			clear: none;
	        ul { float: right;
	        	 display: block;
	        	 width: auto;
	        	 width: 100%;
	            li {
	                margin: 0 2.2% 0 0;
	                padding: 0;
	                width: 100%;
	                float: left;
	                clear: left;
	                a {
	                    background: none;
	                    color: $cumcgray;
	                    padding: .5em;
	                    width: auto;
	                    display: block;
						font-weight: 100;
						font-size: 0.85em;
						border: 0;
						width: 100%;
						&:hover { 
							background: $cumcorange;
							color: white;
						}
	                }
	            }
	        }   
	    }
    }
.drawerclose {
	z-index: 510;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	padding: .5em 1em;
	display: block;
	background: $cumcgray_darken;
	color: white;
	&:hover {
		background: $cumcgray;
		 @include transition(.2s);
	}
}
    .maincontent {
    	width: 90%;
    	max-width: 1400px;
    	margin: 0 auto;
    	float: none;
    	clear: both;	     
	}

	nav.breadcrumb {
		width: 85%;
		float: left;
		margin: 0;
		padding: 0;
		display: block;
		font-style: italic;
		color: $cumcgray;
		font-size: 1em;
        ul {
        	margin: 1px .25em 0 .75em;
        	padding: 0;
        	float: left;
            li {
                a {
                    padding: 0.5em;
                    color: $cumcgray;
                    &:hover, &:active { background: #e8e8e8; color: $cumcgray_darken; }
                }
            }
        }
    
    
    .breadcrumb ul li.active:hover > a, .breadcrumb ul li.active-trail:hover > a { background: #e8e8e8; }
    
    .breadcrumb ul li.active:after, .breadcrumb ul li.active-trail:after {
    	padding: 0.9em .01rem;
		font-size: 0.7em;
		color: $cumcgray_darken;
		}
    
    
    
       
    }
    .region-globalfooter {clear: both;}
}



a { color: $cumcblue_highlight;
	&.hover { color: white;
	          background: $cumcblue2_highlight !important;
             }
   }
   
p {
	max-width: 45em;
	}            

h1, h2, h3, h4, h5, h6 {
	color: $cumcgray_darken;
	line-height: 120%;
	font-weight: normal;
	}

h1 {
	font-size: 2.5em;
	font-weight: normal;
	color: $cumcgray
	}

article	h1:first-child {
	text-transform: uppercase;
	letter-spacing: .15em;
	}	             
	
article	h1:first-child + h2 {font-style: italic;
	color: $cumcorange;
	}



.button.addtocalendar {
	color: $cumcorange;
	font-size: .85em;
	text-transform: none;
	font-style: italic;
	letter-spacing: 0;
	background: none;
	padding: 0;
	font-family: $avenir;

		&:hover {
			background: $cumcpink_highlight;
			}
		}


table th, table thead > tr > th {
		background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
		padding: 0.5em;
		color: $cumcgray_darken;
		}

table.views-table th, table thead > tr > th {
		img { padding-left: 10px; }

	}

table thead > tr > th, table tbody > tr > th, table tfoot > tr > th, table thead > tr > td, table tbody > tr > td, table tfoot > tr > td {
	padding: 0.8em;
	}

.calendar.mini, .calendar.mini .calendar-calendar, .calendar {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	margin: 15px 0 0 0;
	ul.pager {
	margin: 0 0 0 0;
	padding: 0;
	}
	.inner .item {
		position: absolute;
		left: 0;
		top: 255px;
		background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
		color: #333;
		text-align: left;
		width: 100%;
		padding: 0;
		display: block;
		.field-body p {
			color: #333;
			clear: both;
			margin: 0.5em 0;
			display: block;
			font-size: 1.2em;
		}
		}
	span.month {
		font-size: 0.9em;
		font-style: italic;
		color: #6B6B6B;
		font-weight: bold;
		}
	table {
		tr {
			display: block;
			float: left;
			width: 100%;
			border: none;
			height: 1.6em;
			th {
				display: block;
				background: white;
				color: black;
				float: left;
				padding: 0.5em 0 0.3em 0;
				width: 13.95%;
				font-weight: 100;
				font-size: 0.8em;
				border: none;
				}
			td {
			position: inherit;
			display: block;
			float: left;
			height: 2.5em;
			width: 12.65%;
			border: none;
			/* &.today { background: $cumcblue_highlight; color: white; } */
			&.past { /*background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;*/ }
			span.calendardate {
				display: block;
				height: 100%;
				cursor: pointer;
				font-size: 1.1em;
				letter-spacing: normal;
				padding-top: 0.8em;
				color: #999;
				&:hover { background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat; }
				&.has-events {
					color: $cumcblue_highlight;
					background: white;
					opacity: 1;
					font-weight: bold;
				&:hover {
					background: $cumcblue_highlight;
					color: white;
					opacity: 1;
					}
				}
				}
			  &.active span.calendardate.hasevent { background: $cumcblue_highlight; color: white; opacity: 1; }	
				ul {
					position: absolute;
					left: 0;
					bottom: 0;
					top: 235px;
					right: auto;
					display: block;
					background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
					color: #333;
					text-align: left;
					width: 95%;
					li { width: 85%; margin: 10%; }
					&.active {
						display: block;
					}
					h1 a { font-style: italic; color: $cumcblue; font-size: 1.3em; margin: 0 0 0.4em 0; }
					h1 a:hover { color: $cumcblue_highlight; }
					h2, span.eventtime { color: #333; clear: both; margin: 0.5em 0; display: block; }
					}
			}
		}
	}
	.button.addtocalendar { color: $cumcpink_highlight; display: block; clear: both; margin: 0.2em 0 0 0; padding: 0; }
}

.view .date-nav-wrapper .date-prev, .view .date-nav-wrapper .date-next { background: none; }

.calendar.mini .calendar-calendar .month-view .full td.single-day .calendar-empty,
.calendar.mini .calendar-calendar .month-view .full td.single-day.empty,
.calendar.mini .calendar-calendar .month-view .full td.date-box.empty { background: none; }

.calendar.mini .calendar-calendar .month-view .full tr.single-day .no-entry,
.calendar.mini .calendar-calendar .month-view .full tr.single-day .no-entry .inner { height: 1.1em !important; }

.calendar.mini .calendar-calendar .month-view .full td .inner div.day,
.calendar.mini .calendar-calendar .month-view .full td .inner div.day a { position: relative; z-index: 99; }

.calendar.mini .calendar-calendar .month-view .full td.date-box.today,
.calendar.mini .calendar-calendar .month-view .full tr td.single-day.today { border: none; max-height: 30px; }

.calendar.mini .calendar-calendar .month-view .full tr.date-box,
.calendar.mini .calendar-calendar .month-view .full tr.date-box td,
.calendar.mini .calendar-calendar .month-view .full tr.multi-day,
.calendar.mini .calendar-calendar .month-view .full tr.multi-day td { max-height: 30px; }

.calendar.mini .calendar-calendar .month-view .full td.single-day div.monthview,
.calendar.mini .calendar-calendar .week-view .full td.single-day div.weekview,
.calendar.mini .calendar-calendar .day-view .full td.single-day div.dayview {
	background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
	color: #333;
	text-align: left;
	width: 90%;
	padding: 5%;
}

.calendar.mini a.button.small {
	background: none;
	color: #1b4585;
	top: -8px;
	right: 5%;
	font-size: 0.75em;
	font-family: "Avenir", "Helvetica", "Arial", "sans-serif";
	float: right;
	font-style: italic;
	position: absolute;
	bottom: auto;
	border: 0;
	text-transform: none;
	z-index: 99;
	padding: 0;
}

.calendar.mini .calendar-calendar .month-view .full td.single-day .inner div a {
	font-style: italic;
	color: $cumcblue;
	font-size: 2em;
	margin: 0 0 0.4em 0;
	}

.calendar.mini .calendar-calendar td {
	position: inherit;
	display: block;
	float: left;
	height: 1.9em !important;
	width: 12.65%;
	border: none;
	text-align: center;
	padding-top: 0.6em !important;
}

.calendar-calendar td.empty {
	color: #333;
	}

.calendar.mini .calendar-calendar {
	.today {
		.month.day { background: $cumcblue_highlight; color: white;
		&:hover { background: $cumcblue_highlight; color: white; }
		a { color: white; }
		}
		}
	.month.day {
		display: block;
		z-index: 99;
		padding: 11px 9px !important;
		margin-top: -9px !important;
		cursor: pointer;
		&:hover { background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat; }
	}
}


.calendar.mini .calendar-calendar td.past .month.day { background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat; }

.calendar.mini tr.single-day.number-1,
.calendar.mini tr.single-day.number-2,
.calendar.mini tr.single-day.number-3,
.calendar.mini tr.single-day.number-4,
.calendar.mini tr.single-day.number-5 {
	td { display: none;
	&.today { display: block; }
	}
	}

tr.single-day.number-1 td:hover { display: block; }

.view .date-nav-wrapper {
	.date-nav {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.date-heading {
		font-size: 0.6em;
		font-style: italic;
		color: #6B6B6B;
		font-weight: bold;
	}
}

.view .date-nav-wrapper {
	.date-next { list-style-type: none; }
	.date-prev { list-style-type: none; }
	}
	
.calendar.mini tr td span.calendardate:hover + .calendar.mini tr td ul {
	display: block !important;
	}

blockquote {
	font-size: 1.6em;
	color: $cumcgreen;
	width: 90%;
	padding: 5%;
	margin: 0;
	font-weight: 700;
	text-align: left;
	}
	
blockquote:before, blockquote:after {
		font-size: 3em;
		margin: -0.25em 0 0 -0.7em;
		}

aside p {
	font-size: 1em;
	opacity: 0.9;
	}	

.image-wrapper {
	img { width: 100%}
	.image-caption {
		background: white;
		font-size: 1em;
		color: #555;
		 
		padding: 1%;
		margin: .5em 0 0 0;
		a { color: $cumcblue_highlight; }
		}
	}


.related-links {
	ul {
		li {  }
		}
		}



.events { 
	display: block;
	clear: both;
	a img {float: left;}
	.events-index {
	.lateral h1 a {
		display: block;
		clear: both; } 
	&.sidebar dt {
	padding: 0.2em 5%;
	width: 90%;
	span.date { margin-left: 0; }
	}
		dl {
	dt {
	background: none;
	color: $cumcgray;
	font-family: $avenir;
	font-size: .85em;
	text-align:left;
	width: 50px;
	.day {}
	span.date {font-weight: normal;}
	}
	dd {
		width: 64%;
		ul {
			li {
				h1 {font-weight: normal;}
			p { font-size: 1em; clear: both;}
			.eventtime {
				display: block;
				float: left;
				clear: right;
				}
			h1 a { display: block; clear: both; }	
			}
			}
		}
		.day {
			font-weight: 100;
			margin-bottom: -3px;
			display: block;
			}
	}		
}
}
	
sidebar .faculty {
	.resultscard {
        
        }
	}	

.resultscard .profilelink {
	 .headshot {
	 	max-width: 95px;
	 	margin-right: 1em;
	 	}
	 }

.abbreviated .resultscard .department-division { float: left; width: 60%; }


div.drawershow {
	background: $cumcgray_darken;
	opacity: 1;
	color: white;
	left: 0;
	padding: 0.5em 1em;
	text-align: center;
	-webkit-transition: 0.2s all ease-in-out;
		-moz-transition: 0.2s all ease-in-out;
		transition: 0.2s all ease-in-out;
	&:hover {
		background: $cumcgray;
		-webkit-transition: 0.2s all ease-in-out;
		-moz-transition: 0.2s all ease-in-out;
		transition: 0.2s all ease-in-out;
		}
}
	
.region-localnav ul {
	
	padding: 2em 0;
	margin: 0;
		li {
			width: 100%;
			a {
				padding: 0.5em 10%;
				width: 80%;
				border: 0;
				&.active {
					background: $cumcblue2;
					color: white;
					}
				&:hover {
					background: $cumcblue2_highlight;
					color: white;
					}
					

				}
			}
		form {
			clear: both;
			display: block;
			margin: 0.8em auto;
			padding: .5em 10%;
			width: 80%;
			
			input {
				margin: 1em 0 0 0;
				width: 92%;
				padding: 4%;
				
			}
			.searchline2 {
				input { width: auto; }
				}
			}
	}	


/* ==========================================================================
   Nursing Front Page Feature Slideshow
   ========================================================================== */

.nursing-feature-slide {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    .views-slideshow-controls-text-pause { display: none; }
    .feature-wrap-overlay {
        display: block;
        position: absolute;
        width: 100%;
        max-width: 1550px;
        height: 380px;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, black));
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
        z-index: 50;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        }
    .slide-info {
        display: block;
        width: 90%;
        max-width: 800px;
        height: auto;
        float: right;
        padding: 1em 4% 0 4%;
        position: absolute;
        bottom: 80px;
        left: 0;
        right: 0;
        margin: auto;
        color: white;
        background: rgba(0, 0, 0, 0);
        z-index: 99;
        text-align: center;
        font-family: "Minion Pro", "Georgia", "serif";
}
    .feature-tag a {
        display: block;
        background: white;
        color: black;
        text-transform: uppercase;
        padding: 0.2em 1em 0.2em 1em;
        margin: 0 auto;
        float: none;
        font-size: 0.8em;
        clear: both;
        opacity: 0.7;
        font-style: italic;
        width: 75px;
        text-shadow: none;
    }   
        a.arrow {
            font-size: 2em;
            margin: 0 auto 1em auto;
            float: none;
            display: block;
            color: white;
            }
        a {
            font-size: 4.1em;
            color: white;
            font-weight: 800;
            line-height: 90%;
            font-style: italic !important;
            display: block;
            clear: both;
            padding: 0.2em 0 0.3em 0;
            opacity: 1;
            margin: 0 0 -0.5em 0;
            text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.7);
            }
        .views_slideshow_controls_text {
            position: absolute;
            bottom: 20px;
            a {
            font-size: 1em;
            }   
        }   
        .blurb {
            font-size: 1em;
            font-weight: 100;
            display: none;
            margin: 1em 0 0 0;
            color: white;
            opacity: 1;
            cursor: pointer;
        }   
}

.views-slideshow-controls-bottom {
	position: absolute;
	z-index: 99;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 51px;
}

.nursing-feature-slide .views_slideshow_controls_text {
	position: relative;
	bottom: auto;
	}


.front .view-nursing-news-front .views_slideshow_slide { height: 500px !important; }

.front .views_slideshow_slide { height: 500px !important; width: 1400px !important; max-width: 100%; }

.front .views-slideshow-cycle-main-frame { max-width: 100%; background: black; }

#views_slideshow_controls_text_pause_nursing_front_feature_slide-block {
	display: none;
	}	

	.views-slideshow-controls-text-previous {
		display: block;
		float: left;
		cursor: pointer;
		width: 29px;
		height: 51px;
		background: url(../img/left-arrow.png) no-repeat;
		background-size: 100% auto;
		margin: 0 0 0 2%;
		opacity: 0.7;
		text-indent: -99999px
		}
	.views-slideshow-controls-text-next {
		display: block;
		float: right;
		cursor: pointer;
		width: 29px;
		height: 51px;
		background: url(../img/right-arrow.png) no-repeat;
		background-size: 100% auto;
		margin: 0 2% 0 0;
		opacity: 0.7;
		text-indent: -99999px
	}

/* ==========================================================================
   Nursing Front Page Callouts and Buttons
   ========================================================================== */

.front-callout {
    display: block;
    float: left;
    margin: 1em 0;
    padding: 1em 3% 0.5em 3%;
    width: 94%;
    clear: left;
    color: #666 !important;
    a.mag {
        background: url(../img/mag-thumb.png) no-repeat;
        width: 200px;
        height: 200px;
        text-indent: -99999px;
        display: block;
        float: left;
        }
    a:hover { opacity: 0.8; }
    p { color: #999; }
    &.mid {
        background: rgba(0,0,0,0.1);
        clear: none;
        }
    &.last { clear: none; }
    &.mag {
        color: black !important;
        a {
            color: #666 !important;
            font-size: 2em;
            line-height: 130%;
            font-style: italic;
            font-family: $minion;
            }
        a.issue { color: #999 !important; display: block; clear: right; }
        p {
            display: inline !important;
            float: none !important;
            max-width: 45% !important;
            font-size: 0.6em !important;
            line-height: 110% !important;
            color: #999;
            }
        img {
        display: block;
        float: left;
        margin: -5px 1% 0.5em 0;
        max-width: 25%;
            -webkit-transition: 0.3s all ease;
               -moz-transition: 0.3s all ease;
                    transition: 0.3s all ease;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
            -webkit-transition: 0.3s all ease;
               -moz-transition: 0.3s all ease;
                    transition: 0.3s all ease;
        }
        }
    }   
    img {
        max-width: 100%;
        height: auto;
        }
    } 

/* ==========================================================================
   Swatches
   ========================================================================== */
/* line 251, main.scss */
section.colors {
  width: 100%; }
  /* line 252, main.scss */
  section.colors ul {
    float: left;
    clear: left;
    width: 100%; }
    /* line 255, main.scss */
    section.colors ul .colorsample {
      float: left;
      height: 2em;
      width: 25%;
      margin: 0;
      overflow: hidden;
      text-indent: 2000px; }
    /* line 256, main.scss */
    section.colors ul .cumcblue {
      background-color: #1b4585; }
    /* line 257, main.scss */
    section.colors ul .cumcgray {
      background-color: #73757a; }
    /* line 258, main.scss */
    section.colors ul .cumcgreen {
      background-color: #b6bf00; }
    /* line 259, main.scss */
    section.colors ul .cumcpink {
      background-color: #830051; }
    /* line 260, main.scss */
    section.colors ul .cumcpink {
      background-color: #e98300; }
    /* line 261, main.scss */
    section.colors ul .cumcblue2 {
      background-color: #0065bd; }
    /* line 262, main.scss */
    section.colors ul .cumcblue_highlight {
      background-color: #2c68b2; }
    /* line 263, main.scss */
    section.colors ul .cumcgray_highlight {
      background-color: #bec1c7; }
    /* line 264, main.scss */
    section.colors ul .cumcgreen_highlight {
      background-color: #dae100; }
    /* line 265, main.scss */
    section.colors ul .cumcpink_highlight {
      background-color: #b00077; }
    /* line 266, main.scss */
    section.colors ul .cumcpink_highlight {
      background-color: #f7b000; }
    /* line 267, main.scss */
    section.colors ul .cumcblue2_highlight {
      background-color: #0090df; }
    /* line 268, main.scss */
    section.colors ul .cumcblue_darken {
      background-color: #0d275f; }
    /* line 269, main.scss */
    section.colors ul .cumcgray_darken {
      background-color: #2d2e31; }
    /* line 270, main.scss */
    section.colors ul .cumcgreen_darken {
      background-color: #97a200; }
    /* line 271, main.scss */
    section.colors ul .cumcpink_darken {
      background-color: #5d0030; }
    /* line 272, main.scss */
    section.colors ul .cumcpink_darken {
      background-color: #dd5d00; }
    /* line 273, main.scss */
    section.colors ul .cumcblue2_darken {
      background-color: #0040a0; }
  /* line 275, main.scss */
  section.colors .primary-colors li {
    height: 4em; }


.footer-wrap {
width: 100%;
min-height: 200px; 
padding: 1em 0 2em 0;
margin-top: 60px;
background: $cumcgray_darken;
clear: both;
	
	.footer {
		display: block;
		margin: 0 0 0 4%;
		padding: 2em 0;
		width: 92%;
		ul, p {
		display: block;
		float: left;
		max-width: 21%;
		margin: 0 2% 0 0;
		color: white;
		list-style: none;
		opacity: 0.8;
		li { padding: 0.2em 0; 
		}
		}
		a {
			color: white;
			opacity: 0.8;
		&:hover { opacity: 1; }
		
		}
	}
}
	
}

.region-footer { padding-top: 2em; }

.region-footer .logo-wrap .logotype {
	background: url(../img/logos/son-logo-1.png) no-repeat !important;
	display: block;
	text-indent: -9999px;
	background-size: 100% auto !important;
	}
