@import 'mixins.scss';

/* ==========================================================================
   Global Header
   ========================================================================== */


.region-globalheader {
    width: 100%;
    display: block;
    margin: 0;      
    padding: 0;  
    float: left;
}



/* ==========================================================================
   Site Header
   ========================================================================== */
.siteheader {
  border-bottom: solid 1px $cumcgray;
  float: left;
  clear: both;
  margin: 0;
  width: 80%;
  max-width: 1400px;
  padding: 0 10%;
  position: relative;
  .logo-wrap {
    display: block;
    float: left;
    clear: left;
    margin: 1em 0 0 0;
    width: 20%;
    min-width: 300px;
    .logotype { 
      float: left;
      width: 250px;
      height: 100px;
      a {
        background: url(../img/logos/pns-logo.svg) no-repeat;
          background-size: 100% auto;
          width: 100%;
          height: 180px;
          display: block;
          float: left;
          text-indent: -9999px;
          color: $cumcgray;
      }
    }    
  }
  .navwrapper {
    width: 100%;
    max-width: 100%;
    padding: 0; margin: 0;
    nav {
      max-width: 100%;
    }
  }   
}

.lt-ie9 .siteheader {
	float: none;
	margin: 0 auto;
}


/* ==========================================================================
   Main Body
   ========================================================================== */

.region-localnav {
  float: left; 
  width: 20%;
  padding: 0; 
  margin: 0;
}


.page-nursing-profile .pagewrapper, .page-profile .pagewrapper, .page-node-51 .pagewrapper {
  .region-mainpagecontent{
    width: 100%;
  }
}

.pagewrapper {
  clear: both;
  float: none;
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  > article {
    width: auto;
    display: inline;
  }

  .region-mainpagecontent {
  width: 70%;
  float: left;
  }

  .maincontent {
      float: left;
      margin: 0 5% 0 0;
      margin-bottom: 2em; 
      width: 100%;
  }
  
    .front.maincontent {
      float: left;
      width: auto;
      margin: 0 auto;
      padding: 0;
      float: none;
      width: 95%;
      max-width: 1400px;
      height: 20px;
  }


  .column.sidebar {
    float: left;
    clear: none;
    width: 20%;
  }
} // end pagewrapper

.lt-ie9 .pagewrapper {
	float: none !important;
	clear: both !important;
	margin: 0 auto !important;
}

/* ==========================================================================
   Front
   ========================================================================== */
.banner-front { //adrc
  float: none;
  clear: both;
  display: block;
  background: url(../img/bg/neurons-front.jpg) no-repeat;
  background-size: cover;
  min-height: 300px;
  padding: 1em 5%;
  color: #ddd;
  -moz-box-shadow: inset -10px 0 3em #000;
  -webkit-box-shadow: inset -10px 0 3em #000;
  box-shadow: inset -10px 0 3em #000;
  h1 {
    color: #fff !important;
    font-size: 3.5em;
  }
}

.site-quote { //adrc
  clear: both;
  float: right;
  padding: 50px 0 0 25%;
  //margin-bottom: -340px;
  p {
    font-family: $avenir-italic;
    color: #eee;
    margin: 0 0 0 5%;
    span { padding-top: 1em;}
  }
  /*@include breakpoint($breakpt-medium) {
    width: 55%;
  }
  @include breakpoint($breakpt-large) {
    width: 60%;
    margin-bottom: -300px;
  }
  @include breakpoint($breakpt-xl) {
    width: 63%;
  }*/
}

.site-head { //adrc
  /*width: 90%;
  max-width: 1400px;
  overflow: hidden;
  clear:both;
  margin: 1em auto -200px auto;
  padding-top: 1em;*/
  h1{
    font-family: $avenir-light;
    font-size: 2.4em;
    line-height: 1.1em;
    font-weight: 300;
    color: #eee;
    margin: 0 0 0 2%;
    @include breakpoint($breakpt-medium) {
      font-size: 3em;
    }
    @include breakpoint($breakpt-xl) {
      font-size: 3.5em;
    }
  }
}

.landing > .region-mainpagecontent { //adrc
  float: left;
  padding: 1em;
  //background: url(../img/bg/neurons-main-top.jpg) no-repeat;
  //min-height: 600px; //just to make some space delete later
  font-family: $avenir;
  @include breakpoint($breakpt-xl) {
    width: 65% !important;
  }
  @include breakpoint($breakpt-medium) {
    width: 55%;
  }
  @include breakpoint($breakpt-large) {
    width: 60% !important;
  }  
}

.landing p{ //adrc
  font-family: $avenir;
  margin: 0 auto;
}

.maincontent.landing { //adrc
  //background: url(../img/bg/neurons-main-top.jpg) no-repeat;
  height: 344px;
}

.sidebar-front { //adrc
    float: right;
    //visibility: hidden;
    //display: none;
    display: block;
    width: 90% !important;
  @include breakpoint($breakpt-medium) {
    //visibility: visible;
    display: block;
    background-color: #fff;
    min-height: 600px;
    width: 35% !important;
    float: left;
    margin-top: -200px;
  }
  @include breakpoint($breakpt-large) {
    width: 30% !important;
  }
  @include breakpoint($breakpt-xl) {
    width: 25% !important;
  }
}

.region-sidebar-front { //adrc
  width: 100% !important;
  margin: 0;
}

.front { //adrc
  .siteheader {
    border: none !important;
  }
}

.maincontent {
  width: 100%;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */


sidebar, .sidebar {
    float: left;
    width: 100%;
    
}


/* ==========================================================================
   Site Footer
   ========================================================================== */

// chris: e.g. this region declaration is not smaccs compliant it mixes function
//        with visual styling;
.region-footer {
  display: block;
  clear: both;
  min-height: 200px;
  padding: 1em 0 2em 0;
  background: #2d2e31;
  background: url(../img/bg/footer-neurons.jpg) no-repeat;
  background-size: cover;
  margin: 0;
  clear: both;  
  .logo-wrap {
    display: block;
    float: left;
    clear: left;
    margin: -1em 6% 0 0; 
    width: 20%; 
     .logotype {
      width: 225px; 
       .logotype a {
        background: url(../img/logos/pns-logo-1.svg) no-repeat;
        background-size: 100% auto;
        width: 225px;
        height: 65px;
        display: block;
        float: left;
        text-indent: -9999px;
        color: #73757a; 
      }
    }
  }
  ul,  p {
    display: block;
    float: left;
    max-width: 21%;
    margin: 0 6% 0 0;
    color: white;
    list-style-type: none;
    opacity: 0.8; 
    li {
      padding: 0.2em 0;
      }
  }
  a {
    color: white;
    opacity: 0.8; 
    &:hover {
      opacity: 1; 
    }
  }
  }

.sitefooter {
    width: 95%;
    padding: 0 2.5%;
    clear: both;
    
}
 
.clear {
  display: block;
  clear: both;
  }

.lt-ie9 .region-footer {
  .logo-wrap {
     .logotype {
        background: url(../img/logos/son-logo-1-ie.png) no-repeat !important; 
        background-size: 100% auto;
        width: 225px;
        height: 65px;
        display: block;
        float: left;
        text-indent: -9999px;
        color: #73757a; 
     }
  }
}

/* ==========================================================================
   Global Footer
   ========================================================================== */


.region-globalfooter {
    width: 95%;
    padding: 0 2.5%;
    clear: both;
    
}


/* ==========================================================================
   Clown Colors for testing layout
   ========================================================================== 

.globalheader {background: red;}
.region-siteheader {background: orange;}
.maincontent {background: yellow;}
  article {background: green;}
  sidebar {background: blue;}
.sitefooter {background: indigo;}
.region-globalfooter {background: violet;}
 
*/


/* ==========================================================================

put this stuff somewhere!

*/

.region-front-left {
  position: relative;
  display: block;
  float: left;
  width: 22%;
  margin: 1.5em 0 0 0;
}

/* ==========================================================================
   Breakpoints
   ========================================================================== */

@media only screen and (max-width: 800px) { 

.js-is-on .pagewrapper {
	width: 100%;
}

.pagewrapper .region-mainpagecontent {
	width: 90%;
	margin: 0 5%;
	}
	
.pagewrapper .column.sidebar {
	width: 95%
}

.region-front-middle {
	width: 45%;
}

.region-front-left {
	width: 45%;
	display: none;
}

.news {
	width: 45% !important;
	&.nursing-front {
	width: 100% !important;	
		}
	}

.siteheader .logo-wrap .logotype a {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 280px;
}

}

@media only screen and (max-width: 800px) {

.news {
	width: 95% !important;
	}

.region-front-middle {
	width: 95%;
}

.region-footer {
	min-height: 270px;
	ul {
		width: 50%;
		max-width: 50%;
		}
	.logo-wrap {
  		width: 55%;
  		}
	}

.connect-wrap .connect {
	width: 20%;
	}

}

