@import 'mixins.scss';

/* ==========================================================================
   Logo imagereplace
   ========================================================================== */

.logotype {
    /*background: url("../img/logos/CUMClogo2c.svg") no-repeat;*/
    background-size: 90%;
    width: 100%;
    height: 2em;
    margin: 0;
    padding: 0;
    clear: both;
}


/* ==========================================================================
   Filterbox
   ========================================================================== */
.filterboxwrapper {
    margin: 0 0 1em 0;
    .filterbox {
        width: 14em;
    }
}

/* ==========================================================================
   Buttons and Starter Navigation
   ========================================================================== */

    ul.tabs, ul.action-links {
        margin: 0; 
        padding: 0; 
        float: right;
        list-style: none;
        
        &.tabs-primary {
            float: right; 
            width: auto;
        }
        li { cursor: pointer; 
            margin: 0; 
            padding: 0;
            float: left; 
            border: solid 1px $cumcgray; 
            margin: -1px 0 0 -1px;
            @include transition(.2s);
            a {
                color: inherit;
                padding: .25em 1em;
                display: block; float: left;
                margin: 0;
                &:hover {
                    background: $cumcgray;
                    color: white; 
                }
            }
        
            &.is-active, li:hover {
                a{
                    color: white;
                }
            } 
        }   
    }

a:focus { 
    outline: none; /* Removes Firefox Link Outlines*/
}
.button {
    display: inline-block; 
    margin: 1%; 
    cursor: pointer;
    font-family: $avenir;
    font-weight: normal;
    @include transition(.2s);
    color: #fff;
    background: $cumcgray;
    text-transform: uppercase;

    //ADRC Buttons
    line-height: 0.7em;
    padding: 0 0 0 1em !important; //adrc
    $radius: 10em;
    -webkit-border-top-right-radius: $radius;
    -webkit-border-bottom-right-radius: $radius;
    -moz-border-radius-topright: $radius;
    -moz-border-radius-bottomright: $radius;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border: solid .25em $cumcgray !important;
    &::after {
        background-image: url('../img/bt-more-black.png');
        background-repeat: no-repeat;
        content: '';
        background-size: 30px 30px;
        height: 30px;
        width: 30px;
        opacity: 0.5;
        display: inline-block;
        margin-left: 0.9em;
        vertical-align: middle;
    }
    &.small::after {
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
    }
    &.large::after {
        background-size: 40px 40px;
        width: 40px;
        height: 40px;            
    }
    &.compact {
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        position: relative;
        z-index: 1;
        height: 18px;
        padding-right: 10px !important;
        background-color: #ccc;
        border: 2px solid rgba(185, 185, 185, 0.8) !important;
        border-right: transparent !important;
        font-size: 0.6em;
        color: $cumcpurple;
        &:hover {
            border-color: rgba(255, 255, 255,0.1) !important;
        }
        &::after{
            position: absolute;
            z-index: -1;
            top: -2px;
            right: -10px;
            background-image: url('../img/triangle-white-right.png');
            background-repeat: no-repeat;
            content: '';
            background-size: 10px 18px;
            height: 18px;
            width: 10px; 
            opacity: 0.7;          
        }
    }
    &:hover {
        background-color: $cumcpurple !important;
        border-color: $cumcpurple !important;
        color: white;
    }
    &:active {
        background-color: $cumcpurple_darken !important;
        border-color: $cumcpurple_darken !important;
        color: white;
    }
    &.purple {
        background-color: $cumcpurple !important;
        border-color: $cumcpurple !important;
    }
    &.purple:hover {
        background-color: $cumcpurple_highlight !important;
        border-color: $cumcpurple_highlight !important;
    }
    &.purple:active {
        background-color: $cumcpurple_darken !important;
        border-color: $cumcpurple_darken !important;        
    }
    //end ADRC Buttons
    
    &.solid {border: 0;
        color: white!important;
        background-color: $cumcgray;
    }
    &.solid.blue {
        background-color: $cumcblue;
        color: white;
    }
    &.solid.orange {
        background-color: $cumcorange;
    }
    &.solid.green {
        background-color: $cumcgreen;
    }
    &.solid.pink {
        background-color: $cumcpink;
    }
    &.solid.gray {
        background-color: $cumcgray;
    }
    &.blue {
        background-color: white;
        color: $cumcblue;
    }
    &:hover.blue {
        background-color: $cumcblue;
        border-color: $cumcblue;
        color: white;
    }
    &.active.blue {
        background-color: $cumcblue_darken;
        border-color: $cumcblue_darken;
        color: white;
    }
    &.pink {
        background-color: white;
        color: $cumcpink;
    }
    &:hover.pink {
        background-color: $cumcpink;
        border-color: $cumcpink;
        color: white;
    }
    &.active.pink {
        background-color: $cumcpink_darken;
        border-color: $cumcpink_darken;
        color: white;
    }
    &.green {
        background-color: white;
        color: $cumcgreen_darken;
    }
    &:hover.green {
        background-color: $cumcgreen;
        border-color: $cumcgreen;
        color: white;
    }
    &.active.green {
        background-color: $cumcgreen_darken;
        border-color: $cumcgreen_darken;
        color: white;
    }
    &.orange {
        background-color: white;
        color: $cumcorange;
    }
    &:hover.orange {
        background-color: $cumcorange;
        border-color: $cumcorange;
        color: white;
    }
    &.active.orange {
        background-color: $cumcorange_darken;
        border-color: $cumcorange_darken;
        color: white;
    }
} //end .button






/* ==========================================================================
   Features/Modules
   ========================================================================== */

section {}



/* ==========================================================================
   Global Header
   ========================================================================== */

.region-globalheader {
    width: 100%;
    margin: 0;        
    font-size: .85rem;
    width: 100%;
    background: $cumcblue;
    border-bottom: solid 1px white;
    @include boxshadow;
    .globalNavToggle {
        font-family: $avenir;
        display: block;
        float: left;
        font-size: .85rem;
        margin: 0;
        padding: .25rem 1rem;        
        color: white; 
        white-space: nowrap;
        cursor: pointer;
        z-index: 1;
        height: 1.25rem; 
                    overflow: hidden;
                    
    }
    span.block {
        margin: 0;
        float: left;
        overflow: visible;
        float: left;
        ul {
            float: left; 
            width: auto;
            border: 0;
            padding: 0 0 0;
            margin: 0;
            background: $cumcblue;
            color: white; 
            z-index: 100;
            overflow: hidden;
            li { float: left;
                clear: left;
                color: white;
                float: left; 
                display: block; 
                padding: 0; margin: 0;
                font-family: $avenir;
                font-weight: $light;
                font-size: .85rem;
                width: 100%;
                a { 
                    color: white;
                    display: block;
                    padding: 0;
                    margin: 0;
                    text-decoration: none;
                    height: 1.25rem; 
                    overflow: hidden;
                    padding: .25rem 1rem;

                    &:hover {background: $cumcblue_highlight;}
            }
            }
        }
    &.block-google-appliance {
        float: right;
    }    
    }
}

/* ==========================================================================
   Site Header
   ========================================================================== */


.siteheader {
    float: left;
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
    nav{
        display: block;
        float: left;
        font-size: 1rem;
        ul{
            float:left;
            margin:0;
            padding:0;
            list-style: none;
            width: auto;
            li{
                display: block;
                float: left;
                padding: 0 .85em .5em .85em;
                width: auto;
                a{
                    border-width: 0 0 1px 0;
                    display: block;
                    text-decoration: none;
                    float: left;
                    padding: 0.15em 0.75em;
                    color: $cumcgray;
                    text-transform: uppercase;
                    background: none;
                    font-weight: 100;
                    font-size: .85em;
                    text-align: center;
                    display: block;
                    &.active {
                        background: rgba(255,255,255,0.2);
                    }
                    &:hover {
                        background: $cumcpurple; 
                        color: white;
                        @include transition(.025s);
                    }
                }
                #navsearch { padding: 5%;
                    input[type="text"] {border: solid 1px $cumcgray; margin: .5em 0; padding: .25em; width: 95%;}
                }
            }
        }
    }
}

/* ==========================================================================
   login stuff
   ========================================================================== */
.login_logout {
    float: right;
    padding: 1em;
    a {}
}

/* ==========================================================================
   Navigation Items
   ========================================================================== */

        
.localnav {
    ul {
        li {
            a { padding: .25em 1em;
            &:hover {background: $cumcorange_highlight; 
                color: white;}
            &.active {background: $cumcgray_highlight;}
            }
        }
    }
}   
.breadcrumb .navwrapper {
    position: relative;
    min-height: 2em;
    margin: 0 0 0 -1.25em;
    nav {
        float: left;
        display: inline;
        margin: 0 0 1.5% 0;
        clear: none;
        width: 100%;
        position: absolute;
        z-index: 200;
        ul {
            width: auto;
            float: left;
            padding: 0;
            margin: 0;
            &.showit {
                background: white;
                @include boxshadow;
                display: block;
                
                background: rgba(255,255,255,.85);

                > li {
                    display: block;
                    width: 100%;
                }
            }
            li {
                display: none;
                float: left;
                clear: left;
                position: relative; 
                a {padding: .25em 1em;
                    float: left;
                    display: block;
                    &.active {
                        background: none;
                    }
                    &:hover {
                        background: $cumcblue2;
                        color: white;
                    }
                }
                &.active-trail {
                    display: block;
                    &:before {content:(">"); 
                    float: left; 
                    padding: .25rem;}
                    a { 
                    }
                }    
            } 
        }
        ul:first-child > li.active-trail:before{content:("");}
    }
}
    
div.drawertoggle {text-transform: uppercase;}
div.drawertoggle:first-child:before {content:("="); font-family: CUMCLogos; margin-right: .5em;}
div.drawershow {display: none;}
div.drawershow {
    background: $cumcgray_darken; 
    display: block;
    font-size: .85rem;
    cursor: pointer;
    float: left; 
    padding: .5em 1em;
    margin: 0 0 1em 0;
    color: white;
    z-index: 490;
    width: auto;
    div {display: inline;}

}

.lt-ie9 div.drawershow {
	clear: both;
}

.region-localnav {
    position: none;
    display: block;
    padding: 0;
    nav{
        clear: both;
        margin: 0;
        padding: 0;
        float: left;
        ul {
            float: left;
            padding: 0;
            &.slideout {
                display: none;
                position: fixed; 
                height: 100%;
                padding: 0 0 0 2.5%;
                top: 0;
                left: 0;
                min-width: 12rem;
                max-width: 200px;
                background: white;
                background: rgba(255,255,255, .9);
                z-index: 500;
                @include boxshadow;
            }

            li {
                width: 100%;
                display: block;
                padding: 0;
                margin: 0;
                float: left;
                a {
                    padding: .5em 5%;
                    width: 90%;
                    display: block;
                    &:hover {
                                background: $cumcblue2_highlight;
                                color: white;
                            }
                }                      
            }
        }   
    } 
}

a.active {
    background: $cumcblue2_highlight;
}

.views-table {
	margin-top: 0.5em;
	th a {
	color: $cumcgray_darken;
	font-weight: 100;
	font-size: 1em;
	&.active {
		background: none;
		color: $cumcgray_darken;
		font-weight: bold;
		font-size: 1em;
		}
	}
}
	


/* ==========================================================================
   Main Body Styles
   ========================================================================== */

.article-mini-module {
float: right;
clear: right;
width: 45%;
margin: 0 0 5% 5%; 
min-width: 200px;
}

/* ==========================================================================
   Body Image Module and Captions
   ========================================================================== */



.image-wrapper {
    float: right; 
    position: relative;
    width: 40%;
    max-height: 50%;
    margin: 0 0 5% 5%;
    list-style-type: none; 
    border: solid 1px $lightgray;
    img {width: 95%;
        float: right;
        padding: 2.5%
    }
    .image-caption {
        float: left; 
        clear: both;
        background: rgb(255,255,255);  
        background: rgba(255,255,255,.8); 
        width: auto;
        padding: .5em;
        font-family: $minion;
        font-size: .85rem;
        &.bottom-right {bottom: 1em; right: 1em;  width: 50%; position: absolute;}
        &.bottom-left {bottom: 1em; left: 1em;  width: 50%; position: absolute;}
        &.top-right {top: 1em; right: 1em;  width: 50%; position: absolute;}
        &.top-left {top: 1em; left: 1em;  width: 50%; position: absolute;} 
        &.top-center {top: 1em; left: 1em; right: 1em; width: auto; position: absolute; }
        &.bottom-center {bottom: 1em; left: 1em; right: 1em; width: auto; position: absolute; }
     } 
    .photo-credit {font-size: .75rem; color: $cumcgray; margin-left: .5em;}
    a.photo-credit:hover {color: $cumcorange_highlight;}

}

.image-wrapper.feature-image {
    margin: 0 0 1.5em 0;
    max-height: 425px;
    overflow: hidden;
        width: 100%;
        padding: 0;
        .fieldset-wrapper {
        	overflow: hidden;
        	max-height: 425px;
        	display: block;
        	}
        img {
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
    .bottom-left {
    bottom: 1em;
    left: 1em;
    position: absolute;
    width: 50%;
}




/* ==========================================================================
   Related links
   ========================================================================== */

aside { 
    h3{font-size: .85em;
        text-transform: uppercase;
        letter-spacing: .2em;    
    }
    ul {
        margin: 0; 
        padding: 0;
        list-style: none;
        li { border-bottom: dotted 1px $cumcblue2;
            padding: .25em 0; 
            font-size: .85rem; 
        }
        li.external a:after {font-family: CUMCLogos; font-size: 1.25em; font-weight: normal; color: $cumcgray; content: " »"; 
        }
    }
}

.related-links {
	margin: 0 0 2em 0;
	.views-row {
		span {
			font-size: 1.25rem;
			}
	}
}		

/* ==========================================================================
   Blockquote
   ========================================================================== */

blockquote {margin: 5% 10%; text-align: center; float: left; width: 35%; font-style: italic;  }
blockquote:before {content:"“"; font-size: 6em; float: left; margin: -.25em 0 0 -.5em }
blockquote:after{content:"”"; font-size: 6em; line-height: 0; float: right; position: relative; top: .36em; right: -.5em; }
blockquote p:before {content: "â€œ";}
blockquote p:first-child:before {content: "";}
blockquote p + p:last-child:after {content: "â€";}
blockquote p:last-child {margin-bottom: 1em;}
blockquote cite {font-style: italic; font-weight: 800;}

blockquote.article-mini-module {
width: 35%;
margin: 2.5% 7.5%; 
}

/* ==========================================================================
   Asides
   ========================================================================== */


aside {
    p{
    max-width: 26rem;
    font-size: .85rem;
    margin: 1em 0;
    } 
    h1 {font-size: 1.5rem;}
    h2 {font-size: 1.25rem;}
    h3 {font-size: 1rem;}
}


/* ==========================================================================
   Sidebars
   ========================================================================== */



sidebar, .sidebar {
     font-size: .85rem;
    float: left;
    width: 100%;
    padding: 0;
    * {min-width: 0;}
    > * {border-top: 0;}
    h1, h2, h3, h4, h5, h6, p { color: $cumcgray;}
    h1 {font-size: 1.5rem;}
    h2 {font-size: 1.25rem;}
    h3 {font-size: 1rem;}
    a {color: $cumcblue_highlight;
    &:hover { background: #e8e8e8; }
    &.button.addtocalendar {
        color: white;
        font-size: 0.9em;
        padding: 0.3em 0.5em;
        margin-top: 0.1em;
        display: block;
        float: left;
        clear: both;
        &:hover { background: $cumcorange_highlight; }
        }
    }
    .news {
        width: 100%;
    }
    .abbreviated {
        
    }
    .basic-image {
        margin-bottom: .5em;
        img {
            width: 100%;
        }
        .file-icon {width: auto;}
    }
}

.sidebar-front { //adrc
    ul.menu { //adrc
        padding: 0;
        list-style: none;
        li.menu__item a {
            display: block;
            font-family: $avenir;
            background: none;
            margin: 0.2em 0;
            &:hover {
                background: $cumcpurple;
                color: white;
            }
        }
    }
    .sidebar-content { //just to mock up front page content
        h1, h2, h3, h4, h5, h6 {
            color: $cumcblue;
            &.sidebar-section {
                font-family: $avenir-italic;
                color: $cumcgray !important;             
            }
        }
        margin-bottom: 1em;
        padding: 1em;
        &.borders {
            border-left: 1px #ddd solid;
            border-bottom: 1px #ddd solid;
            padding: 0;
            margin-bottom: 3em;
            h1, h2, h3, h4, h5, h6, p {
                padding: 0 1em;
            }
            p {
                color: black;
            }
            table {
                margin: 0;
                h1, h2, h3, h4, h5, h6, p {
                    padding: 0;
                    margin: 0;
                } 
                td {
                    border-bottom: none;
                }
                a {
                    &:hover {
                        background-color: $cumcpurple;
                        color: white; 
                    }
                }
            }
            &.news {
                h3, h4, h5, h6 {
                    margin: 0 0 0.5em 0;
                    padding-top: 2em;
                }
            }
        }
        a {
            &:hover {
                color: #fff;
                background-color: $cumcpurple;
                width: 100%;
            }
        }
        .button {
            width: 60%;
            text-align: right;
            background-color: $cumcgray_highlight;
            border: solid 0.25em $cumcgray_highlight !important;
            &:hover {
                border: solid 0.25em $cumcpurple !important;
            }
            &::after {
                opacity: 0.3;
            }
        }
    }
    .tag {
        color: $cumcblue;
        text-transform: uppercase;
        font-size: 0.6em;
        padding: 1px;
        white-space: nowrap;
        /*&:hover {
            background-color: $cumcblue;
            color: white;
            cursor: pointer;
        }*/
    }
    .date {
        font-size: 0.9em;
    }
} // end .sidebar-front

/* ==========================================================================
   News Module
   ========================================================================== */
   
.news-index {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin: 0 0 2em 0;
            img {max-width: 120px;
                 float: right;
					margin-left: 5%;
					margin-bottom: 1em;
                 }
            h1 {font-size: 1.15rem; font-weight: $bold; margin: 0.1em 0;}
            h2 {font-size: 1rem; margin: 0;}
            h3 {font-size: 1rem; font-weight: $bold; margin: 0;}
            .primary-category {
                font-size: .75em; 
                text-transform: uppercase; 
                margin: 0; 
                font-weight: bold;
                a{
                color: $cumcorange;
                }
            }   
            .datetime {
                font-size: .78em;
                padding: 0 0 0 0.5em;
            }
            .byline {
                font-size: .55em; 
                text-transform: uppercase; 
                font-weight: $bold; 
                color: $cumcgray;
            }
            p {
                line-height: 1.25em; 
                letter-spacing: -.03em;
                font-size: 0.95em;
				font-family: $avenir;
            }
            ul.pager { 
                display: block; 
                clear: both; 
                float: none; 
                width: 100%; 
                border-top: 1px solid $lightgray; 
                padding: 1em; 
                text-align: center;
                li { 
                    display: inline; 
                    padding: 1em; 
                }
            }
        }   
    }
}

.news {
    display: block;
    float: left;
    width: 46%;
    margin: 1em 0 2em 0;
    padding: 0;
    position: relative;
    z-index: 99;
    &.nursing-block .news-index {
    .field-body { display: block; }
    ul li {
    margin: 0 0 1em 0; 
    	h1 {
    	font-size: 1em;
    	font-weight: 100;
    	}
    }
    }
}

.news.nursing-interior {
	width: 100%;
	}

.news.nursing-front {
		.image-wrapper .image-caption { display: none !important; }
        display: block;
        float: left;
        width: 95%;
        margin: 0 0 2em 0;
        padding: 0;
        position: relative;
        z-index: 99;
        background: white;
        padding: 0;
        display: block;
        float: left;
        clear: both;
        .view-content {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
        padding: 5% 5% 1em 5%;
        .views-row { margin: 0 0 1em 0; }
        }
        .item {
            border-bottom: solid 1px #e8e8e8;
            padding: 0 4% 0 0;
            width: 95%;
            display: block;
            float: left;
            font-weight: 100;
            &:nth-child(2) { border-right: 0; }
            &:last-child, &.last { margin-right: 0; border: none; }
            img {
            display: block;
            width: 100%%;
            height: auto;
            clear: right;
            float: right;
            }
            .datetime { font-size: 0.75em; font-style: italic; }
                h1 {
                margin: 0.3em 0 0.5em 0;
                font-size: 1em;
                font-weight: 100;
                }
                h2 { margin: 0 0 0.4em 0; }
                p { font-size: 0.85em; font-family: $avenir; }
            }
        .item.views-row-first h1 { font-style: italic; font-weight: bold; font-size: 1.3em; }
        .item .views-field .field-body { display: none; }
        .views-row-first.item .field-body { display: block; }
        a.button.small {
            background: none;
            color: $cumcblue;
            top: 7px;
            right: 5%;
            font-size: 0.8em;
            font-family: $avenir;
            float: right;
            font-style: italic;
            position: absolute;
            bottom: auto;
            border: 0;
            text-transform: none;
            &:hover { color: $cumcblue_highlight; opacity: 0.8; }
        }
        .news-date { font-size: 0.9em; font-style: italic; color: #6B6B6B; }
    .news-index {
    &.lateral ul { margin: 0; }
    }	

.nursing-front-news-img {
    display: block;
    float: right;
    width: 15%;
    height: auto;
    margin: 0 0 2% 5%;
    }

    .primary-category a, 
    .primary-category, 
    .date-display-single { 
        font-size: .9em; 
        text-transform: uppercase; 
        margin: 0; 
        font-weight: $bold; 
        color: $cumcgray; 
        font-style: italic; 
        display: inline; 
    }

    .date-display-single { 
        font-weight: normal; 
        display: inline; 
        font-size: 0.9em; 
    }
    .views-field-field-event-date, .views-field-term-node-tid { 
        display: inline; 
    }

}

.news.nursing-front.context-block .view-content { background: none !important; }

.view-nursing-news-front .news-index ul li div { display: inline; }

.view-nursing-news-front .news-index ul li .field-body, .view-nursing-news-front .news-index ul li img { display: none; }

.view-nursing-news-front .news-index ul li.views-row-first .field-body, .view-nursing-news-front .news-index ul li.views-row-first img { display: block; }

.nursing-front li h1 { font-style: italic; font-weight: 100 !important; font-size: 1em; }

.nursing-front li.views-row-first h1 { font-style: italic; font-weight: bold !important; font-size: 1.3em; }

/* ==========================================================================
   News Page
   ========================================================================== */

.page-news {
	.news {
		width: 100%;
		}
	.pagewrapper .region-mainpagecontent { width: 100% !important; }
	}	

.view-nursing-news-front.nursing-interior .news-index {
	ul li {
		display: block;
		clear: both;
		margin: 0.5em 0;
		padding: 0.5em 0;
		border-bottom: 1px solid #e8e8e8;
		.field-body { float: none; }
	}
}	
   
.view-nursing-news-front.nursing-interior .news-index ul li .field-body,
.view-nursing-news-front.nursing-interior .news-index ul li img {
	display: block;
	float: none;
	margin: 0 25px 25px 0;
	clear: left;
	}

.nursing-interior {
	ul.pager {
		display: block;
		clear: both;
		width: 100%;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
		padding: 0.5em;
		li { display: inline; padding-right: 0.3em;}
		}
	.news-index {        
            border-bottom: solid 1px #e8e8e8;
            padding: 0 4% 0 0;
            width: 95%;
            display: block;
            float: left;
            font-weight: 100;
            &:nth-child(2) { border-right: 0; }
            &:last-child, &.last { margin-right: 0; border: none; }
            img {
            display: block;
            width: 100%%;
            height: auto;
            clear: left;
            float: left;
            }
        }    
    .views-row {
    	display: block;
    	float: none;
    	clear: both;
    	margin: 0.5em 0;
    	padding: 0.5em 0;
    	border-bottom: 1px solid #e8e8e8;
    	img { max-width: 25%; display: block; float: left; margin: 0 25px 25px 0; }
    	h1 { font-size: 1.2em; }
    	}
    	.view-content { width: 56%; display: block; float: left; }	
}   

.page-news-archive {
	.view-content { width: 100%; }
}

.featured-news-archive  {
	display: block;
	width: 100%;
	clear: both;
	.image-wrapper {
			display: block !important;
			width: 25% !important;
			float: left !important;
			margin: 0 2em 2em 0 !important;
			.image-caption { display: none !important; }
			img {
			width: 100% !important;
			float: left !important;
			}
			}	
		.views-row {
			display: block;
			width: 45%;
			float: left;
			margin-right: 5%;
			h1 { 
			margin: 0.3em 0 0.2em 0;
			font-size: 1.3em;
			font-weight: 100;
			}
			img {
			width: 25%;
			display: block;
			float: left;
			margin: 0 25px 25px 0;
			}
			p {
				max-width: 100% !important;
				font-size: 0.85em;
				font-family: $avenir;
			}
			}
		.views-row-first {
				width: 100%;
				clear: both;
				float: none;
				h1 { font-size: 2em; }
			img {
			width: 35%;
			display: block;
			float: left;
			margin: 0 25px 25px 0;
			}
			}
}


.featured-news-archive, .page-news-archive  {
	display: block;
	width: 100%;
	clear: both;
	margin-bottom: 1em;
	.image-wrapper {
			display: block !important;
			width: 25% !important;
			float: left !important;
			margin: 0 2em 2em 0 !important;
			.image-caption { display: none !important; }
			img {
			width: 100% !important;
			max-width: 100% !important;
			float: left !important;
			}
		}
}			

.news {
	.front-callout.mag.interior {
		display: block;
		float: right;
		width: 36%;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
		a { font-size: 1.6em; }
		}	
	.front-callout a.mag {
		width: 150px;
		height: 150px;
		text-indent: -99999px;
		display: block;
		float: left;
		background-size: 100% auto;
	}	
}

.news.nursing-front.top-feature .view-content .views-row {
			width: 100%;
			}

.news.nursing-front.bottom-feature .view-content .views-row {
			float: left;
			width: 45%;
			clear: left;
			margin-right: 2%;
			margin-top: 0.5em;
			padding-right: 2%;
			border-right: 1px solid #e8e8e8;
			}
			
.featured-news-archive.toptwo {
	.views-row {
			display: block !important;
			width: 45% !important;
			float: left !important;
			margin-right: 5% !important;
			h1 { 
				margin: 0.3em 0 0.2em 0 !important;
				font-size: 1.3em !important;
				font-weight: 100 !important;
			}
			img {
				width: 25%;
				display: block;
				float: left;
				margin: 0 25px 25px 0;
			}
	}		
}

.news.nursing-front.top-feature .view-content .views-row-1 { clear: left; }
.news.nursing-front.top-feature .view-content .views-row-2 { clear: right; margin-right: 0; }	
.news.nursing-front.top-feature .view-content .views-field-title-1 a { font-size: 1.3em !important; }


.news.nursing-front.feature-bottom .view-content {
	padding: 1em 2% 1em 2% ;
	.views-row .views-field-title-1  a { font-size: 1.5em; line-height: 120%; }
}	

/* ==========================================================================
   Alternative Content Type Page Styles
   ========================================================================== */

.section-course-list .view-content table { clear: both; }

.node-nursing-course-list, .node-funded-pilot-project {
	h3.field-label {
		margin: 0.7em 0 0.5em 0;
		padding: 0.2em 0;
		border-top: 1px solid #e8e8e8;
		font-size: 1.2em;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
		}
	.field-details h3 {
		margin: 0.7em 0 0.2em 0;
		padding: 0.2em 0;
		border-top: 1px solid #e8e8e8;
		font-size: 1.2em;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
		}
}

/* ==========================================================================
   event Module
   ========================================================================== */
.button.addtocalendar {
padding: .5em; line-height: 1em; font-size: .5rem; text-transform: uppercase; border: 0; background: $lightblue; margin: 0;
&:hover {background: $cumcblue; color: white;}
}

.events {
    .events-index {
        margin: 0;
        dl { list-style: none;
            margin: 0;
            padding: 0;
            float: left;
            dt {float: left; 
                width: 95%;
                min-width: 13em;
                padding: .5em;
                color: $cumcblue;
                background: $lightblue;
                clear: both;
            }
            dd {margin: 0;
                padding: .5em 0;
                border-bottom: solid 1px $cumcgray_highlight;
                float: left;
                ul {float: left;
                    width: auto;
                    list-style: none;
                    margin: 0; 
                    padding: 0;
                    li {float: left;
                        clear: left;
                        margin: 0 0 1em 0; 
                        padding: 0;
                        img {max-width: 120px;
                            float: left;
                            margin: 0 2.5% 2.5% 0;
                        }
                        h1 {font-size: 1.15rem; font-weight: $bold; margin: 0; min-width: 50%;}
                        h2 {font-size: 1rem; font-weight: $bold; margin: 0; min-width: 50%;}
                        h3 {font-size: 1rem; margin: 0; min-width: 50%;}
                        .primary-category {font-size: .75em; text-transform: uppercase; margin: 0; font-weight: $bold; color: $cumcgray;}
                        .datetime {font-size: .75em;}
                        .byline {font-size: .55em; text-transform: uppercase; font-weight: $bold; color: $cumcgray;}
                        p {font-size: .85rem; 
                            line-height: 1.25em; 
                            letter-spacing: -.03em;
                        }
                    }
                }
            }
        }
    }
    .abbreviated { 
        p {display: none;}
    }
}

	ul.pager {
		display: block;
		clear: both;
		width: 100%;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
		padding: 0.5em;
		li { display: inline; padding-right: 0.3em;}
}

/* ==========================================================================
   Calendar Module
   ========================================================================== */
.calendar {
    hgroup {
        width: 100%;
        text-align: center;
        display: block;
        margin-bottom: 1em;
        * {text-align: center; line-height: 2rem; margin: 0 2rem;}
        a {
            &.prev:before {content: ('<');font-family: CUMCLogos; margin: 0 .5em;}
            &.next:after {content: ('>'); font-family: CUMCLogos; margin: 0 .5em;}
            &:hover {color: $cumcorange;}
        }
    }
    table {
        tr {
            th{display: none;
            }
            td{float: left; 
                clear: left;
                padding: 0; 
                margin: 0;
                width: 100%;
                &.today {background: $cumcorange_highlight;

                    span.calendardate {color: white; background: none; opacity: .25;}
                     ul:before {content:('TODAY');
                        display: block; 
                        color: $cumcblue;
                        margin: 0;
                        padding: .5em;
                        font-weight: bold;
                    }
                    li, dd {
                        padding: 2.5%;
                        a:hover {color: white;}
                        .eventtime {color: white;}
                    }
                }
                span.calendardate{ 
                    float: left; 
                    display: block; 
                    color: $cumcblue;
                    background: $lightblue;
                    width: 95%;
                    margin: 0;
                    padding: .5em;
                    font-weight: bold;
                    .full-day-month {}
                }
                ul, dl { 
                    float: left;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    float: left;
                    width: 70%;
                    li, dd {margin: 0;
                        padding: .25em 0;
                        font-size: .85rem;
                        img {display: none;
                        }
                        a:hover {color: orange;}
                        h1 {font-size: 1rem; font-weight: $bold; margin: 0; line-height: 1.15em;}
                        h2 {font-size: .85rem; margin: 0; line-height: 1.15em;}
                        h3 {font-size: .85rem; font-weight: $bold; margin: 0; line-height: 1.15em;}
                        .primary-category {display: none;}
                        .eventtime {color: $cumcorange;}
                        .byline {font-size: .55em; text-transform: uppercase; font-weight: $bold; color: $cumcgray;}
                        p {display: none;}
                    }
                }
            }
        }
    }
}

.view-scholarship {
	table {
		a {
		}
	}
}	

/* ==========================================================================
   Basic Accordion
   ========================================================================== */
.accordion {
    .ui-accordion-header {
        font-weight: 600;
        cursor: pointer;
        padding: .5em 0;
        border-top: solid 1px $lightgray;
    }
    .ui-accordion-content {}
}

.button.addtocalendar {
    background: none;
    display: inline;
    clear: none;
    padding: 0.2em 1em 0.2em 0.3em;
    margin: 0.2em 0 0 0.1em;
    text-transform: none;
    font-size: .9em;
    font-style: normal;
    color: $cumcpink_darken;
        &:hover {
            background: none;
            color: $cumcpink_highlight;
            }
        }

.calendar table tr td ul li .eventtime, .calendar table tr td ul dd .eventtime, .calendar table tr td dl li .eventtime, .calendar table tr td dl dd .eventtime { color: $cumcgray_darken; }

/* ==========================================================================
   Doctor Index Card
   ========================================================================== */
.faculty {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

.resultscard {
    float: left;
    clear: left;
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: solid 1px $cumcgray_highlight;
    padding: 1% 0%;
    
    .profile_link {
        padding: 2px;
        float: right;
        max-width: 25%;
        margin: 0;
        .headshot {
        width: 100%;
        float: left;
        max-width: 118px;
        border: solid 1px $cumcgray_highlight;
        padding: 2.5%;
        }
        span {
            display: block;
            padding: .5em 0;
            text-align: center;
            clear: left;

        }
    }

    h2 { font-size: 1.25rem; margin-bottom: 0;
        span {font-size: .85em;}
    }    
    h3 {font-size: 1rem;
        margin: .75em 0 .5em 0;
        clear: left;
        span {font-weight: normal;}
    }
    section {
        float: left;
        margin-bottom: .75em;
        min-width: 180px;
        width: 70%;
        dl {margin: 0; 
            padding: 0;
            list-style: none;
            font-size: 1rem;
            line-height: 1.25em;
            dt {padding: 0;
                margin: .75em 0 .5em 0;

            }
            dd {padding: 0;
                margin: 0;}
            }
        }

        ul { float: left;
            list-style: none;
            margin: 0;
            padding: 0;
            li { float: left; 
                clear: left; 
                h3 { font-size: 1rem;
                }
            }
        } 

        .locations {
            span {display: block;}
        }   
    }
   

/* ==========================================================================
   Front Page Feature Slideshow
   ========================================================================== */

.nursing-feature-slide {
    max-width: 1400px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    .image-wrapper { padding: 0 !important; }
    .feature-wrap-overlay {
        display: block;
        position: absolute;
        width: 100%;
        max-width: 1550px;
        height: 380px;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, black));
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
        z-index: 50;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        }
    .slide-info {
        display: block;
        width: 90%;
        max-width: 800px;
        height: auto;
        float: right;
        padding: 1em 4% 0 4%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        color: white;
        background: rgba(0, 0, 0, 0);
        z-index: 99;
        text-align: center;
        font-family: "Minion Pro", "Georgia", "serif";
}
    a.feature-tag {
        display: block;
        background: white;
        color: black;
        text-transform: uppercase;
        padding: 0.2em 1em 0 1em;
        margin: -30px auto 0 auto;
        float: none;
        font-size: 0.8em;
        clear: both;
        opacity: 0.7;
        font-style: italic;
        width: 75px;
    }   
        a.arrow {
            font-size: 2em;
            margin: 0 auto 1em auto;
            float: none;
            display: block;
            color: white;
            }
        a.slidephrase {
            font-size: 4.1em;
            color: white;
            font-weight: 800;
            line-height: 90%;
            font-style: italic !important;
            display: block;
            clear: both;
            padding: 0.3em 0 0.3em 0;
            opacity: 1;
            margin: 0 0 -0.5em 0;
            text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.7);
            }
        .views_slideshow_controls_text {
            position: absolute;
            bottom: 20px;
            a {
            font-size: 1em;
            }   
        }   
        .blurb {
            font-size: 1em;
            font-weight: 100;
            display: block;
            margin: 1em 0 0 0;
            color: white;
            opacity: 1;
            cursor: pointer;
        }   
}

.views-slideshow-controls-bottom {
	position: absolute;
	z-index: 99;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 51px;
}

.nursing-feature-slide .views_slideshow_controls_text {
	position: relative;
	bottom: auto;
	}

#views_slideshow_controls_text_pause_nursing_front_feature_slide-block {
	display: none;
	}	

	.views-slideshow-controls-text-previous {
		display: block;
		float: left;
		cursor: pointer;
		width: 29px;
		height: 51px;
		background: url(../img/left-arrow.png) no-repeat;
		background-size: 100% auto;
		margin: 0 0 0 2%;
		opacity: 0.7;
		text-indent: -99999px
		}
	.views-slideshow-controls-text-next {
		display: block;
		float: right;
		cursor: pointer;
		width: 29px;
		height: 51px;
		background: url(../img/right-arrow.png) no-repeat;
		background-size: 100% auto;
		margin: 0 2% 0 0;
		opacity: 0.7;
		text-indent: -99999px
	}


.front .view-nursing-news-front .views_slideshow_slide { height: 500px; }
  
.front .views_slideshow_slide { height: 500px; width: 1400px; max-width: 100%; }

.front .nursing-feature-slide ul.field-related-external-links { display: none; }

.front .nursing-feature-slide .image-wrapper, .front .nursing-feature-slide .image-wrapper.feature-image .fieldset-wrapper { max-height: 500px !important; }

  
.front .views-slideshow-cycle-main-frame {
	max-width: 100%; background: black;
	}


/* ==========================================================================
   Front Page Callouts and Buttons
   ========================================================================== */

a {
    &.apply-now {
    display: block;
    float: left;
    background: $cumcgray_darken url(../img/apply-now.png) no-repeat;
    background-size: cover;
    font-family: $minion;
    color: white;
    padding: 1em 2%;
    margin: 0.2em 0 1em 0;
    width: 96%;
    text-align: center;
    font-weight: 100;
    font-size: 1em;
    line-height: 120%;
    &:hover {
    opacity: 0.9;
    }
    .apply-now-large { font-size: 1.5em; }
    .rule {
    width: 68%;
    display: block;
    clear: both;
    border-top: 1px solid white;
    margin: 0.2em auto;
    }
    }
    &.support {
        display: block;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
        background: #0090DF;
        color: $cumcgray_darken;
        color: white;
        clear: both;
        float: left;
        text-align: center;
        width: 100%;
        padding: 0.7em 0;
        margin: 0.5em 0;
        font-size: 1em;
        &:hover {
        opacity: 0.8;
        }
    }
    &.newsletter {
        display: block;
        background: $cumcblue_darken url(../img/newsletter.png) no-repeat;
        background-size: cover;
        color: white;
        clear: both;
        float: left;
        text-align: center;
        width: 100%;
        padding: 0.7em 0;
        margin: 1em 0 0.5em 0;
        font-size: 1em;
        &:hover { background: $cumcblue url(../img/newsletter.png) no-repeat; }
    }
}

.front-callout {
    display: block;
    float: left;
    margin: 1em 0;
    padding: 1em 3% 0.5em 3%;
    width: 94%;
    clear: left;
    a.mag {
        background: url(../img/mag-thumb.png) no-repeat;
        width: 200px;
        height: 200px;
        text-indent: -99999px;
        display: block;
        float: left;
        }
    a:hover { opacity: 0.8; }
    p { color: #999; }
    &.mid {
        background: rgba(0,0,0,0.1);
        clear: none;
        }
    &.last { clear: none; }
    &.mag {
        color: black !important;
        a {
            color: #666 !important;
            font-size: 2em;
            line-height: 100%;
            font-style: italic;
            font-family: $minion;
            }
        a.mag-title { margin-top: 1em; display: block; clear: right; }  
        a.issue { color: #999 !important; display: block; clear: right; }
        p {
            display: inline !important;
            float: none !important;
            max-width: 45% !important;
            font-size: 0.6em !important;
            line-height: 110% !important;
            color: #999;
            }
        img {
        display: block;
        float: left;
        margin: -5px 1% 0.5em 0;
        max-width: 25%;
            -webkit-transition: 0.3s all ease;
               -moz-transition: 0.3s all ease;
                    transition: 0.3s all ease;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
            -webkit-transition: 0.3s all ease;
               -moz-transition: 0.3s all ease;
                    transition: 0.3s all ease;
        }
        }
    }   
    img {
        max-width: 100%;
        height: auto;
        }
    }

    .bt-more {
        float: right;
        &::after {
            content: url(../img/bt-more-white.png);
            opacity: 0.5;
        &:hover {
            opacity: 1;
        }
        }
    }

.teaser {
    max-width: 45em;
    margin: 0 auto 3em auto;
    p {
        color: $cumcblue_darken;
        font-size: 1.3em;
    }
    .button { font-size: 1em; }
    h1, h2, h3, h4, h5, h6 {
        color: $cumcpurple;
    }
    .button {
        font-size: 0.5em;
    }
}

/* ==========================================================================
   Connect Information
   ========================================================================== */


    
.connect-wrap .connect {
  width: 10%;
  display: block;
  float: left;
  clear: none;
  margin: 0; }
.connect-wrap a.connect {
  margin: 0 0 0.5em 0;
  padding: 0 8px;
  display: block;
  width: 100%;
  height: auto;
  float: left;
  font-size: 0.85em;
  clear: both;
  text-align: center; }
  .connect-wrap a.connect.newsletter {
    background: white;
    color: #333; }
    .connect-wrap a.connect.newsletter:hover {
      background: white;
      color: #333; }
  .connect-wrap a.connect.facebook {
    background: #3350AE;
    color: white; }
    .connect-wrap a.connect.facebook:hover {
      background: #3350AE;
      color: white; }
  .connect-wrap a.connect.twitter {
    background: #00C4FC;
    color: white; }
    .connect-wrap a.connect.twitter:hover {
      background: #00C4FC;
      color: white; }
  .connect-wrap a.connect.youtube {
    background: #de1815;
    color: white; }
    .connect-wrap a.connect.youtube:hover {
      background: #de1815;
      color: white; }
  .connect-wrap a.connect.linkedin {
    background: #007bb6;
    color: white; }
    .connect-wrap a.connect.linkedin:hover {
      background: #007bb6;
      color: white; }



.videoWrapper {
    border: 1px solid #999999;
    box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.2);
    margin: 0 0 1em;
    max-height: 100%;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative;
    z-index: 0;
    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
#video section {
    padding: 10% 20%;
    z-index: -1;
}

      
/* ==========================================================================
   Global Footer
   ========================================================================== */


.region-globalfooter {
    font-family: $avenir;
    background: $cumcgray;
    color: white;
        h3{
            cursor: pointer;
            color: white;
        }
        h3.active {
            color: $cumcorange;
        }
        a {
            font-size: .85rem;
            text-decoration: none; 
            color: $cumcgray_darken;
            display: block;
            padding: .25rem;      
            clear: both;  
            color: white;
            &:hover, .ui-state-active a {
                background: $cumcblue2_highlight;
                color: white;
                @include transition(.2s);
            } 
        }
        div{
            float: left;
            width: 100%;
            padding: 0;
            margin: 0;
            position: relative;
            margin-bottom: 2rem;

            ul {
                margin: 1rem 0;
                padding: 0;
                float: left;
                width: 100%;
                li { 
                    list-style: none;
                    margin: 0;
                    padding: 0;            
                } 
               
           }
            h3 {
                font-size: 1rem;
            }   

        }

    
    ul.general_info {
        float: left;
        clear: both;
        width: 100%;
        padding-bottom: 2em;
        li {float: left;}
     } 
}
 
/* ==========================================================================
   Drupal Specific Modules
   ========================================================================== */

.messages {background: yellow;}

/* ==========================================================================
   Front Page Link Map ADRC
   ========================================================================== */

   div#link-map {
        width: 100%;
        height: 28em;
        margin: 0 auto;
        -moz-box-shadow: 10px 10px 20px #aaa;
        -webkit-box-shadow: 10px 10px 20px #aaa;
        box-shadow: 10px 10px 20px #aaa;
        @include breakpoint($breakpt-medium) {
            max-width: 45em;
        }
   }
   .link-map-piece {
    float: left;
    height: 14em;
    width: 50%;
    overflow: hidden;
    p {
        color: #fff;
        font-family: $avenir;
        padding: 1em;
        font-size: 0.85em;
    }
   }
   #map-top-left {
    background: url(../img/bg/link-map.jpg) no-repeat;
   }
    #map-top-right {
    background: url(../img/bg/link-map.jpg) no-repeat;
    background-position: 100% 0;
   }
   #map-bottom-left {
    background: url(../img/bg/link-map.jpg) no-repeat;
    background-position: 0 -12em;
   }
   #map-bottom-right {
    background: url(../img/bg/link-map.jpg) no-repeat;
    background-position: 100% -12em;
   }
   .link-map-head {
    padding: 1em;
    background-color: rgba(237,30,121, 0.7);
    overflow: hidden;
    cursor: pointer;
    h3, h4, h5, h6 {
        font-family: $avenir-light;
        color: #fff;
        margin: 0 auto;
        float: left;
    }
    &:hover {
        height: 100%;
        background-color: rgba(237,30,121, 0.9);
    }
   }

/* ==========================================================================
   ADRC Footer
   ========================================================================== */
.footer {
  padding-top: 344px;
  margin-top: -344px;
  background: url(../img/bg/neurons-main-bt.jpg) no-repeat;
  ul {
    padding: 0;
  }
}

.footer-bar { //adrc colored overlay
  background-color: rgba(39, 39, 125, 0.4);
  overflow: hidden;
  height: auto;
  padding: 1em 13%;
}

.color-overlay { //colored overlay
  background-color: rgba(39, 39, 125, 0.4);
  overflow: hidden;
  height: auto;
  padding: 1em 10%;
}
