/*! Index for Faculty Search */

@import 'mixins.scss';

.resultscard  {
        padding: 0;
        width: 25%;
        min-width: 300px;
        height: 200px;
        font-size: .85em;
        float: left;
        clear: none;
        position: relative;
        margin-right: 2.5%;
         &:hover {
            background: $lightgray;
        }
        .profile_link {
            margin-right: 5%; 
            width: 100%;
            float: left;
            position: absolute;
            max-width: 100%;
            img {background: white;}
           
        }

        h2 {
            font-size: 1.25em; 
            margin-left: 35%;
            width: auto;
            z-index: 50;
            span {
                display: block;
            }
        }
        h3 {display: block; font-size: 1em;}
        dl {font-size: 1em;}
        dt {margin: 0;}
        dd {margin: 0 0 .5em 0;}
        .headshot {
            display: block; 
            border: 0; 
            padding: 0;
        }
        section {
            float: right; 
            margin-left: 35%;
            width: auto; 
            padding: 0; 
            font-size: .85rem;
        }
        .department-division {display: block;}
        .availability {display: block;}
    }
 

.resultscard .profile_link {
    background-color: transparent;
    .headshot {
        max-width: 28%;
        margin-right: 1em;
    }
}



/*! Faculty Profiles */


.faculty{
    float: left;
    margin: 0 5% 2em 0;
    width: 75%;
    max-width: 1200px;
    section {
        clear: left;
        &.bio {

        }
        &.person{
            .name{
                font-size: 2.5em;
                font-weight: normal;
                color: $cumcgray;
                span{
                    font-size: .5em;
                }       
            }    
            
            .label{
            }
            ul{
                list-style: none;
                float: left;
                margin: 0 2em 2em 0;
                padding: 0;
                li{
                }      
            }                 
            .image {
                float: right;
                max-width: 320px;
                width: 25%;
                margin: 0 0 5% 5%;
                img {
                    border: 1px solid #BEC1C7;
                    float: left;
                    padding: 2.5%;
                    width: 95%;
                }
            }

        }
        &.gender {
            display: none;
        }
        &.stats, .departments {
            float: left;
            clear: left;
            margin: 0 0 .5em 0;
            width: 70%;
            ul{
                list-style: none;
                float: left;
                margin: 0 2em 1em 0;
                padding: 0;
                width: 100%;
                li{
                    margin-bottom: .5em;
                    h2 {
                        font-size: 1em;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                    h3 {
                        font-size: 1em;
                        font-weight: bold;
                    }

                }      
            } 
            dl {
                margin: 0 0 1em 0;
                padding: 0;
                dt{
                    font-weight: bold;
                    margin-right: .5em;
                    float: left;
                    clear: left;
                }
                dd {
                    float: left;
                    margin: 0;
                }
            }
        &.stats.education { margin: 1.5em 0 .5em 0; }    
        &.pubs {
            width: 100%;
            ul {
                li {
                    padding: 0 0 .5em 0;
                    border-bottom: solid 1px $cumcgray;
                }
            }
        }  
        &.newpatients {
            p {
                text-indent: 0;
            }
        }  
    }
  }
}
            
