

              


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 320px) {
    /* Style adjustments for viewports that meet the condition */

    .region-siteheader {
        
    }
}


@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
div.drawershow {
    -webkit-transition: 0.2s all ease-in-out;
        -moz-transition: 0.2s all ease-in-out;
        transition: 0.2s all ease-in-out;
    &:hover {
        background: $cumcgray;
        -webkit-transition: 0.2s all ease-in-out;
        -moz-transition: 0.2s all ease-in-out;
        transition: 0.2s all ease-in-out;
        }
}



/* ==========================================================================
   Buttons and Starter Navigation
   ========================================================================== */
nav ul li {cursor: pointer;}







/* ==========================================================================
   Global Header
   ========================================================================== */


.region-globalheader {
    span.block {        
        .globalNavToggle {
           float: left;
            position: relative;
            overflow: hidden;
            width: auto;
            text-align: right;
            cursor: pointer;
            padding: 0;
        }
        ul { 
            
            li { 
                clear: none;
                width: auto;
                padding: 0;
                margin: 0;
                a { 
                    margin: 0;
                   
                }
            }
        }
    }

}


/* ==========================================================================
   Site Header
   ========================================================================== */

.logotype {width: 33%;}

.siteheader {
    
    nav  {
            padding: 0;
            margin: 0;
            float: left;
            clear: none;
            border: 0;
            width: 100%;
            ul {
                padding: 0; 
                margin: 0;
                
            }
        &.orgnav {
            background: $cumcblue;
            float: left;
        }
        &.missionnav {
            background: $cumcblue2;
            float: left;
            background: $cumcblue; /* Old browsers */
            background: -moz-linear-gradient(top,  $cumcblue 50%, $cumcblue2 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,$cumcblue), color-stop(100%,$cumcblue2)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  $cumcblue 50%,$cumcblue2 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  $cumcblue 50%,$cumcblue2 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  $cumcblue 50%,$cumcblue2 100%); /* IE10+ */
            background: linear-gradient(to bottom,  $cumcblue 50%,$cumcblue2 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$cumcblue', endColorstr='$cumcblue2',GradientType=0 ); /* IE6-9 */

        }
    }
}
    



/* ==========================================================================
Siteheader - JS ONLY
========================================================================== */


.js-is-on {

    .siteheader {
        max-width: 80%;
        padding: 0 10%;
        clear: none;
        .navwrapper{
            width: 63%;
            float: left;
            margin: 2em 0 2em 2.5%;
        }

    }

    .region-localnav {
        margin: 0;
        padding: 0;
        .navwrapper{
            float: left; 
            margin: 0;
            padding: 0;
            text-align: left;


            nav {
                ul{
                    padding: 2.35em 0;
                    margin: 0;
                    width: 300px;
                    max-width: 300px;
                    min-width: 12rem;
                    height: 100%;
                    position: fixed;
                    top: 0;
                    left: 0;
                    background: white;
                    background: rgba(255, 255, 255, 0.9);
                    z-index: 500;
                    @include boxshadow;
                    float: left;
                    li {
                        width: 100%;
                        display: block;
                        padding: 0;
                        margin: 0;
                        float: left;
                        a{
                            padding: 0.5em 10%;
                            width: 80%;
                            border: 0;
                            &:hover {
                                background: $cumcblue2_highlight;
                                color: white;
                            }
                        }
                    }
                }

            }    
        }
        

    }
}  

.logged-in .region-localnav .navwrapper nav ul {top: 4em;}
  
/* ==========================================================================
Pagewrapper - JS ONLY
========================================================================== */
.js-is-on {
    .pagewrapper {
        width: 80%;
        margin: 0 10% 100px 10%;
    }

}
/* ==========================================================================
    sidebar
   ========================================================================== */


sidebar, .sidebar {
    float: left;
    width: 20%;
    .news {
        width: 100%;
        height: auto;
        .news-title {
            font-weight: bold;
            font-size: 1.25rem;
        }

        .news-source {
            font-size: .85rem;
        }

        .news-summary {
            text-indent: 0;
        }
    }
    .view-feature-image {
            display: none;
        }
    .item-list > ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .field-collection-view {
        margin: 0;
        padding: 0;
        border: 0;
    }
    .image-wrapper {
        position: relative;
        width: 95%;
        margin: 0 0 .75em 0;
        padding: 2.5%;
        border: solid 1px $lightgray;
        img {
            width: 100%;
        }
        .image-caption {
            position: none;
            font-size: .85rem;
            line-height: 1.25em;
            padding: 0 2.5%;
            width: auto;
        }
    }
     
    ul.field-related-external-links { 
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            border-bottom: 1px dotted #0065BD;
            font-size: 0.85rem;
            padding: 0.25em 0;
        }
        
    }
}

sidebar .image-wrapper .image-caption, .sidebar .image-wrapper .image-caption {
    font-size: 0.85rem;
    line-height: 1.25em;
    padding: 0;
    position: relative;
}


/* ==========================================================================
    News
   ========================================================================== */

.news-index.lateral {
    ul{ border: 0;
        margin: 1rem 0 2rem 0;
        max-width: 100%; 
        overflow: hidden;

        li {
            float: left;
            width: 30%; 
            margin-right: 3.33%;
            border: 0;
            overlow: hidden;
        }
    }
}



/* ==========================================================================
    event
   ========================================================================== */

.events {
    .events-index {
        dl {
            dt {
                width: 10%;
                min-width: 3em;
                padding: 2.5%;
                margin-right: 2.5%;
                text-align: center;
                font-size: 1.5rem;
                text-transform: uppercase;
                span.date {display: block; font-size: 1.25rem; font-weight: bold;}
            }
            dd { float: left;
                width: 80%;
                ul { width: 100%;
                    li {
                        .eventtime {display: block;}
                        img {float: left;}
                    }
                }
            }
        }    
        &.lateral {
            dl{ 
                dt { max-width: 2em;
                    padding: .75em;

                }
                dd {
                    ul {
                        li {
                            width: 30%; float: left; clear: none; margin-left: 3%;
                        }
                    }
                }
            }
        }
        &.abbreviated {
            dl { display: block; width: 100%;
                dt {
                    font-size: 1rem;
                    span.date {font-size: inherit;}       

                }
                dd {width: 70%;} 
            }
            
        }
        &.abbreviated.lateral {
            dl {
                dt {
                    width: 5%;
                    min-widht: 3em;
                    font-size: 1em;
                }
            }
        }
        &.sidebar {
            dl {width: auto;}
            dt {
                width: 95%; 
                float: none; 
                display: block;
                padding: .25rem;
                font-size: 1rem;
                span.date {font-size: inherit; display: inline; margin-left: .5em;}       

            }
            dd {
                width: 100%;
            }
        }
    }
}    
.calendar {
    table {
        tr {display: table-row;
            th{display: table-cell;
                background: $cumcgray; 
                color: white;
                text-align: center;
                text-align: left;
                line-height: 1em;
                padding: .5em;
            }
            td{ float: none; 
                clear: none;
                width: 13.25%;
                height: 6rem;
                display: table-cell;
                border: solid 1px $cumcgray_highlight;
                padding: 0;
                position: relative;
                overflow: hidden;
                span.calendardate{ 
                    text-align: right;
                    width: 100%;
                    background: none;
                    display: block; 
                    font-size: 6rem;
                    line-height: 1em;
                    letter-spacing: -.15em;
                    color: $lightblue;
                    font-weight: bold;
                    background: none;
                    padding: 0;
                    margin: 0;
                    position: relative; 
                    right: .05em;
                    top: -.05em;
                    .full-day-month {display: none;}
                }
                ul {
                    position: relative; 
                    width: 100%;
                    z-index: 100;
                    top: -6rem;
                    margin-bottom: -5rem;
                    li {                    
                        margin: 5%;
                        width: 90%;
                        h1 {}
                        h2 {}
                        h3 {}
                        .primary-category {}
                        p {}
                    }    
                    &:first-child img { display: block;
                        position: absolute;
                        height: 100%;
                        width: auto;
                        z-index: 0;
                        opacity: .2;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
   Doctor Index Card
   ========================================================================== */




/* ==========================================================================
   Global Footer JS ONLY
   ========================================================================== */

.js-is-on {
    
.region-globalfooter {
    position: relative;
    background: $cumcgray;
    float: left;
    width: 95%;
    min-height: 15em;
    h3 {float: left;
        margin: 1em .5em;
        font-size: 1rem;
        text-align: center;
        &:hover {color: $cumcorange;}
    }
    .globalfooterbasics {
        clear: both;
        list-style: none;
        width: 70%;
        float: left;
    
        &.affiliations {
            width: 20%;
            list-style: none;
            float: right;
            clear: none;
            ul {
                li {
                    a {

                    }
                }
            }
        }
    }
    > div{
        position: absolute;
        background: $cumcgray;
        top: 3rem;
        left: 0;
        padding: 0 2.5%;
        width: 95%;
        border-top: solid 1px white;


        ul {   
            /* @include columns(5,auto,1em,0); */
            /*@include no-col-break()*/
        }
    }   
    }
    
}
}

@media only screen and (min-width: 50em) {
    /* Style adjustments for viewports that meet the condition */
    .region-globalheader {
        .navwrapper {
        min-width: 200px;
        max-width: 65%; 
        float: left; 
        margin: 1.8em 0 2em 2.5%;
}
}

}


