





/* ==========================================================================
  Core Typography
   ========================================================================== */

body {
  font-family: $avenir;
  font-size: 16px;
  color: #333;
  font-family: $avenir;
::selection {
  background: $cumcpurple;
  }
}


/* ----------- Default Heading Styles -----------*/

h1,
h2,
h3,
h4,
h5,
h6 {margin: 0 0 0.5em 0; line-height: 1.25em;
font-size: 1em; font-weight: bold;
}

h1 {font-size: 2em; color: #333;}
h2 {font-size: 2em; color: #666; font-weight: normal;}
h3 {font-size: 1.5em; color: #333; font-weight: bold; }
h4 {font-size: 1.5em; color: #666; font-weight: normal; }
h5 {font-size: 1.25em; color: #666;}
h6 {font-size: 1em; color: #666; font-weight:bold;}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6
 {margin-top: -.5em}
 

/* ----------- Default Typographic Styles -----------*/



p + p {margin-top: -1em; text-indent: 1.5em;}
p{margin: 0 0 1em 0; line-height: 1.5em; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; max-width: 52em;}

.maincontent {
    p{font-family: $minion;
      &.intro {
        font-size: 1.75em;
        display: block;
        margin-bottom: .5em;
        font-family: $avenir;
        letter-spacing: -.03em;
        -webkit-hyphens: auto;  
        -moz-hyphens: auto;  
        hyphens: auto; 
        color: $cumcorange_darken;
      }
    }
    ul, dl, ol {
      font-family: $minion;
    }
    table {
    	ul, dl, ol { font-family: $avenir; }
    }

}

.lt-ie9 p{max-width: 100%;}

strong, b {font-weight: 600;}
em, i {font-style: italic;}

q {}

a {text-decoration: none; border: 0; color: $cumcorange;}
a:hover {}
a:visited {}

abbr, acronym
{
   border-bottom: .1em dotted;
   cursor: help;
   font-size: .85em; font-weight: 500;
}
time {font-weight: 300;}
del {text-decoration: strikethrough;}
ins {text-decoration: none; border-bottom: dotted 1px #cccccc;}
ins:after {content:"(updated)"; font-size: .5em; vertical-align: top; weight: 900;}

blockquote {margin: 1.5rem 3rem; display: inline-block; text-align: center;  }
blockquote:before {content:"“"; font-size: 6em; float: left; margin: -.25em 0 0 -.5em }
blockquote:after{content:"”"; font-size: 6em; line-height: 0; float: right; position: relative; top: .36em; right: -.5em; }
blockquote p:before {content: "â€œ";}
blockquote p:first-child:before {content: "";}
blockquote p + p:last-child:after {content: "â€";}
blockquote p:last-child {margin-bottom: 1em;}
blockquote cite {font-style: italic; font-weight: 800;}
cite {font-style: italic;}
sub {font-size: .75em; vertical-align: bottom;}
sup {font-size: .75em; vertical-align: top;}
big {font-size: 1.5em;}
small {font-size: .75em; font-weight: 60;}
strike, s {text-decoration: strikethrough;}
u {}
pre {padding: 1em; margin: 1em; background: #ccc;  }
hr {}


/* ----------- some common classes -----------*/

.phone, .fax, .e-mail, .url {white-space: nowrap;}
.vcard {margin-bottom: 1em;}


/* ----------- Default list Styles -----------*/

ul,
ol,
dl {padding: 0 0 1em 2em; margin: 0 0 1em 0;}



ul {}

ol {}

dl {}

ol ol {
  list-style-type: lower-latin;
}

ol ol ol{
  list-style-type: lower-roman;
}

ol ol ol ol{
  list-style-type: numeral;
}

li,
dt,
dd {}

li {}

dt {font-weight: 800;}

dd {margin: 0 0 1em 0;}
dd + dd {margin: -1em 0 1em 0;}


/* ----------- Default Form Styles -----------*/
/* 
form { width: 75%;}
input {width: 40%; min-width: 308px; margin: 0 1% .25em 1%; height: 1.5em; padding: 0 .25em; float: left; border: solid 1px #ccc;}
input.half {width: 18.33%; min-width: 160px; margin: 0 1%;}
optgroup {}
label {width: 42%; margin: 0 1% .25em 0; min-height: 2em; float: left; clear: left; text-align: right; padding: .25em 0 0 0;}
textarea { margin: 0 1% .25em 1%; padding: .25em; float: left; border: solid 1px #ccc; width: 40%; min-width: 308px;}
select {width: 41%; min-width: 317px; padding: .25em; float: left; margin: 0 1% .25em 1%; background: none; border: solid 1px #ccc;}
input[type="checkbox"], input[type="radio"] {width: 1em; min-width: 1em; height: 1em; margin-top: .5em;}
input[type="button"], input[type="submit"] {width: auto; min-width: 0;}
input[type="button"]:hover, input[type="submit"]:hover {background: #333; color: white;}
option {}
legend { padding: 1em;}
fieldset {padding: 1em; border: solid #ccc; border-width: 1px 0 0 0;}
 */




table {margin:0; padding: 0;}
tr {margin:0; padding: 0;}
tr:hover { background-color: $lightblue; }
td {margin:0; padding: .5em 1em; text-align: left; border-bottom: solid 1px #ccc;}
th {margin:0; padding: .5em 1em; text-align: left; font-weight: 600; text-transform: uppercase;  border: solid #333; border-width: 0 0 2px 0;}
caption {text-align: left; font-style: italic;}
thead {margin:0; padding: 0; border: solid #333; border-width: 0 0 2px 0;}
tbody {margin:0; padding: 0; background: none;}
tfoot {margin:0; padding: 0; border: solid #333; border-width: 2px 0 0 0; background: #ccc;}
  tfoot tr {border-width: 1px 0 0 0;}



table {
  border-collapse: collapse;
  border-spacing: 0;
}


  
  table {
    border-collapse: collapse !important;
  }

table {
  max-width: 100%;
  background-color: transparent;
}

th {
  text-align: left;
}

table {
  width: 100%;
  margin-bottom: 20px;
}

table thead > tr > th,
table tbody > tr > th,
table tfoot > tr > th,
table thead > tr > td,
table tbody > tr > td,
table tfoot > tr > td {
  padding: 1em;
  line-height: 1.428571429;
  vertical-align: top;
  /*border-top: 1px solid #dddddd;*/
}

table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

table caption + thead tr:first-child th,
table colgroup + thead tr:first-child th,
table thead:first-child tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child td {
  border-top: 0;
}

table tbody + tbody {
  border-top: 2px solid #dddddd;
}

table table {
  background-color: #ffffff;
}



@media (max-width: 768px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #dddddd;
  }
  .table-responsive > table {
    margin-bottom: 0;
    background-color: #fff;
  }
  .table-responsive > table > thead > tr > th,
  .table-responsive > table > tbody > tr > th,
  .table-responsive > table > tfoot > tr > th,
  .table-responsive > table > thead > tr > td,
  .table-responsive > table > tbody > tr > td,
  .table-responsive > table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > thead > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > thead > tr:last-child > td,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}


 


fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="search"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


input[type="file"] {
  display: block;
}

select[multiple],
select[size] {
  height: auto;
}

select optgroup {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}


textarea.form-control {
  height: auto;
}


radio,
checkbox {
  display: block;
  min-height: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}

radio label,
checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

radio input[type="radio"],
radio-inline input[type="radio"],
checkbox input[type="checkbox"],
checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

radio + radio,
checkbox + checkbox {
 margin-top: -5px;
}


input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}







/* ----------- Default Block/Layout Element Styles -----------*/





/* ----------- Unstyled (i.e. left to the browser) Elements. To Be Completed as needed -----------*/
















@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
