@import 'mixins.scss';

.top-level
{
  display: block;
  margin: 0 auto;
  width: 80%;
  padding: 0 10%;
  clear: both;
}

/* ==========================================================================
   Global Header
   ========================================================================== */

.region-globalheader {
  float: left; 
  padding: 0 1.25%;
  margin: 0; 
  width: 97.5%;
}

/* ==========================================================================
   Site Header
   ========================================================================== */

.siteheader {
  @extend .top-level;  
  nav {
    width: 100%;
    max-width: 100%;
    padding: 0; 
    margin: 0;
  }   
}
/* do we need this? noah
.lt-ie9 .siteheader {
	float: none;
	margin: 0 auto;
	max-width: 1280px;
	.logo-wrap {
    .logotype { 
		a {
        position: absolute;
        z-index: 99;
        top: 60px;
    	}
    }
    }
}
*/
/* do we need this? noah
.lt-ie8 .siteheader {
	nav {
		margin: 3em 0 0 5em;
		}
	.logo-wrap {
    .logotype { 
    	background: url(../img/logos/son-logo.png) no-repeat;
        background-size: 100% auto;
        width: 352px;
        height: 119px;
		a {
		background: none;
    	}
    }
    }
} */

/* ==========================================================================
   Main Body
   ========================================================================== */

.region-localnav {
  width: 100%;
  float: left;
  .breadcrumbmore {
    @extend .top-level;
  }
}


/* do we need this? noah
.lt-ie9 .region-localnav {
  max-width: 80%;
  float: none;
}
*/

.pagewrapper { 
  @extend .top-level;
  
/* do we need this? noah
.lt-ie8 .pagewrapper {
	max-width: 1200px;
	width: 1200px;
}
*/

  .maincontent {
      margin-bottom: 2em; 
      float: left;
      margin: 0 5% 0 0;
      width: 65%;
      padding-bottom: 2em;
      @media #{$smaller-than-tablet} {
        width: 100%;
        margin: 0;
      }
    }
  }
/* do we need this? noah

.lt-ie9 .pagewrapper {
	float: none !important;
	clear: both !important;
	margin: 0 auto !important;
}
*/

/* ==========================================================================
   Front
   ========================================================================== */

.region-front-middle {
  display: block;
  width: 24%;
  margin: 1em 1.4% 0 1.4%;  
  float: left;
  border-right: 1px solid #e8e8e8;
  padding-right: 1.5%;  
  border-left: 1px solid #e8e8e8;
  padding-left: 1.5%;
}

.front .maincontent {
  float: left;
  width: auto;
  margin: 0 auto;
  padding: 0;
  float: none;
  width: 95%;
  max-width: 1400px;
  height: 20px;
}

.lt-ie9 .front .maincontent {
  margin: 0 auto;
  float: none !important;
  max-width: 1400px !important;
}

.region-front-left {
  position: relative;
  display: block;
  float: left;
  width: 22%;
  margin: 1.5em 0 0 0;
}

/*.lt-ie9 {
  margin: 1.5em 0 0 5%;
}*/

/* ==========================================================================
   Sidebar
   ========================================================================== */

.column.sidebar {
  width: 25%;
  display: bock;
  float: left;
  @media #{$smaller-than-tablet} {
      width: 90%;
      @media #{$smaller-than-tablet} {
      width: 100%;
    }
    }
  > .block-views {
    display: block;
    width: 100%;
    clear: both;
    &.view-cumc-master-news-events {
      margin-bottom: 2em;
    }
  }
}


/* ==========================================================================
   Site Footer
   ========================================================================== */

.region-footer {
  @extend .top-level;
  background: #2d2e31;
  padding-top: 2em;
  margin-top: 5em;
  /* .logo-wrap {
    display: block;
    float: left;
    clear: left;
    margin: -1em 6% 0 -2em; 
    width: 20%; 
     .logotype {
      width: 225px; 
       .logotype a {
        background: url(../img/logos/son-logo-1.png) no-repeat;
        background-size: 100% auto;
        width: 225px;
        height: 65px;
        display: block;
        float: left;
        text-indent: -9999px;
        color: #73757a; 
      }
    }
  }
  */
  /*
  
  }*/
  /*
  a {
    color: white ;
    opacity: 0.8; 
    &:hover {
      opacity: 1;
      background-color: transparent;
    }
  }
  */
  }

.sitefooter {
  @extend .top-level;
}
 
/* do we need this? noah

.lt-ie9 .region-footer {
  .logo-wrap {
     .logotype {
        background: url(../img/logos/son-logo-1-ie.png) no-repeat !important; 
        background-size: 100% auto;
        width: 225px;
        height: 65px;
        display: block;
        float: left;
        text-indent: -9999px;
        color: #73757a; 
     }
  }
}
*/
/* ==========================================================================
   Global Footer
   ========================================================================== */


.region-globalfooter {
  @extend .top-level;    
}


/* ==========================================================================
   Clown Colors for testing layout
   ========================================================================== 

.globalheader {background: red;}
.region-siteheader {background: orange;}
.maincontent {background: yellow;}
  article {background: green;}
  sidebar {background: blue;}
.sitefooter {background: indigo;}
.region-globalfooter {background: violet;}
 
*/


/* ==========================================================================

put this stuff somewhere!

*/



/* ==========================================================================
   Breakpoints
  
@media only screen and (max-width: 65em) { 

.region-front-middle {
	width: 45%;
	margin: 1em 0 0 7%;
	padding-right: 0;
	border-right: 0;
}

.region-front-left {
	width: 45%;
}

.region-footer {
	min-height: 540px;
	margin-top: 0;
	ul {
		width: 50%;
		max-width: 50%;
		}
	.logo-wrap {
  		width: 225px;
		clear: both;
		float: none;
		margin: 0 auto;
  		.logotype { }
  		}
	}
	
footer .connect-wrap {
	width: auto;
	padding: 5px;
	background: none;
	max-width: 240px;
	margin: 0 auto;
	float: none;
	clear: both;
}	

.region-footer ul, .region-footer p {
	float: auto;
	max-width: 100%;
	width: 100%;
	margin: 3em auto 0 auto;
	text-align: center;
	padding: 0;
}

.region-footer p { margin-bottom: 2em; }

.region-footer ul {
	margin: 0 auto 2em auto !important;
	}

}

@media only screen and (max-width: 38em) { 	

.js-is-on .pagewrapper {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.pagewrapper {
	.maincontent {
    margin: 0 5% 2em 5%;
    width: 90%;
    }
}    

.pagewrapper .region-mainpagecontent {
	width: 90%;
	margin: 0 5%;
	}
	
.pagewrapper .column.sidebar {
	width: 95%;
	max-width: 320px;
	clear: both;
	margin: 0;
	padding: 0 0 0 5%;
}

.breadcrumbmore .column { width: 100% !important; }

.breadcrumb {
	min-height: none;
	max-width: 80%;
	a { font-size: 0.8em; }
}

.region-front-left {
	width: 45%;
	display: none;
}

.siteheader {
	width: auto !important;
	padding: 0 !important;
	.logo-wrap .logotype {
	width: 300px; 
		a {
		position: absolute;
		top: 80px;
		left: 10px;
		width: 200px;
		}
	}
}

.maincontent {
	margin-bottom: 1em;
	}

.region-front-middle {
	width: 97%;
	margin: 1em 0 0 0;
}

.nursing-feature-slide {
	.blurb {
	display: none !important;
	}
	.slide-info {
	top: 50px;
	position: relative;
	font-size: 1.2em !important;
	}
}

.nursing-feature-slide.views_slideshow_controls_text {
	display: none;
	}

}
 ========================================================================== */

