
/* ==========================================================================
   Logo imagereplace
   ========================================================================== */
.logo-wrap {
  display: block;
  float: left;
  margin: 1em 0 0 0;
  width: 20%;
  min-width: 300px;
  max-width: 100%;
  .logotype { 
    float: left;
    width: 352px;
    background-size: 90%;
    width: 100%;
    height: 3em;
    margin: 0;
    padding: 0;
    clear: both;
    a {
      background: url(../img/logos/son-logo.png) no-repeat;
      background-size: 100% auto;
      width: 302px;
      height: 91px;
      display: block;
      float: left;
      text-indent: -9999px;
      color: $cumcgray;
    }   
  }    
}
/* ==========================================================================
   Buttons and helper odds and ends type stuff
   ========================================================================== */
nav ul li {cursor: pointer;}

.buttonlist {
  margin: 0;
  padding: 0;
  list-style: none;
    li {
      margin: 0;
      padding: 0;
      display: block; 
      a {
        display: block;
        padding: .25em 1em;
      }
    }
}

a:focus { 
    outline: none; /* Removes Firefox Link Outlines*/
}

.button {
  display: inline-block; 
  padding: .22em .8em; 
  border: solid 3px; 
  margin: 0; 
  cursor: pointer;
  font-family: $avenir;
  font-weight: $bold;
  @include transition(.2s);
  &.solid {border: 0;
    color: white;
    background-color: $cumcgray;
  }
  &.blue {
    background-color: $cumcblue;
    color: white;
  }
  &.orange {
    background-color: $cumcorange;
  }
  &.green {
    background-color: $cumcgreen;
  }
  &.pink {
    background-color: $cumcpink;
  }
  &.gray {
    background-color: $cumcgray;
  }
  &:hover {
    background-color: $cumcgray;
    border-color: $cumcgray;
    color: white;
  }
  &.active {
    background-color: $cumcgray_darken;
    border-color: $cumcgray_darken;
    color: white;
  }
  &.blue {
    background-color: white;
    color: $cumcblue;
  }
  &:hover.blue {
    background-color: $cumcblue;
    border-color: $cumcblue;
    color: white;
  }
  &.active.blue {
    background-color: $cumcblue_darken;
    border-color: $cumcblue_darken;
    color: white;
  }
  &.pink {
    background-color: white;
    color: $cumcpink;
  }
  &:hover.pink {
    background-color: $cumcpink;
    border-color: $cumcpink;
    color: white;
  }
  &.active.pink {
    background-color: $cumcpink_darken;
    border-color: $cumcpink_darken;
    color: white;
  }
  &.green {
    background-color: white;
    color: $cumcgreen_darken;
  }
  &:hover.green {
    background-color: $cumcgreen;
    border-color: $cumcgreen;
    color: white;
  }
  &.active.green {
    background-color: $cumcgreen_darken;
    border-color: $cumcgreen_darken;
    color: white;
  }
  &.orange {
    background-color: white;
    color: $cumcorange;
  }
  &:hover.orange {
    background-color: $cumcorange;
    border-color: $cumcorange;
    color: white;
  }
  &.active.orange {
    background-color: $cumcorange_darken;
    border-color: $cumcorange_darken;
    color: white;
  }
}

fieldset {
  label {
    display: block;
    margin-top: 1em;
  }
} 

button, input, select, textarea { 
  padding: 0.4em; 
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  border: none;
  background: $cumcgray_darken;
  color: white;
  padding: 0.2em 1em;
}

/* Login Page buttons */
#user-login {
  label {
    color: $cumcgray;
  }
  .button {
    float: left; 
    margin: 1em 1em 1em 0;
  }
  #edit-wind {
  }
  .login-toggle-button.button {
    float: left;
  }
  div div {
    float: left; 
    clear: both; 
    margin: 1em 1em 0 0;
  }
}


/* ==========================================================================
   Contextual Menus (for when you're logged in)
   ========================================================================== */
.contextual-menu{
  position: fixed;
  right: 0;
  top: 25%;
  width: auto;
  z-index: 999999;
  background: white;
  background: rgba(255,255,255,0.7);
  font-size: .85em;
  ul.action-links {
    top: 349px;
  }
  ul.tabs, ul.action-links {
    margin: 0; 
    padding: 0; 
    float: left;
    clear: left;
    list-style: none;
    width: 100%;
    &.tabs-primary {
      float: right; 
      width: auto;
    }    
    li { cursor: pointer; 
      margin: 0; 
      padding: 0;
      border: solid 1px $cumcgray; 
      margin: -1px 0 0 -1px;
      display: block;
      @include transition(.2s);
      a {
        color: inherit;
        padding: .25em 5%;
        display: block;
        margin: 0;
        width: 90%;
        font-size: 1em;
        white-space: nowrap;
        &:hover {
          background: $cumcgray;
          color: white; 
        }
      }
      &.is-active, li:hover {
        a{
            color: white;
        }
      } 
    }   
  }
}

/* ==========================================================================
   Nav interface for small screens
   ========================================================================== */





.navtogglebasics {
  display: block;
  float: right;
  font-size: 1em;
  color: black;
  background: rgba(255,255,255,.5);
  background: $cumcblue2_highlight ;
  cursor: pointer;
  z-index: 88;
  top: 61px;
  right: 0;
  width: auto;
  height: auto;
  text-indent: 0;
  padding: 3px 5px;
  opacity: .7;
  img { 
    width: 30px; 
    height: 30px; 
  }  
} 

a.navtoggle {
  @extend .navtogglebasics; 
  position: fixed;
} 
    
a.sub-navtoggle {
  @extend .navtogglebasics; 
  font-size: 0.9em;
  top: 135px;
  width: auto;
  height: 20px;
  color: black;
  z-index: 999;
  text-indent: 0;
  background: none;
  padding: 2px 4px 6px 4px;
  img {
    width: 20px;
    height: 20px;
    margin: -3px 0 0 0;
    } 
  }
.lt-ie9 {
  a.navtoggle, a.sub-navtoggle { 
  display: none; 
  } 
}

a.navtoggle, a.sub-navtoggle { 
  display: none; 
@media #{$smaller-than-tablet} {
  display: block;
  }
} 

@media #{$smaller-than-tablet} {
  .persistentnav ul, .sub-navtoggle-processed ul {
display: none;
  }
}

/* ==========================================================================
   Global Header
   ========================================================================== */
.region-globalheader {
  background: $cumcblue;
  color: white;
  font-size: .85rem;
  border-bottom: solid 1px white;
  min-height: 2.2em;
  @include boxshadow;
  a{
    color: white;
  }
  .globalNavToggle {
    font-family: $avenir;
    display: block;
    float: left;
    margin: 0;
    padding: .5em 1em;        
    white-space: nowrap;
    cursor: pointer;
    z-index: 1;
    height: 1.25rem; 
    overflow: hidden;    
    > * {
      display: block;
      margin: 0;
      float: left;
      overflow: visible;
    }        
  }
  ul {
    @extend .buttonlist;
    li { display: inline-block;
      @media #{$tablet-and-up} {
        float: left; 
        width: auto;
        
      }
      font-family: $avenir;
      font-weight: $light;
      a {
        padding: .5em 1em;
        &:hover {
          background: $cumcblue_highlight;
        }
      }
    }
  }
  form {
    float: right;
    padding: .25em 0;
    * {
      height: 2em;
      margin: 0;
      padding: 0;
      float: left;
    }
    input {
      background: white;
      color: $cumcgray;
      border: 0;
      padding: .15em .5em;
      &.form-submit {
        text-transform: uppercase;
        padding: .25em;
        &:hover {
          color: $cumcorange;
        }
      }
    }
  }
}
.lt-ie9 .region-globalheader  {
  ul {
    li {
      float: left;
      clear: none;
      width: auto;

      a {

      }
    }
  }
}


/* ==========================================================================
   Site Header
   ========================================================================== */
.siteheader {
  text-align: center;
  nav { 
    clear: both;
    padding: 1em 0;
    ul {
      @extend .buttonlist;
      padding: 0 0.25em 0.5em;
      li {
        display: inline-block;

        a{
          padding: 0.15em 0.75em;
          color: $cumcblue2;
          text-transform: uppercase;
          text-align: center;
          &:hover {
              background: $cumcorange; 
              color: white;
              @include transition(.025s);
          }
        }
        @media #{$smaller-than-tablet} {
          width: 100%;
          a {
            text-align: left;
            padding: .25em 0;
            margin: 0;
          }
        }
      }
    }
  }
}

/* ==========================================================================
   Breadcrumb Nav
   ========================================================================== */


/* ========== This makes the non-active path breadcrumb items fade out when hovering over the dropdown menu ====== */
.breadcrumb ul:hover li {
    opacity: .5;
    @include transition(.025s);
}
.breadcrumb ul:hover li:hover {
    opacity: 1;
    @include transition(.025s);
}

        
.breadcrumb{
  width: 80%;
  padding: 0 10%;
  @media #{$smaller-than-tablet} {
    width: 90%;
    padding: 0 5%;
  }
  border-bottom: solid 1px $cumcgray_highlight;
  float: left;
  display: block;
  font-size: .85em;
  > ul {border-left: solid 1px $cumcgray_highlight; }
  ul {
    float: left;
    margin: 0;
    padding: 0;
    @media #{$smaller-than-tablet} {
      width: 100%;
    }
    li { 
      display: none;
      &.active-trail {
        display: block;
        margin: 0;
        padding: 0;
        a { 
          padding: .2em 1.5em .2em 1em;
          float: left;
          display: block;
          color: $cumcgray;
          background: url(../img/breadcrumb-ext.png) no-repeat 100% 0;
          margin-right: -5px;
          &:hover {
            background: $lightgray;
            @include transition(.025s);
            border-bottom: solid 1px $cumcblue;
          }
          &.is-active-trail{
            padding-right: 1.5em;
            background: url(../img/breadcrumb-ext.png) no-repeat 100% 0px;
            &:hover {
              background: $cumcblue2;
              color: white;
            }
          }
          &.active {
            background: none;
            border: solid 1px $cumcgray_highlight;
            border-width: 1px 1px 0 0;
          }
        }
      }
    }
  }
} 

/* ==========================================================================
   Children of current page (breadcrumbmore)
   ========================================================================== */

.breadcrumbmore {
  ul {
    margin: 0;
    padding: 0;
    li {
      display: block;
      margin: .25em 0;
      a {
        display: block;
        text-decoration: none;
        padding: 0.15em 0.75em .25em .75em;
        color: $cumcgray;
        font-family: $avenir;
        font-weight: $light;
        font-size: .85em;
        &:hover {
          background: $cumcorange; 
          color: white;
          @include transition(.025s);
        }
      }
    }
  }
}


/* ==========================================================================
   Main Body Styles
   ========================================================================== */

.pagewrapper > h1 {margin-top: 1em;}

/* ==========================================================================
   Body Image Module and Captions
   ========================================================================== */


.image-wrapper {
  float: right; 
  position: relative;
  width: 40%;
  max-height: 50%;
  margin: 0 0 5% 5%;
  list-style-type: none;
  padding: 0.25em;
  border: solid 1px $lightgray;
  img {
    width: 95%;
    float: right;
  }
  .caption {
    float: left; 
    clear: both;
    background: rgb(255,255,255);  
    width: auto;
    padding: .5em 1em;
    margin-top: -1.55em;
    margin-left: 1em;
    font-family: $avenir;
    font-size: .85rem;
    &.bottom-right {bottom: 1em; right: 1em;  width: 50%; position: absolute;}
    &.bottom-left {bottom: 1em; left: 1em;  width: 50%; position: absolute;}
    &.top-right {top: 1em; right: 1em;  width: 50%; position: absolute;}
    &.top-left {top: 1em; left: 1em;  width: 50%; position: absolute;} 
    &.top-center {top: 1em; left: 1em; right: 1em; width: auto; position: absolute; }
    &.bottom-center {bottom: 1em; left: 1em; right: 1em; width: auto; position: absolute; }
   } 
  .photo-credit {font-size: .75rem; color: $cumcgray; margin-left: .5em;}
  a.photo-credit:hover {color: $cumcorange_highlight;}
}

.image-wrapper.feature-image {
    margin: 0 0 1.5em 0;
    width: 100%;
    padding: 0;
    border: 0;
    .fieldset-wrapper {
      display: block;
    }
    img {
      width: 100%;
      padding: 0;
      margin: 0;
      border: solid 1px $cumcgray;
    }
  }
  .bottom-left {
  bottom: 1em;
  left: 1em;
  position: absolute;
  width: 50%;
}



/* ==========================================================================
   Sidebars
   ========================================================================== */



sidebar, .sidebar {
  .basic-image img { max-width: 210px; } 
  font-size: .85rem;
  * {
    min-width: 0;
  }
  > * {
    border-top: 0;
    display: block;
    margin-bottom: 2em;
  }
  h1, h2, h3, h4, h5, h6, p {color: $cumcgray;}
  h1{font-size: 2em;}
  h2{font-size: 1.5em;}
  a {
    color: $cumcblue_highlight;
    line-height: 120%;
    &:hover { 
        background: $cumcblue2_highlight;
        color: white;
    }
    &.button.addtocalendar {
      color: white;
      font-size: 0.9em;
      padding: 0.3em 0.5em;
      margin-top: 0.1em;
      display: block;
      float: left;
      clear: both;
      &:hover { background: $cumcorange_highlight; }
    }
  }
  .news {
    width: 100%;
  }
  .basic-image {
    margin-bottom: .5em;
    img {
      max-width: 100%;
    }
    .file-icon {width: auto;}
  }
}
/* =========   Related links =============================================== */
.related-links {
  margin: 0 0 2em 0;
  a {
    border-bottom: 1px dotted $cumcblue2;
    padding: 0.5em 0 0.45em 0;
    display: block;
  }
} 

/* ==========================================================================
   Blockquote
   ========================================================================== */

blockquote {margin: 5% 10%; text-align: center; float: left; width: 35%; font-family: $avenir;  font-style: oblique; }
blockquote:before {content:"“"; font-size: 6em; float: left; margin: -.25em 0 0 -.5em }
blockquote:after{content:"”"; font-size: 6em; line-height: 0; float: right; position: relative; top: .65em; right: -.4em; }
blockquote p:before {content: "â€œ";}
blockquote p:first-child:before {content: "";}
blockquote p + p:last-child:after {content: "â€";}
blockquote p:last-child {margin-bottom: 1em;}
blockquote cite { font-family: $avenir; font-weight: $bold; font-style: oblique; }

blockquote.article-mini-module {
width: 35%;
margin: 2.5% 7.5%; 
}


/* ==========================================================================
   News Module
   ========================================================================== */

.news-index {
  margin: 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    li {
      margin: 0;
      padding: .5em 0;
      border-bottom: solid 1px $cumcgray_highlight;
      width: 100%;
      float: left;
      h1 {font-size: 1.15em; margin: 0 0 .75em 0;}
      h2 {font-size: 1em; margin: 0 0 0 .75em 0;}
      h3 {font-size: 1em; margin:  0 0 .75em 0;}
      img {
        max-width: 120px;
        float: left;
        margin-right: 2.5%;
        margin-top: .5em;
      }
     
      
      .primary-category {
        font-size: .75em; 
        text-transform: uppercase; 
        margin: 0 0.2em 0 0; 
        font-family: $avenir;
        font-weight: $bold;
        a{
        color: $cumcorange;
        }
      }   
      .datetime {
        font-size: .9em;
        padding: 0;
      }
      .byline {
        font-size: .55em; 
        text-transform: uppercase; 
        font-family: $avenir; 
        font-weight: $bold;
        color: $cumcgray;
      }
      p {
        line-height: 1.5em; 
        font-size: 1em;
        margin-top: .5em;
        font-family: $avenir;
      }
      ul.pager { 
        display: block; 
        clear: both; 
        float: none; 
        width: 100%; 
        border-top: 1px solid $lightgray; 
        padding: 1em; 
        text-align: center;
        li { 
          display: inline; 
          padding: 1em; 
        }
      }
    }   
  }
}

/* ==========================================================================
   News Module
   ========================================================================== */
/*.news {
    .news-index {
        margin: 0;
        ul { list-style: none;
            margin: 0;
            padding: 0;
            float: left;
            li {margin: 0;
                padding: .5em 0;
                border-bottom: solid 1px $cumcgray_highlight;
                img {max-width: 120px;
                    float: left;
                    margin-right: 2.5%;
                }
                h1 {font-size: 1.15rem; font-family: $avenir-bold; margin: 0;}
                h2 {font-size: 1rem; margin: 0;}
                h3 {font-size: 1rem; font-family: $avenir-bold; margin: 0;}
                .primary-category {font-size: .75em; text-transform: uppercase; margin: 0; font-weight: $bold; color: $cumcgray;}
                .datetime {font-size: .75em;}
                .byline {font-size: .55em; text-transform: uppercase; font-weight: $bold; color: $cumcgray;}
                p {font-size: .85rem; line-height: 1.25em; letter-spacing: -.03em;}
            }
        }
    }
}
.wf-inactive .news .news-index ul li {
    h1 { font-family: $sans; font-weight: $bold; }
    h2 { font-family: $sans; font-weight: $bold; }
} // font fallback

.lt-ie9 h2 { font-size: 1em; }

.news {
    display: block;
    float: left;
    width: 46%;
    margin: 1em 0 2em 0;
    padding: 0;
    position: relative;
    z-index: 99;
    &.nursing-block .news-index {
    .field-body { display: block; }
    ul li {
    margin: 0 0 1em 0; 
      h1 {
      font-size: 1em;
      font-family: $avenir-light;
      }
    }
    }
}
.wf-inactive .news ul li h1 { font-family: $sans; font-weight: 100; } //font fallback

.section-academic-calendar .news {
  margin: 1em 4% 2em 0;
}

.news.nursing-interior {
  width: 100%;
  }
*/
.news.nursing-front {
  .image-wrapper .image-caption { display: none !important; }
    display: block;
    float: left;
    width: 95%;
    margin: 0 0 2em 0;
    padding: 0;
    position: relative;
    z-index: 99;
    background: white;
    padding: 0;
    display: block;
    float: left;
    clear: both;
    .view-content {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
        padding: 5% 5% 1em 5%;
        float:  left;
        .views-row {
            margin: 0 0 1em 0;
        }
    }
    .item {
        border-bottom: solid 1px #e8e8e8;
        padding: 0 4% 0 0;
        width: 95%;
        display: block;
        float: left;
        font-family: $avenir;
        font-weight: $light;
        &:nth-child(2) { border-right: 0; }
        &:last-child, &.last { margin-right: 0; border: none; }
        img {
            display: block;
            width: 100%%;
            height: auto;
            clear: right;
            float: right;
        }
        .datetime { font-size: 0.75em; font-style: italic; }
        h1 {
            margin: 0.3em 0 0.5em 0;
            font-size: 1em !important;
            font-family: $avenir;
            font-weight: $light;
        }
        h2 { margin: 0 0 0.4em 0; }
        p { font-size: 0.85em; font-family: $avenir; }
    }
    .item .views-field .field-body { display: none; }
    .views-row-first.item .field-body { display: block; }
    a.button.small {
        background: none;
        color: $cumcblue;
        top: 21px;
        right: 4%;
        font-size: 0.8em;
        font-family: $avenir;
        font-style: oblique;
        float: right;
        position: absolute;
        bottom: auto;
        border: 0;
        text-transform: none;
        &:hover { color: $cumcblue_highlight; opacity: 0.8; }
    }
    .news-date { font-size: 0.9em; font-style: italic; color: #6B6B6B; }
    .news-index {
      ul { font-family: $avenir; }
        &.lateral ul { margin: 0; }
    } 
    .nursing-front-news-img {
        display: block;
        float: right;
        width: 15%;
        height: auto;
        margin: 0 0 2% 5%;
    }
    .primary-category a, 
    .primary-category, 
    .date-display-single { 
        font-size: .89em; 
        text-transform: uppercase; 
        margin: 0 0.15em 0 0;
        font-family: $avenir; 
        font-weight: $bold;
        font-style: oblique; 
        color: $cumcgray; 
        display: inline; 
    }
    .date-display-single { 
        font-weight: $normal; 
        display: inline; 
        font-size: 0.9em; 
    }
    .views-field-field-event-date, .views-field-term-node-tid { 
        display: inline; 
    }
} // end .news.nursing-front
//font fallbacks

.sidebar .view-cumc-master-news-events .view-content {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
        padding: 5% 5% 1em 5%;
        float: left;
        }

.news.nursing-front.context-block .view-content { background: none !important; }

.view-nursing-news-front .news-index ul li div { display: inline; }

.view-nursing-news-front .news-index ul li .field-body, .view-nursing-news-front .news-index ul li img { display: none; }

.view-nursing-news-front .news-index ul li.views-row-first .field-body, .view-nursing-news-front .news-index ul li.views-row-first img { display: block; }

.nursing-front li h1 { font-family: $avenir; font-weight: $light; font-size: 1em; }

.nursing-front li.views-row-first h1 { font-family: $avenir; font-size: 1.3em; font-weight: $bold !important; font-style: oblique; }

/* ==========================================================================
   News Page
   ========================================================================== 



.page-news, .section-academic-research {
  .news {
    width: 100%;
    }
  .pagewrapper .region-mainpagecontent { width: 100% !important; }
  } 

.view-nursing-news-front.nursing-interior .news-index {
  ul li {
    display: block;
    clear: both;
    margin: 0.5em 0;
    padding: 0.5em 0;
    border-bottom: 1px solid #e8e8e8;
    .field-body { float: none; }
  }
} 
   
.view-nursing-news-front.nursing-interior .news-index ul li .field-body,
.view-nursing-news-front.nursing-interior .news-index ul li img {
  display: block;
  float: none;
  margin: 0 25px 25px 0;
  clear: left;
  }

.nursing-interior {
  ul.pager {
    display: block;
    clear: both;
    width: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
    padding: 0.5em;
    li { display: inline; padding-right: 0.3em;}
    }
  .news-index {        
        border-bottom: solid 1px #e8e8e8;
        padding: 0 4% 0 0;
        width: 95%;
        display: block;
        float: left;
        font-family: $avenir-light;
        &:nth-child(2) { border-right: 0; }
        &:last-child, &.last { margin-right: 0; border: none; }
        img {
        display: block;
        width: 100%%;
        height: auto;
        clear: left;
        float: left;
        }
    }    
    .views-row {
      display: block;
      float: none;
      clear: both;
      margin: 0.5em 0;
      padding: 0.5em 0;
      border-bottom: 1px solid #e8e8e8;
      img { max-width: 25%; display: block; float: left; margin: 0 25px 25px 0; }
      h1 { font-size: 1.2em; }
    }
  .view-content { width: 100%; display: block; float: left; } 
}  // end .nursing-interior 
.wf-inactive .nursing-interior .news-index { font-family: $sans; font-weight: 100; } // font fallback

.page-news-archive {
  .view-content { width: 100%; }
}

.featured-news-archive {
  display: block;
  width: 100%;
  clear: both;
  .image-wrapper {
    display: block !important;
    width: 25% !important;
    float: left !important;
    margin: 0 2em 2em 0 !important;
    .image-caption { display: none !important; }
    img {
        width: 100% !important;
        float: left !important;
    }
  } 
  .views-row {
    display: block;
    width: 45%;
    float: left;
    margin-right: 5%;
    h1 { 
      margin: 0.3em 0 0.2em 0;
      font-size: 1.3em;
      font-weight: 100;
    }
    img {
      width: 25%;
      display: block;
      float: left;
      margin: 0 25px 25px 0;
    }
    p {
      max-width: 100% !important;
      font-size: 0.85em;
      @include avenir;
    }
  }
  .views-row-first {
    width: 100%;
    clear: both;
    float: none;
    h1 { font-size: 2em; }
    img {
      width: 35%;
      display: block;
      float: left;
      margin: 0 25px 25px 0;
    }
  }
} // end .featured-news-archive
.wf-inactive .featured-news-archive .views-row {
    h1 {
        font-family: $sans;
        font-weight: 100;
    }
    p { @include sans; }
} // font fallback

.featured-news-archive, .page-news-archive  {
  display: block;
  width: 100%;
  clear: both;
  margin-bottom: 1em;
  .image-wrapper {
    display: block !important;
    width: 25% !important;
    float: left !important;
    margin: 0 2em 2em 0 !important;
    .image-caption { display: none !important; }
    img {
    width: 100% !important;
    max-width: 100% !important;
    float: left !important;
    }
  }
}     
*/
.news {
  .front-callout.mag.interior {
    display: block;
    float: right;
    width: 36%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
    a { font-size: 1.6em; }
  } 
  .front-callout a.mag {
    width: 150px;
    height: 150px;
    text-indent: -99999px;
    display: block;
    float: left;
    background-size: 100% auto;
  } 
}

.lt-ie9 .news .front-callout a.mag {
  width: 200px;
  height: 200px;
}

.news.nursing-front.top-feature .view-content .views-row {
  width: 100%;
}

.news.nursing-front.bottom-feature .view-content .views-row {
  float: left;
  width: 45%;
  clear: left;
  margin-right: 2%;
  margin-top: 0.5em;
  padding-right: 2%;
  border-right: 1px solid #e8e8e8;
}
      
.featured-news-archive.toptwo {
  .views-row {
    display: block !important;
    width: 45% !important;
    float: left !important;
    margin-right: 5% !important;
    h1 { 
      margin: 0.3em 0 0.2em 0 !important;
      font-size: 1.3em !important;
      font-family: $avenir;
      font-weight: $light;
    }
    img {
      width: 25%;
      display: block;
      float: left;
      margin: 0 25px 25px 0;
    }
  }   
}

.news.nursing-front.top-feature .view-content .views-row-1 { clear: left; }
.news.nursing-front.top-feature .view-content .views-row-2 { clear: right; margin-right: 0; } 
.news.nursing-front.top-feature .view-content .views-field-title-1 a { font-size: 1.3em !important; }


.news.nursing-front.feature-bottom .view-content {
  padding: 1em 2% 1em 2% ;
  .views-row .views-field-title-1  a { font-size: 1.5em; line-height: 120%; }
} 

.not-front {
  .news.nursing-front {
        .view-content {
        .views-row { border-bottom: 1px solid #e8e8e8; }
    }
  }
}   

/* ==========================================================================
   Alternative Content Type Page Styles
   ========================================================================== */

.section-course-list .view-content table { clear: both; }

.node-nursing-course-list, .node-funded-pilot-project, .node-recruit-job {
  h3.field-label {
    margin: 0.7em 0 0.5em 0;
    padding: 0.2em 0;
    border-top: 1px solid #e8e8e8;
    font-size: 1.2em;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
    }
  .field-details h3 {
    margin: 0.7em 0 0.2em 0;
    padding: 0.2em 0;
    border-top: 1px solid #e8e8e8;
    font-size: 1.2em;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
    }
}

/* ==========================================================================
   event Module
   ========================================================================== */
.button.addtocalendar {
padding: .5em; line-height: 1em; font-size: .5rem; text-transform: uppercase; border: 0; background: $lightblue; margin: 0;
&:hover {background: $cumcblue; color: white;}
}

.events {
  .events-index {
    margin: 0;
    dl { list-style: none;
      margin: 0;
      padding: 0;
      float: left;
      dt {float: left; 
        width: 95%;
        min-width: 13em;
        padding: .5em;
        color: $cumcblue;
        background: $lightblue;
        clear: both;
      }
      dd {margin: 0;
        padding: .5em 0;
        border-bottom: solid 1px $cumcgray_highlight;
        float: left;
        ul {float: left;
          width: auto;
          list-style: none;
          margin: 0; 
          padding: 0;
          li {float: left;
            clear: left;
            margin: 0 0 1em 0; 
            padding: 0;
            img {max-width: 120px;
              float: left;
              margin: 0 2.5% 2.5% 0;
            }
            h1 {font-size: 1.15rem; font-family: $avenir; font-weight: $bold; margin: 0; min-width: 50%;}
            h2 {font-size: 1rem; font-family: $avenir; font-weight: $bold; margin: 0; min-width: 50%;}
            h3 {font-size: 1rem; margin: 0; min-width: 50%;}
            .primary-category {font-size: .75em; text-transform: uppercase; margin: 0; font-weight: $bold; color: $cumcgray;}
            .datetime {font-size: .75em;}
            .byline {font-size: .55em; text-transform: uppercase; font-family: $avenir; font-weight: $bold; color: $cumcgray;}
            p {font-size: .85rem; 
              line-height: 1.25em; 
              letter-spacing: -.03em;
            }
          }
        }
      }
    }
  }
  .abbreviated { 
    p {display: none;}
  }
}

  ul.pager {
    display: block;
    clear: both;
    width: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
    padding: 0.5em;
    li { display: inline; padding-right: 0.3em;}
}

/* ==========================================================================
   Calendar Module
   ========================================================================== */

.calendar {
  hgroup {
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 1em;
    * {text-align: center; 
      line-height: 2rem; 
      margin: 0 2rem;
    }
    a {
      &.prev:before {content: ('<');font-family: CUMCLogos; margin: 0 .5em;}
      &.next:after {content: ('>'); font-family: CUMCLogos; margin: 0 .5em;}
      &:hover {color: $cumcorange;}
    }
  }
  .date-nav {
      padding-bottom: 0;
    }
  .date-nav-wrapper {
    .date-prev {
      left: 0;
      right: auto;
    }
  }
  table {
    tr {
      th{ display: none; }
      td{float: left; 
        clear: left;
        padding: 0; 
        margin: 0;
        width: 100%;
        &.today {
          background: $cumcorange_highlight;
          span.calendardate {color: white; background: none; opacity: .25;}
          ul:before {
            content:('TODAY');
            display: block; 
            color: $cumcblue;
            margin: 0;
            padding: .5em;
            font-family: $avenir;
            font-weight: $bold;
          }
          li, dd {
            padding: 2.5%;
            a:hover {color: white;}
            .eventtime {color: white;}
          }
        }
        span.calendardate{ 
          float: left; 
          display: block; 
          color: $cumcblue;
          background: $lightblue;
          width: 95%;
          margin: 0;
          padding: .5em;
          font-family: $avenir;
          font-weight: $bold;
          .full-day-month {}
        }
        ul, dl { 
          float: left;
          list-style: none;
          margin: 0;
          padding: 0;
          float: left;
          width: 70%;
          li, dd {
            margin: 0;
            padding: .25em 0;
            font-size: .85rem;
            img { display: none; }
            a:hover { color: orange; }
            h1 {font-size: 1rem; font-family: $avenir; font-weight: $bold; margin: 0; line-height: 1.15em;}
            h2 {font-size: .85rem; margin: 0; line-height: 1.15em;}
            h3 {font-size: .85rem; font-family: $avenir; font-weight: $bold; margin: 0; line-height: 1.15em;}
            .primary-category {display: none;}
            .eventtime {color: $cumcorange;}
            .byline {font-size: .55em; text-transform: uppercase;font-family: $avenir; font-weight: $bold; color: $cumcgray;}
            p { display: none; }
          }
        }
      }
    }
  }
} //end calendar

.calendar-calendar div.calendar {
  font-size: 0.8em;
}
  
.calendar-calendar .month-view .full {
  td.single-day div.monthview {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
  }
  td.multi-day div.monthview {
    background: #e8e8e8;
  }
} 


.calendar.monthview a:hover { color: $cumcblue; }

.lt-ie9 .calendar.mini {
  width: auto;
    table {
      tr {
        td {
          clear: none;
          width: auto;
          float: none;
          &.single-day .month-view {
            background: white;
            color: black;
          }
        }
        &.single-day.no-entry, &.single-day.past, &.single-day.past.empty, &.date-box {
          display: none;
        }
      }
    }
  .button {
    background: none;
    border: none;
    font-size: 0.8em;
    color: $cumcblue;
    font-family: $avenir;
    font-style: oblique;
    float: right;
  }
}

.lt-ie9 .front .calendar-calendar .month-view .full tr.single-day .no-entry, .lt-ie9 .front .calendar-calendar .month-view .full tr.single-day td.single-day.past.empty { display: none; }

.lt-ie9 .front .calendar-calendar .month-view .full TR TD.single-day {
  display: block;
  float: left;
  border-left: none;
  border-right: none;
  }
 
.lt-ie9 .front .calendar-calendar .month-view .full TR TD.today.single-day  {
  border-bottom: none;
  }

.lt-ie9 .calendar-calendar .month-view .full TD.single-day .inner DIV {
  display: block;
  float: left;
  width: 100%;
  clear: both;
  }
  
.lt-ie9 .calendar-calendar .month-view .full TD.single-day DIV.monthview {
  background: white;
  }

.lt-ie9 .calendar-calendar .month-view .full TD .inner DIV.monthview.calendar DIV A {
  font-size: 1.3em;
  }


/* ==========================================================================
   Basic Accordion
   ========================================================================== */
.accordion {
  dt { 
    font-family: $avenir;
    font-weight: $bold;
    cursor: pointer;
    padding: .5em 0;
    border-top: solid 1px $lightgray;
    &.active {
      color: $cumcblue2_highlight;
    }
  }
  dd {}
}

.calendar table tr td ul li .eventtime, .calendar table tr td ul dd .eventtime, .calendar table tr td dl li .eventtime, .calendar table tr td dl dd .eventtime { color: $cumcgray_darken; }





/* ==========================================================================
   Doctor Index Card
   ========================================================================== */
.faculty {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

.searchstats {
  display: none;
  }

.resultscard {
  border-bottom: solid 1px $cumcgray_highlight;
  padding: .5em 0;
  width: 20%;
  min-width: 200px;
  height: 220px;
  font-size: .85em;
  float: left;
  clear: none;
  position: relative;
  margin-right: 2.5%;
  @media #{$smaller-than-tablet} {
      width: 100%;
    }
       &:hover {
          background: $lightgray;
      }
  
  .profile_link {
    padding: 2px;
    margin: 0 5% 0 0;
    width: 100%;
    float: left;
    position: absolute;
    max-width: 100%;
    background-color: transparent;
    img {
      background: white;
    }
    .headshot {
      float: left;
      max-width: 118px;
      border: solid 1px $cumcgray_highlight;
      padding: 2.5%;
    }
    span {
      display: none;
    }
  }
  h2 {
    font-size: 1em; 
    margin: 0 0 0 37%;
    width: auto;
    z-index: 50;
    span {
      display: block;
      font-size: .75rem;
    }
  }  
  h3 {font-size: 1rem;
    margin: .75em 0 .5em 0;
    clear: left;
    span {font-weight: $normal;}
  }
  section {
    float: left;
    margin-bottom: .75em;
    width: 60%;
    dl {margin: 0; 
      padding: 0;
      list-style: none;
      font-size: 1rem;
      line-height: 1.25em;
      dt {padding: 0;
        margin: .75em 0 .5em 0;
      }
      dd {padding: 0;
        margin: 0;}
      }
    }
    ul { float: left;
      list-style: none;
      margin: 0;
      padding: 0;
      li { float: left; 
        clear: left; 
        h3 { 
          font-size: 1rem;
        }
      }
    } 
    section {
      float: right; 
      margin-left: 37%;
      width: auto; 
      padding: 0; 
      font-size: .85rem;
      &.administrative_titles {
        font-size: .75rem;
        ul {
          li {
            margin-bottom: .5em;
          }
        }
      }
    }
    .locations {
      span {
        display: block;
      }
    }   
  }
.lt-ie9 .resultscard {   
    .profile_link { left: 0; }
}
form.filterboxwrapper {
  input[type="text"] { width: 95%; }
}

/* ==========================================================================
   Front Page Feature Slideshow
   ========================================================================== */

.nursing-feature-slide {
  max-width: 1400px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  .image-wrapper { padding: 0 !important; }
  .feature-wrap-overlay {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 1550px;
    height: 230px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, black));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
    z-index: 50;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .slide-info {
    display: block;
    width: 90%;
    max-width: 800px;
    height: auto;
    float: right;
    padding: 1em 4% 0 4%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    background: rgba(0, 0, 0, 0);
    z-index: 99;
    text-align: center;
    font-family: $minion;
  }
  a.feature-tag {
    display: block;
    background: white;
    color: black;
    text-transform: uppercase;
    padding: 0.2em 1em 0 1em;
    margin: -30px auto 0 auto;
    float: none;
    font-size: 0.8em;
    clear: both;
    opacity: 0.7;
    font-family: $avenir;
    font-style: oblique;
    width: 75px;
  }   
  a.arrow {
    font-size: 2em;
    margin: 0 auto 1em auto;
    float: none;
    display: block;
    color: white;
  }
  a.slidephrase {
    font-size: 4.1em;
    color: white;
    line-height: 90%;
    font-family: $avenir;
    font-weight: $bold;
    font-style: oblique;
    display: block;
    clear: both;
    padding: 0.3em 0 0.3em 0;
    opacity: 1;
    margin: 0 0 -0.5em 0;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.7);
  }
  .views_slideshow_controls_text {
    position: absolute;
    bottom: 20px;
    text-indent: -9999px;
    a {
      font-size: 1em;
      display: none;
    }   
  }   
  .blurb {
    font-size: 1em;
    font-family: $avenir;
    font-weight: $light;
    display: block;
    margin: 1em 0 0 0;
    color: white;
    opacity: 1;
    cursor: pointer;
  }   
} // end .nursing-feature-slide

.lt-ie9 .nursing-feature-slide {
  width: 100%;
  .slide-info {
    line-height: 1em;
    font-family: $avenir;
    font-style: oblique;
    margin-bottom: 1em;
    font-size: 4em;
    a { color: white; }
    .blurb {
      display: none;
    }
  }
}



.nursing-feature-slide .views_slideshow_controls_text {
  position: relative;
  bottom: auto;
  text-indent: -9999px;
  }

#views_slideshow_controls_text_pause_nursing_front_feature_slide-block {
  display: none;
  } 

  .views-slideshow-controls-text-previous {
    display: block;
    float: left;
    cursor: pointer;
    width: 29px;
    height: 51px;
    background: url(../img/left-arrow.png) no-repeat;
    background-size: 100% auto;
    margin: 0 0 0 2%;
    opacity: 0.7;
    text-indent: -99999px
    }
  .views-slideshow-controls-text-next {
    display: block;
    float: right;
    cursor: pointer;
    width: 29px;
    height: 51px;
    background: url(../img/right-arrow.png) no-repeat;
    background-size: 100% auto;
    margin: 0 2% 0 0;
    opacity: 0.7;
    text-indent: -99999px
  }


.front .view-nursing-news-front .views_slideshow_slide { height: 500px; }
  
.front .views_slideshow_slide { height: 500px; width: 1400px; max-width: 100%; }

.front .nursing-feature-slide ul.field-related-external-links { display: none; }

.front .nursing-feature-slide .image-wrapper, .front .nursing-feature-slide .image-wrapper.feature-image .fieldset-wrapper { max-height: 500px !important; }

  
.front .views-slideshow-cycle-main-frame {
  max-width: 100%; background: black;
  }


/* ==========================================================================
   Front Page Callouts and Buttons
   ========================================================================== */

a {
  &.apply-now {
    display: block;
    float: left;
    background: $cumcgray_darken url(../img/apply-now.png) no-repeat;
    background-size: cover;
    font-family: $minion;
    color: white;
    padding: 1em 2%;
    margin: 0.2em 0 1em 0;
    width: 96%;
    text-align: center;
    font-weight: $light;
    font-size: 1em;
    line-height: 120%;
    &:hover {
      opacity: 0.9;
    }
    .apply-now-large { 
      font-size: 1.5em; 
    }
    .rule {
      width: 68%;
      display: block;
      clear: both;
      border-top: 1px solid white;
      margin: 0.2em auto;
    }
  }
  &.support {
    display: block;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
    background: #0090DF;
    color: $cumcgray_darken;
    color: white;
    clear: both;
    float: left;
    text-align: center;
    width: 100%;
    padding: 0.7em 0;
    margin: 0.5em 0;
    font-size: 1em;
    &:hover {
    opacity: 0.8;
    }
  }
  &.newsletter {
    display: block;
    background: $cumcblue_darken url(../img/newsletter.png) no-repeat;
    background-size: cover;
    color: white;
    clear: both;
    float: left;
    text-align: center;
    width: 100%;
    padding: 0.7em 0;
    margin: 1em 0 0.5em 0;
    font-size: 1em;
    &:hover { 
      background: $cumcblue url(../img/newsletter.png) no-repeat; 
    }
  }
}

.front-callout {
  display: block;
  float: left;
  margin: 1em 0;
  padding: 1em 3% 0.5em 3%;
  width: 94%;
  clear: left;
  a.mag {
    background: url(../img/mag-thumb.png) no-repeat;
    width: 200px;
    height: 200px;
    text-indent: -99999px;
    display: block;
    float: left;
  }
  a:hover { opacity: 0.8; }
  p { color: #999; }
  &.mid {
    background: rgba(0,0,0,0.1);
    clear: none;
  }
  &.last { clear: none; }
  &.mag {
    color: black !important;
    a {
      color: #666 !important;
      font-size: 2em;
      line-height: 100%;
      font-family: $minion;
      font-style: italic;
      &:hover {
        opacity: 0.8;
      }
    }
    a.mag-title { margin-top: 1em; display: block; clear: right;
    &:hover { background: none; opacity: 0.8; }
    } 
    a.issue { color: #999 !important; display: block; clear: right;
    &:hover { background: none; opacity: 0.8; }
    }
    p {
      display: inline !important;
      float: none !important;
      max-width: 45% !important;
      font-size: 0.6em !important;
      line-height: 110% !important;
      color: #999;
    }
    img {
      display: block;
      float: left;
      margin: -5px 1% 0.5em 0;
      max-width: 25%;
        -webkit-transition: 0.3s all ease;
           -moz-transition: 0.3s all ease;
                transition: 0.3s all ease;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
        -webkit-transition: 0.3s all ease;
           -moz-transition: 0.3s all ease;
                transition: 0.3s all ease;
      }
    }
  }   
  img {
    max-width: 100%;
    height: auto;
  }
} // end .front-callout

.not-front .front-callout.mag a.mag-title {
  margin-top: 7.3em;
  clear: both;
  line-height: 110%;
}

/* ==========================================================================
   Connect Information
   ========================================================================== */
.connect-wrap {
  background: $cumcblue2;
  float: left;
  padding: 2.5%;
  width: 95%;
  a.newsletter-link{
    background: white;
    display: block;
    width: 90%;
    padding: 5%;
    text-align: center;
    color: $cumcgray;
    opacity: .75;
    &:hover {
      opacity: 1;
    }
  }
  .social-media-links {
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    width: 100%;
    li { 
      margin: 0;
      padding: 0;
      display: block;
      float: left;
      width: 25%;
      text-align: center;
      overflow: hidden;
      a {
        width: 25px;
        height: 25px;
        display: block;
        margin: 1em auto;
        text-indent: -99999px;
        opacity: .75;
        &:hover {
          opacity: 1;
        }
        &.facebook {
          background: url(../img/fb.png) no-repeat 50%;
        }
        &.linkedin {
          background: url(../img/li.png) no-repeat 50%;
        }
        &.twitter {
          background: url(../img/twitter.png) no-repeat 50%;
        }
        &.youtube {
          background: url(../img/yt.png) no-repeat 50%;
        }
      }
    }
  }  
}
.sidebar .connect-wrap { margin-bottom: 2em; }
 


.half {
  width: 50%;
  height: auto;
  &.left {
    float: left;
      margin: 0 2em 2em 0;
  }
  &.right {
      float: right;
      margin: 0 0 2em 2em;
    }
}

.videoWrapper {
    border: 1px solid #999999;
    box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.2);
    margin: 0 0 1em;
    max-height: 100%;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative;
    z-index: 0;
    &.half {
      padding-bottom: 28.125%;
      width: 48%;
      float: left;
      margin: 0 2em 2em 0;
      &.left {
        float: left;
        margin: 0 2em 2em 0;
        }
      &.right {
        float: right;
        margin: 0 0 2em 2em;
      } 
    }   
    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
#video section {
    padding: 10% 20%;
    z-index: -1;
}

/* ==========================================================================
   Local Footer
   ========================================================================== */

.region-footer { 
  float: left;
  a {
    color: white;
    padding: .25em 5%;
    display: block;
    float: left;
    width: 90%;
    &:hover, .ui-state-active a {
      background: $cumcblue2_highlight;
      color: white;
      @include transition(.2s);
    }
  }
  ul,  p {
    display: block;
    float: left;
    margin: 0 6% 0 0;
    color: white;
    list-style-type: none;
    opacity: 0.8; 
    @media #{$smaller-than-tablet} {
      width: 100%;
      max-width: 100%;
      text-align: center;
      margin: .5em 0;
      padding: 0;
    }
    li {
      padding: 0;
      display: block;
      margin: 0;
      width: 100%;
      float: left;
      @media #{$smaller-than-tablet} {
        text-align: center;
      }
    }
  }
  .address {
    display: block;
    float: left;
    margin-bottom: 2em;
    margin-right: 2em;
    span {

      margin-right: 1em;

    }
  }
  .logo-wrap {
    width: 20%;
    max-width: 100%;
    min-width: 190px;
    margin: 0 1em 0 0;
    padding: 0;
    float: right; 
    @media #{$smaller-than-tablet} {
        width: 90%;
      }
    .logotype {
      background: url(../img/logos/CUMClogo.svg) no-repeat;
      display: block;
      text-indent: -9999px;
      background-size: 100% auto;
      a {
        background: none;
        text-indent: -9999px;
        &:hover {background: none;}
      }
    }
  }
  .footer-column {
    float: left;
    > ul {
      max-width: 160px;
      margin: 0 0 1em 0;
      padding: 0;
      @media #{$smaller-than-tablet} {
        max-width: 100%;
      }
      li {
        a {

        }
      }
    }
    .connect-wrap {
      width: auto;
      max-width: 160px;
      float: left;
      padding: 5px;
      margin-bottom: 1em;
      margin-left: 1em;
      background: $cumcgray;
      background: rgba(255,255,255,.2);
      @media #{$smaller-than-tablet} {
          max-width: 100%;
        }
      ul {
        max-width: 100%;
      }
    }
  }
}   

.lt-ie9 {
  .logo-wrap {
    .logotype {
      background: url(../img/logos/CUMClogowhite.png) no-repeat;
    }
  }
} 
/* ==========================================================================
   Global Footer
   ========================================================================== */


.region-globalfooter {
    font-family: $avenir;
    background: $cumcgray;
    color: white;
    padding-top: 1em;
    padding-bottom: 2em;
    a {
        color: white;
    }
    nav {
      ul {
        padding: 0;
        margin: 0;
        margin-top: 1em;
        max-width: 700px;
        li {
          margin-left: 1em;
          a {
            font-size: 1.15rem;
            text-decoration: none; 
            color: $cumcgray_darken;
            display: block;
            padding: .25rem;      
            clear: both;  
            color: white;
            &:hover, .ui-state-active a {
              background: $cumcblue2_highlight;
              color: white;
              @include transition(.2s);
            } 
          }
        }
      }
    }
    div {
        float: left;
        width: 100%;
        padding: 0;
        margin: 0;
        position: relative;
        margin-bottom: 2rem;

        ul {
            margin: 1rem 0;
            padding: 0;
            float: left;
            width: 100%;
            li { 
                list-style: none;
                margin: 0;
                padding: 0;            
            }                
        }
        h3 {
            font-size: 1rem;
        }   

    }
    ul.general_info {
        float: left;
        clear: both;
        width: 100%;
        padding-bottom: 2em;
        li {float: left;}
    } 
}
 

/* ==========================================================================
   Faculty Styles
   ========================================================================== */
/*! Index for Faculty Search */

/*! Index for Faculty Search */
.page-node-51 {
  .region-sidebar-first {display: none;}
  .maincontent {margin: 0; width: 100%;}
}

.cups-results .maincontent {
  margin: 0;
  padding: 0;
  width: 100%;
}
.resultscard  {   
  .profile_link {
    margin-right: 5%; 
    width: 100%;
    float: left;
    position: absolute;
    max-width: 100%;
    img {background: white;}
  }
  h3 {display: block; font-size: 1em;}
  dl {font-size: 1em;}
  dt {margin: 0;}
  dd {margin: 0 0 .5em 0;}
  .headshot {
    display: block; 
    border: 0; 
    padding: 0;
  }
  .department-division {display: block;}
    .availability {display: block;}
    }


.resultscard .profile_link {
     .headshot {
        max-width: 28%;
        margin-right: 1em;
        }
     }



/*! Faculty Profiles */


.faculty{
  float: left;
  margin: 0 5% 2em 0;
  width: 75%;
  max-width: 1200px;
  section {
    clear: left;
    &.bio {}
    &.person{
      .name{
        font-size: 2.5em;
        font-weight: $normal;
        color: $cumcgray;
        display: block;
        span{
          font-size: .5em; 
          margin-bottom: 1em;
          display: block; 
        }       
      }    
      .label{}
      ul{
        list-style: none;
        float: left;
        margin: 0 0 1em 0;
        padding: 0;
        li{}      
      }                 
      .image {
        float: right;
        max-width: 320px;
        width: 25%;
        margin: 0 0 5% 5%;
        img {
          border: 1px solid #BEC1C7;
          float: left;
          padding: 2.5%;
          width: 95%;
        }
      }
    }
    &.gender {
      display: none;
    }
    &.stats, .departments {
      float: left;
      clear: left;
      margin: 0 0 .5em 0;
      width: 70%;
    ul{
      list-style: none;
      float: left;
      margin: 0 2em 1em 0;
      padding: 0;
      width: 100%;
      li{
        margin-bottom: .5em;
        h2 {
          font-size: 1em;
          font-family: $avenir;
          font-weight: $bold;
          text-transform: uppercase;
        }
        h3 {
          font-size: 1em;
          font-family: $avenir;
          font-weight: $bold;
        }
      }      
    } 
    dl {
      margin: 0 0 1em 0;
      padding: 0;
      dt{
        font-weight: $bold;
        margin-right: .5em;
        float: left;
        clear: left;
      }
      dd {
        float: left;
        margin: 0;
      }
    }
    &.stats.education { margin: 1.5em 0 .5em 0; }    
    &.pubs {
      width: 100%;
      ul {
        li {
          padding: 0 0 .5em 0;
          border-bottom: solid 1px $cumcgray;
        }
      }
    }  
    &.newpatients { 
      p {
        text-indent: 0;
      }
    }  
  }// end &.stats, .departments
}//end .section
} // end .faculty
           
.resultscard .profilelink {
 .headshot {
    max-width: 95px;
    margin-right: 1em;
  }
}


/* ==========================================================================
   Drupal Specific Modules
   ========================================================================== */

.messages {background: yellow;}

@media only screen and (max-width: 65em) { 

.news {
  width: 100%;
  &.nursing-front { width: 100%; }
  }
  
.front sidebar, .front .sidebar {
  margin: 1em 0 6em 0;
  width: 100% !important;
  }
  
.region-front-middle, .region-front-left {
	width: 45% !important;
}
  
}
