
@media only screen and (min-width: 0em) {

  .calendar.mini, .calendar.mini .calendar-calendar, .calendar {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    margin: 15px 0 0 0;
    ul.pager {
      margin: 0 0 0 0;
      padding: 0;
    }
    .month-view .full tr.multi-day { height: 0; }
    .inner {
      left: 0;
      top: 248px;
      background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
      color: #333;
      text-align: left;
      width: 100%;
      padding: 0;
      display: block;
      .item {
        display: block;
        width: 100%;
        height: auto;
        float: left;
        position: relative;
        .field-body p {
          color: #333;
          clear: both;
          margin: 0.5em 0;
          display: block;
          font-size: 1.2em;
        }
      }
    }
    span.month {
      font-size: 0.9em;
      color: #6B6B6B;
      font-family: $avenir;
      font-weight: $bold;
      font-style: oblque;
    }
    table {
      tr {
        display: block;
        float: left;
        width: 100%;
        border: none;
        height: 1.6em;
        th {
          display: block;
          background: white;
          color: black;
          float: left;
          padding: 0.5em 0 0.3em 0;
          width: 13.95%;
          font-family: $avenir;
          font-weight: $light;
          font-size: 0.8em;
          border: none;
        }
        td {
          position: inherit;
          display: block;
          float: left;
          height: 2.5em;
          width: 12.25%;
          border: none;
          /* &.today { background: $cumcblue_highlight; color: white; } */
          &.past { /*background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;*/ }
          span.calendardate {
            display: block;
            height: 100%;
            cursor: pointer;
            font-size: 1.1em;
            letter-spacing: normal;
            padding-top: 0.8em;
            color: #999;
            &:hover { background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat; }
            &.has-events {
              color: $cumcblue_highlight;
              background: white;
              opacity: 1;
              font-weight: bold;
              &:hover {
                background: $cumcblue_highlight;
                color: white;
                opacity: 1;
              }
            }
          }
          &.active span.calendardate.hasevent { background: $cumcblue_highlight; color: white; opacity: 1; }  
          ul {
            position: absolute;
            left: 0;
            bottom: 0;
            top: 235px;
            right: auto;
            display: block;
            background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
            color: #333;
            text-align: left;
            width: 95%;
            li { width: 85%; margin: 10%; }
            &.active {
              display: block;
            }
            h1 a { font-family: $avenir; font-style: oblique; color: $cumcblue; font-size: 1.3em; margin: 0 0 0.4em 0; }
            h1 a:hover { color: $cumcblue_highlight; }
            h2, span.eventtime { color: #333; clear: both; margin: 0.5em 0; display: block; }
          }
        }
      }
    }
    .button.addtocalendar { color: $cumcpink_highlight; display: block; clear: both; margin: 0.2em 0 0 0; padding: 0; }
  } // end .calendar.mini, .calendar.mini .calendar-calendar, .calendar

  .calendar.mini tr.single-day .inner { position: absolute; z-index: 9999; }

  .view .date-nav-wrapper .date-prev, .view .date-nav-wrapper .date-next { background: none; }

  .calendar.mini .calendar-calendar .month-view .full td.single-day .calendar-empty,
  .calendar.mini .calendar-calendar .month-view .full td.single-day.empty,
  .calendar.mini .calendar-calendar .month-view .full td.date-box.empty { background: none; }

  .calendar.mini .calendar-calendar .month-view .full tr.single-day .no-entry,
  .calendar.mini .calendar-calendar .month-view .full tr.single-day .no-entry .inner { height: 1.1em !important; }

  .calendar.mini .calendar-calendar .month-view .full td .inner div.day,
  .calendar.mini .calendar-calendar .month-view .full td .inner div.day a { position: relative; z-index: 99; }

  .calendar.mini .calendar-calendar .month-view .full td.date-box.today,
  .calendar.mini .calendar-calendar .month-view .full tr td.single-day.today { border: none; max-height: 30px; }

  .calendar.mini .calendar-calendar .month-view .full tr.date-box,
  .calendar.mini .calendar-calendar .month-view .full tr.date-box td,
  .calendar.mini .calendar-calendar .month-view .full tr.multi-day,
  .calendar.mini .calendar-calendar .month-view .full tr.multi-day td { max-height: 30px; }

  .calendar.mini .calendar-calendar .month-view .full td.single-day div.monthview,
  .calendar.mini .calendar-calendar .week-view .full td.single-day div.weekview,
  .calendar.mini .calendar-calendar .day-view .full td.single-day div.dayview {
    background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
    color: #333;
    text-align: left;
    width: 90%;
    padding: 5%;
  }

  .calendar.mini a.button.small {
    background: none;
    color: #1b4585;
    top: -16px;
    right: 5%;
    font-size: 0.75em;
    font-family: $avenir;
    float: right;
    font-style: oblique;
    position: absolute;
    bottom: auto;
    border: 0;
    text-transform: none;
    z-index: 99;
    padding: 0;
  }

  .calendar.mini .calendar-calendar .month-view .full td.single-day .inner div a {
    font-style: italic;
    color: $cumcblue_highlight;
    font-size: 1.5em;
    font-family: $avenir;
    font-weight: $bold;
    font-style: oblique;
    line-height: 1.1em;
    margin: 0 0 0.4em 0;
    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }

  .calendar.mini .calendar-calendar td {
    position: inherit;
    display: block;
    float: left;
    height: 1.9em !important;
    width: 12.65%;
    border: none;
    text-align: center;
    padding-top: 0.6em !important;
  }

  .calendar-calendar td.empty {
    color: #333;
  }

  .calendar.mini ul.pager {
    display: block;
    float: left;
    width: 100%;
    clear: both;
    position: relative;
    top: -43px;
    left: 0;
  }
    
  .calendar.mini .date-nav-wrapper .date-next a, .calendar.mini .date-nav-wrapper .date-prev a {
    display: block;
    width: 40px;
  }

  .calendar.mini .date-nav-wrapper .date-prev a {
    display: block;
    top: 16px;
    position: relative;
  } 

  .calendar.mini .date-nav-wrapper .date-prev {
    left: 0;
    right: auto;
  }
  .calendar.mini .date-nav-wrapper .date-next {
    left: auto;
    right: 0;
  }

  .lt-ie9 .calendar.mini .date-nav-wrapper .date-prev, .lt-ie9 .view .date-nav-wrapper .date-prev, .lt-ie9 .calendar.mini ul.pager li.date-prev {
    right: auto !important;
    left: 0 !important;
  }

  .calendar.mini .calendar-calendar {
    .today {
      .month.day { background: $cumcblue_highlight; color: white;
        &:hover { background: $cumcblue_highlight; color: white; }
        a { color: white; }
      }
    }
    .month.day {
      display: block;
      z-index: 99;
      padding: 11px 9px !important;
      margin-top: -9px !important;
      cursor: pointer;
      &:hover { background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat; }
    }
  }


  .calendar.mini .calendar-calendar td.past .month.day { background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat; }

  .calendar.mini tr.single-day.number-1,
  .calendar.mini tr.single-day.number-2,
  .calendar.mini tr.single-day.number-3,
  .calendar.mini tr.single-day.number-4,
  .calendar.mini tr.single-day.number-5 {
    td {
      display: none;
      &.today { display: block; }
    }
  }
    .lt-ie9 .calendar.mini tr.single-day,
    .lt-ie9 .calendar.mini tr.single-day.number-1,
    .lt-ie9 .calendar.mini tr.single-day.number-2,
    .lt-ie9 .calendar.mini tr.single-day.number-3,
    .lt-ie9 .calendar.mini tr.single-day.number-4,
    .lt-ie9 .calendar.mini tr.single-day.number-5 {
      td {
        display: block !important;
        &.today { display: block; }
      }
    }

  .view .date-nav-wrapper {
    .date-nav {
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .date-heading {
      font-size: 0.6em;
      color: #6B6B6B;
      font-family: $avenir;
      font-weight: $bold;
      font-style: oblique;
    }
  }

  .view .date-nav-wrapper {
    .date-next { list-style-type: none; }
    .date-prev { list-style-type: none; }
  }
    
  .calendar.mini tr td span.calendardate:hover + .calendar.mini tr td ul {
    display: block !important;
  }

  tr.single-day.number-1 {
    td:hover {
      display: block;
    }
  }

  .lt-ie9 .calenar.mini .view-content { display: none; }

  .lt-ie9 .front .date-heading H3 { font-size: 1.1em !important; }

} // end @media ?

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */


  /*
  * Minimalist
  */

  body.front {
    .ir:before { height: auto; color: white; }      
  }
  .maincontent {width: 80%; margin: 0 10%;}

  a { color: $cumcblue_highlight;
    &:hover {
      color: white;  
      background: $cumcblue2_highlight;
    }
  }
   
  p {
    max-width: 45em;
  }           

  h1, h2, h3, h4, h5, h6, {
    color: $cumcgray_darken;
    line-height: 120%;
  }

  h1 {
    font-size: 2.5em;
    font-weight: normal;
    color: $cumcgray;
  }

  article h1:first-child {
    text-transform: uppercase;
    letter-spacing: .15em;
  }              
    
  article h1:first-child + h2 {
    font-family: $avenir;
    font-style: oblique;
    color: $cumcorange;
  }

  sup {
    font-size: .75em;
    vertical-align: baseline;
  }

  table th, table thead > tr > th {
    background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
    padding: 0.5em;
    color: $cumcgray_darken;
  }

  table.views-table th, table thead > tr > th {
    img { padding-left: 10px; }
  }

  table thead > tr > th, 
  table tbody > tr > th, 
  table tfoot > tr > th, 
  table thead > tr > td, 
  table tbody > tr > td, 
  table tfoot > tr > td {
    padding: 0.8em;
  }

  blockquote {
    font-size: 1.6em;
    color: $cumcgreen;
    width: 90%;
    padding: 5%;
    margin: 0;
    font-family: $avenir;
    font-weight: $bold;
    text-align: left;
  }
  
  blockquote:before, blockquote:after {
      font-size: 3em;
      margin: -0.25em 0 0 -0.7em;
  }

  .button {
    background: $cumcgray;
    color: white;
    border: 0;
    padding: 0.5em 1em;
    font-weight: normal;
    text-transform: uppercase;
    font-family: $avenir;
    font-size: .85em;
    letter-spacing: .1em;
    &:hover { background: $cumcblue_highlight; }
    &.small, &.small.outline { padding: 0.1em 0.7em; font-size: 0.75em; }
    &.large, &.large.outline { padding: 0.8em 1.3em; font-size: 1em; }
    &.outline {
      background: white;
      color: $cumcgray;
      border: 2px solid $cumcgray;
      padding: 0.3em 0.87em;
      &:hover {
        border: 2px solid $cumcblue_highlight;
        color: $cumcblue_highlight; 
      }
    }
  }

  aside p {
    font-size: 1em;
    opacity: 0.9;
  } 

  .image-wrapper {
    img { width: 100%; }
    .image-caption {
      background: white;
      font-size: 0.85em;
      color: #555; 
      padding: 0.5em;
      margin: .5em 0 0 0;
      a { color: $cumcblue_highlight; }
    }
  }

  .events { 
    display: block;
    clear: both;
    a img { float: left; }
    .events-index {
      .lateral h1 a {
        display: block;
        clear: both; 
      } 
      &.sidebar dt {
        padding: 0.2em 5%;
        width: 90%;
        span.date { margin-left: 0; }
      }
      dl {
        dt {
          background: none;
          color: $cumcgray;
          font-family: $avenir;
          font-size: .85em;
          text-align:left;
          width: 50px;
          .day {}
          span.date { font-weight: normal; }
        }
        dd {
          width: 64%;
          ul {
            li {
              h1 { font-weight: normal; }
              p { font-size: 1em; clear: both; }
              .eventtime {
                display: block;
                float: left;
                clear: right;
              }
              h1 a { display: block; clear: both; } 
            }
          }
        }
        .day {
          font-family: $avenir;
          font-weight: $light;
          margin-bottom: -3px;
          display: block;
        }
      } //dl    
    } //.events-index
  } //.events

  .resultscard .profilelink {
     .headshot {
      max-width: 95px;
      margin-right: 1em;
     }
  }

  .abbreviated .resultscard .department-division { float: left; width: 60%; }


  div.drawershow {
    background: $cumcgray_darken;
    opacity: 1;
    color: white;
    left: 0;
    padding: 0.5em 1em;
    text-align: center;
    -webkit-transition: 0.2s all ease-in-out;
      -moz-transition: 0.2s all ease-in-out;
      transition: 0.2s all ease-in-out;
    &:hover {
      background: $cumcgray;
      -webkit-transition: 0.2s all ease-in-out;
      -moz-transition: 0.2s all ease-in-out;
      transition: 0.2s all ease-in-out;
    }
  }
    
  


  /* ==========================================================================
     Nursing Front Page Feature Slideshow
     ========================================================================== */

  .nursing-feature-slide {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    .views-slideshow-controls-text-pause { display: none; }
    .feature-wrap-overlay {
      display: block;
      position: absolute;
      width: 100%;
      max-width: 1550px;
      height: 210px;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, black));
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
      background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
      z-index: 50;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    .slide-info {
      display: block;
      width: 90%;
      max-width: 800px;
      height: auto;
      float: right;
      padding: 1em 4% 0 4%;
      position: absolute;
      bottom: 80px;
      left: 0;
      right: 0;
      margin: auto;
      color: white;
      background: rgba(0, 0, 0, 0);
      z-index: 99;
      text-align: center;
      font-family: $minion;
    }
    .feature-tag a {
      display: block;
      background: white;
      color: black;
      text-transform: uppercase;
      padding: 0.2em 1em 0.2em 1em;
      margin: 0 auto;
      float: none;
      font-size: 0.8em;
      clear: both;
      opacity: 0.7;
      font-family: $avenir;
      font-style: oblique;
      width: 75px;
      text-shadow: none;
    }   
    a.arrow {
      font-size: 2em;
      margin: 0 auto 1em auto;
      float: none;
      display: block;
      color: white;
    }
    a {
      font-size: 4.1em;
      color: white;
      font-family: $minion;
      font-weight: $bold;
      font-style: italic;
      line-height: 90%;
      display: block;
      clear: both;
      padding: 0;
      opacity: 1;
      margin: 0 0 -0.5em 0;
      text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.7);
      background-color: transparent;
      &:hover {
        text-shadow: 2px 1px 1px rgba(233, 131, 0, 0.7);
      }
    }
    .views_slideshow_controls_text {
      position: absolute;
      bottom: 20px;
      a {
      font-size: 1em;
      }   
    }   
    .blurb {
      font-size: 1em;
      font-weight: $light;
      display: none;
      margin: 1em 0 0 0;
      color: white;
      opacity: 1;
      cursor: pointer;
      visibility: hidden;
    }   
  } //.nursing-feature-slide

  .views-slideshow-controls-bottom {
    position: absolute;
    z-index: 99;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 51px;
  }

  .nursing-feature-slide .views_slideshow_controls_text {
    position: relative;
    bottom: auto;
  }


  .front .view-nursing-news-front .views_slideshow_slide { height: 500px !important; }

  .front .views_slideshow_slide { height: 500px !important; width: 1400px !important; max-width: 100%; }

  .front .views-slideshow-cycle-main-frame { max-width: 100%; background: black; }

  #views_slideshow_controls_text_pause_nursing_front_feature_slide-block {
    display: none;
  } 

  .views-slideshow-controls-text-previous {
    display: block;
    float: left;
    cursor: pointer;
    width: 25px;
    height: 51px;
    background: url(../img/left-arrow.png) no-repeat;
    background-size: 100% auto;
    margin: 0 0 0 2%;
    opacity: 0.7;
    text-indent: -99999px
  }
  .views-slideshow-controls-text-next {
    display: block;
    float: right;
    cursor: pointer;
    width: 25px;
    height: 51px;
    background: url(../img/right-arrow.png) no-repeat;
    background-size: 100% auto;
    margin: 0 2% 0 0;
    opacity: 0.7;
    text-indent: -99999px
  }

  /* ==========================================================================
     Nursing Front Page Callouts and Buttons
     ========================================================================== */

  .front-callout {
    display: block;
    float: left;
    margin: 1em 0;
    padding: 1em 3% 0.5em 3%;
    width: 94%;
    clear: left;
    color: #666 !important;
    a.mag {
      background: url(../img/mag-thumb.png) no-repeat;
      width: 200px;
      height: 200px;
      text-indent: -99999px;
      display: block;
      float: left;
    }
    a:hover { opacity: 0.8; }
    p { color: #999; }
    &.mid {
      background: rgba(0,0,0,0.1);
      clear: none;
    }
    &.last { clear: none; }
    &.mag {
      color: black !important;
      a {
        color: #666 !important;
        font-size: 2em;
        line-height: 130%;
        font-style: italic;
        font-family: $minion;
      }
      a.issue { color: #999 !important; display: block; clear: right; }
      p {
        display: inline !important;
        float: none !important;
        max-width: 45% !important;
        font-size: 0.6em !important;
        line-height: 110% !important;
        color: #999;
      }
      img {
        display: block;
        float: left;
        margin: -5px 1% 0.5em 0;
        max-width: 25%;
          -webkit-transition: 0.3s all ease;
             -moz-transition: 0.3s all ease;
                  transition: 0.3s all ease;
        &:hover {
          cursor: pointer;
          opacity: 0.7;
          -webkit-transition: 0.3s all ease;
             -moz-transition: 0.3s all ease;
                  transition: 0.3s all ease;
        }
      }
    }   
    img {
      max-width: 100%;
      height: auto;
    }
  } //end .front-callout

  .region-footer { padding-top: 2em; }

  .section-holidays.js-is-on .pagewrapper { width: 80%; }

} // end @media

@media only screen and (max-width: 45em) { 

  .logo-wrap .logotype a {
    margin: 15px 0 0 0;
    width: 252px;
  }

  h1.page__title { padding: 0 5%; }

  form#google-appliance-block-form {
    margin: 0 auto;
    float: none;
    width: 280px;
  }

  .nursing-feature-slide {
    height: 150px;
  }   

  .region-globalfooter div {
    width: 100% !important;
    text-align: center;
  }
    
  .region-front-middle, .region-front-left {
    width: 100% !important;
  }

  .front-callout.mag a.mag-title {
    margin-top: 7.3em !important;
    clear: both !important;
    line-height: 110%;
  }

  .region-front-middle, .region-front-left {
    width: 45%;
  }

  .calendar-calendar {
    width: 100%;
    overflow-y: auto;
    overflow: auto;
    margin: 0 0 1em;
  }

  .calendar-calendar::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
  }

  .calendar-calendar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, .3);
  }

  .calendar { width: 100% !important; }

  .view .date-nav-wrapper .date-heading {
    top: 55px;
    text-align: left;
  }
    
  .view .date-nav-wrapper .date-next {
    width: 60px;
    top: 18px;
  } 

  .view .date-nav-wrapper .date-prev {
    left: 0;
    right: auto;
    top: 18px;
  }

  #block-views-featuredimage-block {
    display: block;
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
  } 
} //end @media