

              


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 320px) {
    /* Style adjustments for viewports that meet the condition */



/* ==========================================================================
   Site Header
   ========================================================================== */

.logotype {width: 33%;}

/* ==========================================================================
    sidebar
   ========================================================================== */


sidebar, .sidebar {
    float: left;
    width: 20%;
    .news {
        width: 100%;
        height: auto;
        .news-title {
            font-family: $avenir;
            font-weight: $bold;
            font-size: 1.25rem;
        }
        .news-source {
            font-size: .85rem;
        }
        .news-summary {
            text-indent: 0;
        }
    }
    .view-feature-image {
            display: none;
        }
    .item-list > ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .field-collection-view {
        margin: 0;
        padding: 0;
        border: 0;
    }
    .image-wrapper {
        position: relative;
        width: 95%;
        margin: 0 0 .75em 0;
        padding: 2.5%;
        border: solid 1px $lightgray;
        img {
            width: 100%;
        }
        .image-caption {
            position: none;
            font-size: .85rem;
            line-height: 1.25em;
            padding: 0 2.5%;
            width: auto;
        }
    } 
    ul.field-related-external-links { 
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            border-bottom: 1px dotted #0065BD;
            font-size: 0.85rem;
            padding: 0.25em 0;
        }
        
    }
}





/* ==========================================================================
    event
   ========================================================================== */

.events {
    .events-index {
        dl {
            dt {
                width: 10%;
                min-width: 3em;
                padding: 2.5%;
                margin-right: 2.5%;
                text-align: center;
                font-size: 1.5rem;
                text-transform: uppercase;
                span.date { 
                    display: block; 
                    font-size: 1.25rem; 
                    font-family: $avenir;
                    font-weight: $bold; 
                }
            }
            dd { float: left;
                width: 80%;
                ul { width: 100%;
                    li {
                        .eventtime {display: block;}
                        img {float: left;}
                    }
                }
            }
        }    
        &.lateral {
            dl{ 
                dt { max-width: 2em;
                    padding: .75em;

                }
                dd {
                    ul {
                        li {
                            width: 30%; float: left; clear: none; margin-left: 3%;
                        }
                    }
                }
            }
        }
        &.abbreviated {
            dl { display: block; width: 100%;
                dt {
                    font-size: 1rem;
                    span.date {font-size: inherit;}       

                }
                dd {width: 70%;} 
            }
            
        }
        &.abbreviated.lateral {
            dl {
                dt {
                    width: 5%;
                    min-width: 3em;
                    font-size: 1em;
                }
            }
        }
        &.sidebar {
            dl {width: auto;}
            dt {
                width: 95%; 
                float: none; 
                display: block;
                padding: .25rem;
                font-size: 1rem;
                span.date {font-size: inherit; display: inline; margin-left: .5em;}       

            }
            dd {
                width: 100%;
            }
        }
    }
} 

.calendar {
    table {
        tr {display: table-row;
            th{ display: table-cell;
                background: $cumcgray; 
                color: white;
                text-align: center;
                text-align: left;
                line-height: 1em;
                padding: .5em;
            }
            td{ float: none; 
                clear: none;
                width: 13.25%;
                height: 6rem;
                display: table-cell;
                border: solid 1px $cumcgray_highlight;
                padding: 0;
                position: relative;
                overflow: hidden;
                span.calendardate{ 
                    text-align: right;
                    width: 100%;
                    background: none;
                    display: block; 
                    font-size: 6rem;
                    line-height: 1em;
                    letter-spacing: -.15em;
                    color: $lightblue;
                    font-family: $avenir;
                    font-weight: $bold;
                    background: none;
                    padding: 0;
                    margin: 0;
                    position: relative; 
                    right: .05em;
                    top: -.05em;
                    .full-day-month {display: none;}
                }
                ul {
                    position: relative; 
                    width: 100%;
                    z-index: 100;
                    top: -6rem;
                    margin-bottom: -5rem;
                    li {                    
                        margin: 5%;
                        width: 90%;
                        h1 {}
                        h2 {}
                        h3 {}
                        .primary-category {}
                        p {}
                    }    
                    &:first-child img { display: block;
                        position: absolute;
                        height: 100%;
                        width: auto;
                        z-index: 0;
                        opacity: .2;
                    }
                }
            } //end td
        } // end tr
    } //end table
} // end .calendar

} //end media query?






.front .column.sidebar {
    width: 45%;
    margin-top: 1em;
}