/* ==========================================================================
   SASS variables and mix-ins
   ========================================================================== */
/* ========== Basic CUMC Colors ============= */
/* ========== highlighted ============= */
/* ========== Darkened ============= */
/* ========== New Colors ============= */
/* ==========================================================================
   Global Header
   ========================================================================== */
.region-globalheader {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  float: left; }

/* ==========================================================================
   Site Header
   ========================================================================== */
.siteheader {
  border-bottom: solid 1px #73757a;
  float: left;
  clear: both;
  margin: 0;
  width: 80%;
  max-width: 1400px;
  padding: 0 10%;
  position: relative; }
  .siteheader .logo-wrap {
    display: block;
    float: left;
    clear: left;
    margin: 1em 0 0 0;
    width: 20%;
    min-width: 300px; }
    .siteheader .logo-wrap .logotype {
      float: left;
      width: 100%;
      height: 120px; }
      .siteheader .logo-wrap .logotype a {
        background: url(../img/logos/son-logo-2.svg) no-repeat;
        background-size: 100% auto;
        width: 100%;
        height: 180px;
        display: block;
        float: left;
        text-indent: -9999px;
        color: #73757a; }
  .siteheader .navwrapper {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0; }
    .siteheader .navwrapper nav {
      max-width: 100%; }

.lt-ie9 .siteheader {
  float: none;
  margin: 0 auto; }

/* ==========================================================================
   Main Body
   ========================================================================== */
.region-localnav {
  float: left;
  width: 20%;
  padding: 0;
  margin: 0; }

.page-nursing-profile .pagewrapper .region-mainpagecontent, .page-profile .pagewrapper .region-mainpagecontent, .page-node-51 .pagewrapper .region-mainpagecontent {
  width: 100%; }

.pagewrapper {
  float: left;
  width: 80%;
  max-width: 1400px;
  margin: 0; }
  .pagewrapper > article {
    width: auto;
    display: inline; }
  .pagewrapper .region-mainpagecontent {
    width: 70%;
    float: left; }
  .pagewrapper .maincontent {
    float: left;
    margin: 0 5% 0 0;
    margin-bottom: 2em;
    width: 100%; }
  .pagewrapper front.maincontent {
    float: left;
    width: auto;
    margin: 0 auto;
    padding: 0;
    float: none;
    width: 95%;
    max-width: 1400px;
    height: 20px; }
  .pagewrapper .column.sidebar {
    float: left;
    clear: none;
    width: 20%; }

.lt-ie9 .pagewrapper {
  float: none !important;
  clear: both !important;
  margin: 0 auto !important; }

/* ==========================================================================
   Front
   ========================================================================== */
.region-front-middle {
  display: block;
  width: 24%;
  margin: 1em 1.4% 0 1.4%;
  float: left;
  border-right: 1px solid #e8e8e8;
  padding-right: 1.5%;
  border-left: 1px solid #e8e8e8;
  padding-left: 1.5%; }

/* ==========================================================================
   Sidebar
   ========================================================================== */
sidebar, .sidebar {
  float: left;
  width: 100%; }

/* ==========================================================================
   Nursing Footer
   ========================================================================== */
/* ==========================================================================
   Site Footer
   ========================================================================== */
.region-footer {
  display: block;
  clear: both;
  min-height: 200px;
  padding: 1em 10% 2em 10%;
  margin-top: 60px;
  background: #2d2e31;
  clear: both; }
  .region-footer .logo-wrap {
    display: block;
    float: left;
    clear: left;
    margin: -1em 6% 0 0;
    width: 20%; }
    .region-footer .logo-wrap .logotype {
      width: 225px; }
      .region-footer .logo-wrap .logotype .logotype a {
        background: url(../img/logos/son-logo-1.png) no-repeat;
        background-size: 100% auto;
        width: 225px;
        height: 65px;
        display: block;
        float: left;
        text-indent: -9999px;
        color: #73757a; }
  .region-footer ul, .region-footer p {
    display: block;
    float: left;
    max-width: 21%;
    margin: 0 6% 0 0;
    color: white;
    list-style-type: none;
    opacity: 0.8; }
    .region-footer ul li, .region-footer p li {
      padding: 0.2em 0; }
  .region-footer a {
    color: white;
    opacity: 0.8; }
    .region-footer a a:hover {
      opacity: 1; }

.sitefooter {
  width: 95%;
  padding: 0 2.5%;
  clear: both; }

.clear {
  display: block;
  clear: both; }

.lt-ie9 .region-footer .logo-wrap .logotype {
  background: url(../img/logos/son-logo-1-ie.png) no-repeat !important;
  background-size: 100% auto;
  width: 225px;
  height: 65px;
  display: block;
  float: left;
  text-indent: -9999px;
  color: #73757a; }

/* ==========================================================================
   Global Footer
   ========================================================================== */
.region-globalfooter {
  width: 95%;
  padding: 0 2.5%;
  clear: both; }

/* ==========================================================================
   Clown Colors for testing layout
   ========================================================================== 

.globalheader {background: red;}
.region-siteheader {background: orange;}
.maincontent {background: yellow;}
  article {background: green;}
  sidebar {background: blue;}
.sitefooter {background: indigo;}
.region-globalfooter {background: violet;}
 
*/
/* ==========================================================================

put this stuff somewhere!

*/
.region-front-left {
  position: relative;
  display: block;
  float: left;
  width: 22%;
  margin: 1.5em 0 0 0; }

/* ==========================================================================
   Breakpoints
   ========================================================================== */
@media only screen and (max-width: 800px) {
  .js-is-on .pagewrapper {
    width: 100%; }

  .pagewrapper .region-mainpagecontent {
    width: 90%;
    margin: 0 5%; }

  .pagewrapper .column.sidebar {
    width: 95%; }

  .region-front-middle {
    width: 45%; }

  .region-front-left {
    width: 45%;
    display: none; }

  .news {
    width: 45% !important; }
    .news.nursing-front {
      width: 100% !important; }

  .siteheader .logo-wrap .logotype a {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 280px; } }
@media only screen and (max-width: 800px) {
  .news {
    width: 95% !important; }

  .region-front-middle {
    width: 95%; }

  .region-footer {
    min-height: 270px; }
    .region-footer ul {
      width: 50%;
      max-width: 50%; }
    .region-footer .logo-wrap {
      width: 55%; }

  .connect-wrap .connect {
    width: 20%; } }
