/* ==========================================================================
   SASS variables and mix-ins
   ========================================================================== */
/* ========== Basic CUMC Colors ============= */
/* ========== highlighted ============= */
/* ========== Darkened ============= */
/* ========== New Colors ============= */
/* ==========================================================================
   Logo imagereplace
   ========================================================================== */
.logotype {
  /*background: url("../img/logos/CUMClogo2c.svg") no-repeat;*/
  background-size: 90%;
  width: 100%;
  height: 2em;
  margin: 0;
  padding: 0;
  clear: both; }

/* ==========================================================================
   Filterbox
   ========================================================================== */
.filterboxwrapper {
  margin: 0 0 1em 0; }
  .filterboxwrapper .filterbox {
    width: 14em; }

/* ==========================================================================
   Buttons and Starter Navigation
   ========================================================================== */
ul.tabs, ul.action-links {
  margin: 0;
  padding: 0;
  float: right;
  list-style: none; }
  ul.tabs.tabs-primary, ul.action-links.tabs-primary {
    float: right;
    width: auto; }
  ul.tabs li, ul.action-links li {
    cursor: pointer;
    margin: 0;
    padding: 0;
    float: left;
    border: solid 1px #73757a;
    margin: -1px 0 0 -1px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out; }
    ul.tabs li a, ul.action-links li a {
      color: inherit;
      padding: .25em 1em;
      display: block;
      float: left;
      margin: 0; }
      ul.tabs li a:hover, ul.action-links li a:hover {
        background: #73757a;
        color: white; }
    ul.tabs li.is-active a, ul.tabs li li:hover a, ul.action-links li.is-active a, ul.action-links li li:hover a {
      color: white; }

a:focus {
  outline: none;
  /* Removes Firefox Link Outlines*/ }

.button {
  display: inline-block;
  padding: .25em 1em;
  border: solid 3px;
  margin: 1%;
  cursor: pointer;
  font-weight: 800;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }
  .button.solid {
    border: 0;
    color: white !important;
    background-color: #73757a; }
  .button.solid.blue {
    background-color: #1b4585;
    color: white; }
  .button.solid.orange {
    background-color: #e98300; }
  .button.solid.green {
    background-color: #b6bf00; }
  .button.solid.pink {
    background-color: #830051; }
  .button.solid.gray {
    background-color: #73757a; }
  .button:hover {
    background-color: #73757a;
    border-color: #73757a;
    color: white; }
  .button.active {
    background-color: #2d2e31;
    border-color: #2d2e31;
    color: white; }
  .button.blue {
    background-color: white;
    color: #1b4585; }
  .button:hover.blue {
    background-color: #1b4585;
    border-color: #1b4585;
    color: white; }
  .button.active.blue {
    background-color: #0d275f;
    border-color: #0d275f;
    color: white; }
  .button.pink {
    background-color: white;
    color: #830051; }
  .button:hover.pink {
    background-color: #830051;
    border-color: #830051;
    color: white; }
  .button.active.pink {
    background-color: #5d0030;
    border-color: #5d0030;
    color: white; }
  .button.green {
    background-color: white;
    color: #97a200; }
  .button:hover.green {
    background-color: #b6bf00;
    border-color: #b6bf00;
    color: white; }
  .button.active.green {
    background-color: #97a200;
    border-color: #97a200;
    color: white; }
  .button.orange {
    background-color: white;
    color: #e98300; }
  .button:hover.orange {
    background-color: #e98300;
    border-color: #e98300;
    color: white; }
  .button.active.orange {
    background-color: #dd5d00;
    border-color: #dd5d00;
    color: white; }

/* ==========================================================================
   Features/Modules
   ========================================================================== */
/* ==========================================================================
   Global Header
   ========================================================================== */
.region-globalheader {
  width: 100%;
  margin: 0;
  font-size: .85rem;
  width: 100%;
  background: #1b4585;
  border-bottom: solid 1px white;
  -moz-box-shadow: 0px 1px 14px #999;
  -webkit-box-shadow: 0px 1px 14px #999;
  box-shadow: 0px 1px 14px #999; }
  .region-globalheader .globalNavToggle {
    font-family: "Avenir", "Avenir LT W01 55 Roman", "Helvetica", "Arial", "sans-serif";
    display: block;
    float: left;
    font-size: .85rem;
    margin: 0;
    padding: .25rem 1rem;
    color: white;
    white-space: nowrap;
    cursor: pointer;
    z-index: 1;
    height: 1.25rem;
    overflow: hidden; }
  .region-globalheader span.block {
    margin: 0;
    float: left;
    overflow: visible;
    float: left; }
    .region-globalheader span.block ul {
      float: left;
      width: auto;
      border: 0;
      padding: 0 0 0;
      margin: 0;
      background: #1b4585;
      color: white;
      z-index: 100;
      overflow: hidden; }
      .region-globalheader span.block ul li {
        float: left;
        clear: left;
        color: white;
        float: left;
        display: block;
        padding: 0;
        margin: 0;
        font-family: "Avenir", "Avenir LT W01 55 Roman", "Helvetica", "Arial", "sans-serif";
        font-weight: 200;
        font-size: .85rem;
        width: 100%; }
        .region-globalheader span.block ul li a {
          color: white;
          display: block;
          padding: 0;
          margin: 0;
          text-decoration: none;
          height: 1.25rem;
          overflow: hidden;
          padding: .25rem 1rem; }
          .region-globalheader span.block ul li a:hover {
            background: #2c68b2; }
    .region-globalheader span.block.block-google-appliance {
      float: right; }

/* ==========================================================================
   Site Header
   ========================================================================== */
.siteheader {
  float: left;
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0; }
  .siteheader nav {
    display: block;
    float: left;
    font-size: 1rem; }
    .siteheader nav ul {
      float: left;
      margin: 0;
      padding: 0;
      list-style: none;
      width: auto; }
      .siteheader nav ul li {
        display: block;
        float: left;
        padding: 0 .85em .5em .85em;
        width: auto; }
        .siteheader nav ul li a {
          border-width: 0 0 1px 0;
          display: block;
          text-decoration: none;
          float: left;
          padding: 0.15em 0.75em;
          color: #73757a;
          text-transform: uppercase;
          background: none;
          font-weight: 100;
          font-size: .85em;
          text-align: center;
          display: block; }
          .siteheader nav ul li a.active {
            background: rgba(255, 255, 255, 0.2); }
          .siteheader nav ul li a:hover {
            background: #e98300;
            color: white;
            -webkit-transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            -ms-transition: all .25s ease-in-out;
            -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out; }
        .siteheader nav ul li #navsearch {
          padding: 5%; }
          .siteheader nav ul li #navsearch input[type="text"] {
            border: solid 1px #73757a;
            margin: .5em 0;
            padding: .25em;
            width: 95%; }

/* ==========================================================================
   login stuff
   ========================================================================== */
.login_logout {
  float: right;
  padding: 1em; }

/* ==========================================================================
   Navigation Items
   ========================================================================== */
.localnav ul li a {
  padding: .25em 1em; }
  .localnav ul li a:hover {
    background: #f7b000;
    color: white; }
  .localnav ul li a.active {
    background: #bec1c7; }

.breadcrumb .navwrapper {
  position: relative;
  min-height: 2em;
  margin: 0 0 0 -1.25em; }
  .breadcrumb .navwrapper nav {
    float: left;
    display: inline;
    margin: 0 0 1.5% 0;
    clear: none;
    width: 100%;
    position: absolute;
    z-index: 200; }
    .breadcrumb .navwrapper nav ul {
      width: auto;
      float: left;
      padding: 0;
      margin: 0; }
      .breadcrumb .navwrapper nav ul.showit {
        background: white;
        -moz-box-shadow: 0px 1px 14px #999;
        -webkit-box-shadow: 0px 1px 14px #999;
        box-shadow: 0px 1px 14px #999;
        display: block;
        background: rgba(255, 255, 255, 0.85); }
        .breadcrumb .navwrapper nav ul.showit > li {
          display: block;
          width: 100%; }
      .breadcrumb .navwrapper nav ul li {
        display: none;
        float: left;
        clear: left;
        position: relative; }
        .breadcrumb .navwrapper nav ul li a {
          padding: .25em 1em;
          float: left;
          display: block; }
          .breadcrumb .navwrapper nav ul li a.active {
            background: none; }
          .breadcrumb .navwrapper nav ul li a:hover {
            background: #0065bd;
            color: white; }
        .breadcrumb .navwrapper nav ul li.active-trail {
          display: block; }
          .breadcrumb .navwrapper nav ul li.active-trail:before {
            content: ">";
            float: left;
            padding: .25rem; }
    .breadcrumb .navwrapper nav ul:first-child > li.active-trail:before {
      content: ""; }

div.drawertoggle {
  text-transform: uppercase; }

div.drawertoggle:first-child:before {
  content: "=";
  font-family: CUMCLogos;
  margin-right: .5em; }

div.drawershow {
  display: none; }

div.drawershow {
  background: #2d2e31;
  display: block;
  font-size: .85rem;
  cursor: pointer;
  float: left;
  padding: .5em 1em;
  margin: 0 0 1em 0;
  color: white;
  z-index: 490;
  width: auto; }
  div.drawershow div {
    display: inline; }

.lt-ie9 div.drawershow {
  clear: both; }

.region-localnav {
  position: none;
  display: block;
  padding: 0; }
  .region-localnav nav {
    clear: both;
    margin: 0;
    padding: 0;
    float: left; }
    .region-localnav nav ul {
      float: left;
      padding: 0; }
      .region-localnav nav ul.slideout {
        display: none;
        position: fixed;
        height: 100%;
        padding: 0 0 0 2.5%;
        top: 0;
        left: 0;
        min-width: 12rem;
        max-width: 200px;
        background: white;
        background: rgba(255, 255, 255, 0.9);
        z-index: 500;
        -moz-box-shadow: 0px 1px 14px #999;
        -webkit-box-shadow: 0px 1px 14px #999;
        box-shadow: 0px 1px 14px #999; }
      .region-localnav nav ul li {
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
        float: left; }
        .region-localnav nav ul li a {
          padding: .5em 5%;
          width: 90%;
          display: block; }
          .region-localnav nav ul li a:hover {
            background: #0090df;
            color: white; }

a.active {
  background: #0090df; }

.views-table {
  margin-top: 0.5em; }
  .views-table th a {
    color: #2d2e31;
    font-weight: 100;
    font-size: 1em; }
    .views-table th a.active {
      background: none;
      color: #2d2e31;
      font-weight: bold;
      font-size: 1em; }

/* ==========================================================================
   Main Body Styles
   ========================================================================== */
.maincontent {
  float: left;
  margin-bottom: 2em; }

.article-mini-module {
  float: right;
  clear: right;
  width: 45%;
  margin: 0 0 5% 5%;
  min-width: 200px; }

/* ==========================================================================
   Body Image Module and Captions
   ========================================================================== */
.image-wrapper {
  float: right;
  position: relative;
  width: 40%;
  max-height: 50%;
  margin: 0 0 5% 5%;
  list-style-type: none;
  border: solid 1px #efefea; }
  .image-wrapper img {
    width: 95%;
    float: right;
    padding: 2.5%; }
  .image-wrapper .image-caption {
    float: left;
    clear: both;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    width: auto;
    padding: .5em;
    font-family: "Minion Pro", "Minion W01 Regular", "Georgia", "serif";
    font-size: .85rem; }
    .image-wrapper .image-caption.bottom-right {
      bottom: 1em;
      right: 1em;
      width: 50%;
      position: absolute; }
    .image-wrapper .image-caption.bottom-left {
      bottom: 1em;
      left: 1em;
      width: 50%;
      position: absolute; }
    .image-wrapper .image-caption.top-right {
      top: 1em;
      right: 1em;
      width: 50%;
      position: absolute; }
    .image-wrapper .image-caption.top-left {
      top: 1em;
      left: 1em;
      width: 50%;
      position: absolute; }
    .image-wrapper .image-caption.top-center {
      top: 1em;
      left: 1em;
      right: 1em;
      width: auto;
      position: absolute; }
    .image-wrapper .image-caption.bottom-center {
      bottom: 1em;
      left: 1em;
      right: 1em;
      width: auto;
      position: absolute; }
  .image-wrapper .photo-credit {
    font-size: .75rem;
    color: #73757a;
    margin-left: .5em; }
  .image-wrapper a.photo-credit:hover {
    color: #f7b000; }

.image-wrapper.feature-image {
  margin: 0 0 1.5em 0;
  max-height: 425px;
  overflow: hidden;
  width: 100%;
  padding: 0; }
  .image-wrapper.feature-image .fieldset-wrapper {
    overflow: hidden;
    max-height: 425px;
    display: block; }
  .image-wrapper.feature-image img {
    width: 100%;
    padding: 0;
    margin: 0; }

.bottom-left {
  bottom: 1em;
  left: 1em;
  position: absolute;
  width: 50%; }

/* ==========================================================================
   Related links
   ========================================================================== */
aside h3 {
  font-size: .85em;
  text-transform: uppercase;
  letter-spacing: .2em; }
aside ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  aside ul li {
    border-bottom: dotted 1px #0065bd;
    padding: .25em 0;
    font-size: .85rem; }
  aside ul li.external a:after {
    font-family: CUMCLogos;
    font-size: 1.25em;
    font-weight: normal;
    color: #73757a;
    content: " »"; }

.related-links {
  margin: 0 0 2em 0; }
  .related-links .views-row span {
    font-size: 1.25rem; }

/* ==========================================================================
   Blockquote
   ========================================================================== */
blockquote {
  margin: 5% 10%;
  text-align: center;
  float: left;
  width: 35%;
  font-style: italic; }

blockquote:before {
  content: "“";
  font-size: 6em;
  float: left;
  margin: -0.25em 0 0 -0.5em; }

blockquote:after {
  content: "”";
  font-size: 6em;
  line-height: 0;
  float: right;
  position: relative;
  top: .36em;
  right: -.5em; }

blockquote p:before {
  content: "â€œ"; }

blockquote p:first-child:before {
  content: ""; }

blockquote p + p:last-child:after {
  content: "â€"; }

blockquote p:last-child {
  margin-bottom: 1em; }

blockquote cite {
  font-style: italic;
  font-weight: 800; }

blockquote.article-mini-module {
  width: 35%;
  margin: 2.5% 7.5%; }

/* ==========================================================================
   Asides
   ========================================================================== */
aside p {
  max-width: 26rem;
  font-size: .85rem;
  margin: 1em 0; }
aside h1 {
  font-size: 1.5rem; }
aside h2 {
  font-size: 1.25rem; }
aside h3 {
  font-size: 1rem; }

/* ==========================================================================
   Sidebars
   ========================================================================== */
sidebar, .sidebar {
  font-size: .85rem;
  margin: 0 0 0 2%;
  float: left;
  width: 100%;
  padding: 0; }
  sidebar *, .sidebar * {
    min-width: 0; }
  sidebar > *, .sidebar > * {
    border-top: 0; }
  sidebar h1, sidebar h2, sidebar h3, sidebar h4, sidebar h5, sidebar h6, sidebar p, .sidebar h1, .sidebar h2, .sidebar h3, .sidebar h4, .sidebar h5, .sidebar h6, .sidebar p {
    color: #73757a; }
  sidebar h1, .sidebar h1 {
    font-size: 1.5rem; }
  sidebar h2, .sidebar h2 {
    font-size: 1.25rem; }
  sidebar h3, .sidebar h3 {
    font-size: 1rem; }
  sidebar a, .sidebar a {
    color: #2c68b2; }
    sidebar a:hover, .sidebar a:hover {
      background: #e8e8e8; }
    sidebar a.button.addtocalendar, .sidebar a.button.addtocalendar {
      color: white;
      font-size: 0.9em;
      padding: 0.3em 0.5em;
      margin-top: 0.1em;
      display: block;
      float: left;
      clear: both; }
      sidebar a.button.addtocalendar:hover, .sidebar a.button.addtocalendar:hover {
        background: #f7b000; }
  sidebar .news, .sidebar .news {
    width: 100%; }
  sidebar .basic-image, .sidebar .basic-image {
    margin-bottom: .5em; }
    sidebar .basic-image img, .sidebar .basic-image img {
      width: 100%; }
    sidebar .basic-image .file-icon, .sidebar .basic-image .file-icon {
      width: auto; }

/* ==========================================================================
   News Module
   ========================================================================== */
.news-index ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  .news-index ul li {
    margin: 0 0 2em 0; }
    .news-index ul li img {
      max-width: 120px;
      float: right;
      margin-left: 5%;
      margin-bottom: 1em; }
    .news-index ul li h1 {
      font-size: 1.15rem;
      font-weight: 800;
      margin: 0.1em 0; }
    .news-index ul li h2 {
      font-size: 1rem;
      margin: 0; }
    .news-index ul li h3 {
      font-size: 1rem;
      font-weight: 800;
      margin: 0; }
    .news-index ul li .primary-category {
      font-size: .75em;
      text-transform: uppercase;
      margin: 0;
      font-weight: bold; }
      .news-index ul li .primary-category a {
        color: #e98300; }
    .news-index ul li .datetime {
      font-size: .78em;
      padding: 0 0 0 0.5em; }
    .news-index ul li .byline {
      font-size: .55em;
      text-transform: uppercase;
      font-weight: 800;
      color: #73757a; }
    .news-index ul li p {
      line-height: 1.25em;
      letter-spacing: -.03em;
      font-size: 0.95em;
      font-family: "Avenir", "Helvetica", "Arial", "sans-serif"; }
    .news-index ul li ul.pager {
      display: block;
      clear: both;
      float: none;
      width: 100%;
      border-top: 1px solid #efefea;
      padding: 1em;
      text-align: center; }
      .news-index ul li ul.pager li {
        display: inline;
        padding: 1em; }

.news {
  display: block;
  float: left;
  width: 46%;
  margin: 1em 0 2em 0;
  padding: 0;
  position: relative;
  z-index: 99; }
  .news.nursing-block .news-index .field-body {
    display: block; }
  .news.nursing-block .news-index ul li {
    margin: 0 0 1em 0; }
    .news.nursing-block .news-index ul li h1 {
      font-size: 1em;
      font-weight: 100; }

.news.nursing-interior {
  width: 100%; }

.news.nursing-front {
  display: block;
  float: left;
  width: 95%;
  margin: 0 0 2em 0;
  padding: 0;
  position: relative;
  z-index: 99;
  background: white;
  padding: 0;
  display: block;
  float: left;
  clear: both; }
  .news.nursing-front .image-wrapper .image-caption {
    display: none !important; }
  .news.nursing-front .view-content {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
    padding: 5% 5% 1em 5%; }
    .news.nursing-front .view-content .views-row {
      margin: 0 0 1em 0; }
  .news.nursing-front .item {
    border-bottom: solid 1px #e8e8e8;
    padding: 0 4% 0 0;
    width: 95%;
    display: block;
    float: left;
    font-weight: 100; }
    .news.nursing-front .item:nth-child(2) {
      border-right: 0; }
    .news.nursing-front .item:last-child, .news.nursing-front .item.last {
      margin-right: 0;
      border: none; }
    .news.nursing-front .item img {
      display: block;
      width: 100%%;
      height: auto;
      clear: right;
      float: right; }
    .news.nursing-front .item .datetime {
      font-size: 0.75em;
      font-style: italic; }
    .news.nursing-front .item h1 {
      margin: 0.3em 0 0.5em 0;
      font-size: 1em;
      font-weight: 100; }
    .news.nursing-front .item h2 {
      margin: 0 0 0.4em 0; }
    .news.nursing-front .item p {
      font-size: 0.85em;
      font-family: "Avenir", "Avenir LT W01 55 Roman", "Helvetica", "Arial", "sans-serif"; }
  .news.nursing-front .item.views-row-first h1 {
    font-style: italic;
    font-weight: bold;
    font-size: 1.3em; }
  .news.nursing-front .item .views-field .field-body {
    display: none; }
  .news.nursing-front .views-row-first.item .field-body {
    display: block; }
  .news.nursing-front a.button.small {
    background: none;
    color: #1b4585;
    top: 7px;
    right: 5%;
    font-size: 0.8em;
    font-family: "Avenir", "Avenir LT W01 55 Roman", "Helvetica", "Arial", "sans-serif";
    float: right;
    font-style: italic;
    position: absolute;
    bottom: auto;
    border: 0;
    text-transform: none; }
    .news.nursing-front a.button.small:hover {
      color: #2c68b2;
      opacity: 0.8; }
  .news.nursing-front .news-date {
    font-size: 0.9em;
    font-style: italic;
    color: #6B6B6B; }
  .news.nursing-front .news-index.lateral ul {
    margin: 0; }
  .news.nursing-front .nursing-front-news-img {
    display: block;
    float: right;
    width: 15%;
    height: auto;
    margin: 0 0 2% 5%; }
  .news.nursing-front .primary-category a,
  .news.nursing-front .primary-category,
  .news.nursing-front .date-display-single {
    font-size: .9em;
    text-transform: uppercase;
    margin: 0;
    font-weight: 800;
    color: #73757a;
    font-style: italic;
    display: inline; }
  .news.nursing-front .date-display-single {
    font-weight: normal;
    display: inline;
    font-size: 0.9em; }
  .news.nursing-front .views-field-field-event-date, .news.nursing-front .views-field-term-node-tid {
    display: inline; }

.news.nursing-front.context-block .view-content {
  background: none !important; }

.view-nursing-news-front .news-index ul li div {
  display: inline; }

.view-nursing-news-front .news-index ul li .field-body, .view-nursing-news-front .news-index ul li img {
  display: none; }

.view-nursing-news-front .news-index ul li.views-row-first .field-body, .view-nursing-news-front .news-index ul li.views-row-first img {
  display: block; }

.nursing-front li h1 {
  font-style: italic;
  font-weight: 100 !important;
  font-size: 1em; }

.nursing-front li.views-row-first h1 {
  font-style: italic;
  font-weight: bold !important;
  font-size: 1.3em; }

/* ==========================================================================
   News Page
   ========================================================================== */
.page-news .news {
  width: 100%; }
.page-news .pagewrapper .region-mainpagecontent {
  width: 100% !important; }

.view-nursing-news-front.nursing-interior .news-index ul li {
  display: block;
  clear: both;
  margin: 0.5em 0;
  padding: 0.5em 0;
  border-bottom: 1px solid #e8e8e8; }
  .view-nursing-news-front.nursing-interior .news-index ul li .field-body {
    float: none; }

.view-nursing-news-front.nursing-interior .news-index ul li .field-body,
.view-nursing-news-front.nursing-interior .news-index ul li img {
  display: block;
  float: none;
  margin: 0 25px 25px 0;
  clear: left; }

.nursing-interior ul.pager {
  display: block;
  clear: both;
  width: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
  padding: 0.5em; }
  .nursing-interior ul.pager li {
    display: inline;
    padding-right: 0.3em; }
.nursing-interior .news-index {
  border-bottom: solid 1px #e8e8e8;
  padding: 0 4% 0 0;
  width: 95%;
  display: block;
  float: left;
  font-weight: 100; }
  .nursing-interior .news-index:nth-child(2) {
    border-right: 0; }
  .nursing-interior .news-index:last-child, .nursing-interior .news-index.last {
    margin-right: 0;
    border: none; }
  .nursing-interior .news-index img {
    display: block;
    width: 100%%;
    height: auto;
    clear: left;
    float: left; }
.nursing-interior .views-row {
  display: block;
  float: none;
  clear: both;
  margin: 0.5em 0;
  padding: 0.5em 0;
  border-bottom: 1px solid #e8e8e8; }
  .nursing-interior .views-row img {
    max-width: 25%;
    display: block;
    float: left;
    margin: 0 25px 25px 0; }
  .nursing-interior .views-row h1 {
    font-size: 1.2em; }
.nursing-interior .view-content {
  width: 56%;
  display: block;
  float: left; }

.page-news-archive .view-content {
  width: 100%; }

.featured-news-archive {
  display: block;
  width: 100%;
  clear: both; }
  .featured-news-archive .image-wrapper {
    display: block !important;
    width: 25% !important;
    float: left !important;
    margin: 0 2em 2em 0 !important; }
    .featured-news-archive .image-wrapper .image-caption {
      display: none !important; }
    .featured-news-archive .image-wrapper img {
      width: 100% !important;
      float: left !important; }
  .featured-news-archive .views-row {
    display: block;
    width: 45%;
    float: left;
    margin-right: 5%; }
    .featured-news-archive .views-row h1 {
      margin: 0.3em 0 0.2em 0;
      font-size: 1.3em;
      font-weight: 100; }
    .featured-news-archive .views-row img {
      width: 25%;
      display: block;
      float: left;
      margin: 0 25px 25px 0; }
    .featured-news-archive .views-row p {
      max-width: 100% !important;
      font-size: 0.85em;
      font-family: "Avenir", "Helvetica", "Arial", "sans-serif"; }
  .featured-news-archive .views-row-first {
    width: 100%;
    clear: both;
    float: none; }
    .featured-news-archive .views-row-first h1 {
      font-size: 2em; }
    .featured-news-archive .views-row-first img {
      width: 35%;
      display: block;
      float: left;
      margin: 0 25px 25px 0; }

.featured-news-archive, .page-news-archive {
  display: block;
  width: 100%;
  clear: both;
  margin-bottom: 1em; }
  .featured-news-archive .image-wrapper, .page-news-archive .image-wrapper {
    display: block !important;
    width: 25% !important;
    float: left !important;
    margin: 0 2em 2em 0 !important; }
    .featured-news-archive .image-wrapper .image-caption, .page-news-archive .image-wrapper .image-caption {
      display: none !important; }
    .featured-news-archive .image-wrapper img, .page-news-archive .image-wrapper img {
      width: 100% !important;
      max-width: 100% !important;
      float: left !important; }

.news .front-callout.mag.interior {
  display: block;
  float: right;
  width: 36%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat; }
  .news .front-callout.mag.interior a {
    font-size: 1.6em; }
.news .front-callout a.mag {
  width: 150px;
  height: 150px;
  text-indent: -99999px;
  display: block;
  float: left;
  background-size: 100% auto; }

.news.nursing-front.top-feature .view-content .views-row {
  width: 100%; }

.news.nursing-front.bottom-feature .view-content .views-row {
  float: left;
  width: 45%;
  clear: left;
  margin-right: 2%;
  margin-top: 0.5em;
  padding-right: 2%;
  border-right: 1px solid #e8e8e8; }

.featured-news-archive.toptwo .views-row {
  display: block !important;
  width: 45% !important;
  float: left !important;
  margin-right: 5% !important; }
  .featured-news-archive.toptwo .views-row h1 {
    margin: 0.3em 0 0.2em 0 !important;
    font-size: 1.3em !important;
    font-weight: 100 !important; }
  .featured-news-archive.toptwo .views-row img {
    width: 25%;
    display: block;
    float: left;
    margin: 0 25px 25px 0; }

.news.nursing-front.top-feature .view-content .views-row-1 {
  clear: left; }

.news.nursing-front.top-feature .view-content .views-row-2 {
  clear: right;
  margin-right: 0; }

.news.nursing-front.top-feature .view-content .views-field-title-1 a {
  font-size: 1.3em !important; }

.news.nursing-front.feature-bottom .view-content {
  padding: 1em 2% 1em 2%; }
  .news.nursing-front.feature-bottom .view-content .views-row .views-field-title-1 a {
    font-size: 1.5em;
    line-height: 120%; }

/* ==========================================================================
   Alternative Content Type Page Styles
   ========================================================================== */
.section-course-list .view-content table {
  clear: both; }

.node-nursing-course-list h3.field-label, .node-funded-pilot-project h3.field-label {
  margin: 0.7em 0 0.5em 0;
  padding: 0.2em 0;
  border-top: 1px solid #e8e8e8;
  font-size: 1.2em;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat; }
.node-nursing-course-list .field-details h3, .node-funded-pilot-project .field-details h3 {
  margin: 0.7em 0 0.2em 0;
  padding: 0.2em 0;
  border-top: 1px solid #e8e8e8;
  font-size: 1.2em;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat; }

/* ==========================================================================
   event Module
   ========================================================================== */
.button.addtocalendar {
  padding: .5em;
  line-height: 1em;
  font-size: .5rem;
  text-transform: uppercase;
  border: 0;
  background: #dfe8f4;
  margin: 0; }
  .button.addtocalendar:hover {
    background: #1b4585;
    color: white; }

.events .events-index {
  margin: 0; }
  .events .events-index dl {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left; }
    .events .events-index dl dt {
      float: left;
      width: 95%;
      min-width: 13em;
      padding: .5em;
      color: #1b4585;
      background: #dfe8f4;
      clear: both; }
    .events .events-index dl dd {
      margin: 0;
      padding: .5em 0;
      border-bottom: solid 1px #bec1c7;
      float: left; }
      .events .events-index dl dd ul {
        float: left;
        width: auto;
        list-style: none;
        margin: 0;
        padding: 0; }
        .events .events-index dl dd ul li {
          float: left;
          clear: left;
          margin: 0 0 1em 0;
          padding: 0; }
          .events .events-index dl dd ul li img {
            max-width: 120px;
            float: left;
            margin: 0 2.5% 2.5% 0; }
          .events .events-index dl dd ul li h1 {
            font-size: 1.15rem;
            font-weight: 800;
            margin: 0;
            min-width: 50%; }
          .events .events-index dl dd ul li h2 {
            font-size: 1rem;
            font-weight: 800;
            margin: 0;
            min-width: 50%; }
          .events .events-index dl dd ul li h3 {
            font-size: 1rem;
            margin: 0;
            min-width: 50%; }
          .events .events-index dl dd ul li .primary-category {
            font-size: .75em;
            text-transform: uppercase;
            margin: 0;
            font-weight: 800;
            color: #73757a; }
          .events .events-index dl dd ul li .datetime {
            font-size: .75em; }
          .events .events-index dl dd ul li .byline {
            font-size: .55em;
            text-transform: uppercase;
            font-weight: 800;
            color: #73757a; }
          .events .events-index dl dd ul li p {
            font-size: .85rem;
            line-height: 1.25em;
            letter-spacing: -.03em; }
.events .abbreviated p {
  display: none; }

ul.pager {
  display: block;
  clear: both;
  width: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
  padding: 0.5em; }
  ul.pager li {
    display: inline;
    padding-right: 0.3em; }

/* ==========================================================================
   Calendar Module
   ========================================================================== */
.calendar hgroup {
  width: 100%;
  text-align: center;
  display: block;
  margin-bottom: 1em; }
  .calendar hgroup * {
    text-align: center;
    line-height: 2rem;
    margin: 0 2rem; }
  .calendar hgroup a.prev:before {
    content: "<";
    font-family: CUMCLogos;
    margin: 0 .5em; }
  .calendar hgroup a.next:after {
    content: ">";
    font-family: CUMCLogos;
    margin: 0 .5em; }
  .calendar hgroup a:hover {
    color: #e98300; }
.calendar table tr th {
  display: none; }
.calendar table tr td {
  float: left;
  clear: left;
  padding: 0;
  margin: 0;
  width: 100%; }
  .calendar table tr td.today {
    background: #f7b000; }
    .calendar table tr td.today span.calendardate {
      color: white;
      background: none;
      opacity: .25; }
    .calendar table tr td.today ul:before {
      content: "TODAY";
      display: block;
      color: #1b4585;
      margin: 0;
      padding: .5em;
      font-weight: bold; }
    .calendar table tr td.today li, .calendar table tr td.today dd {
      padding: 2.5%; }
      .calendar table tr td.today li a:hover, .calendar table tr td.today dd a:hover {
        color: white; }
      .calendar table tr td.today li .eventtime, .calendar table tr td.today dd .eventtime {
        color: white; }
  .calendar table tr td span.calendardate {
    float: left;
    display: block;
    color: #1b4585;
    background: #dfe8f4;
    width: 95%;
    margin: 0;
    padding: .5em;
    font-weight: bold; }
  .calendar table tr td ul, .calendar table tr td dl {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 70%; }
    .calendar table tr td ul li, .calendar table tr td ul dd, .calendar table tr td dl li, .calendar table tr td dl dd {
      margin: 0;
      padding: .25em 0;
      font-size: .85rem; }
      .calendar table tr td ul li img, .calendar table tr td ul dd img, .calendar table tr td dl li img, .calendar table tr td dl dd img {
        display: none; }
      .calendar table tr td ul li a:hover, .calendar table tr td ul dd a:hover, .calendar table tr td dl li a:hover, .calendar table tr td dl dd a:hover {
        color: orange; }
      .calendar table tr td ul li h1, .calendar table tr td ul dd h1, .calendar table tr td dl li h1, .calendar table tr td dl dd h1 {
        font-size: 1rem;
        font-weight: 800;
        margin: 0;
        line-height: 1.15em; }
      .calendar table tr td ul li h2, .calendar table tr td ul dd h2, .calendar table tr td dl li h2, .calendar table tr td dl dd h2 {
        font-size: .85rem;
        margin: 0;
        line-height: 1.15em; }
      .calendar table tr td ul li h3, .calendar table tr td ul dd h3, .calendar table tr td dl li h3, .calendar table tr td dl dd h3 {
        font-size: .85rem;
        font-weight: 800;
        margin: 0;
        line-height: 1.15em; }
      .calendar table tr td ul li .primary-category, .calendar table tr td ul dd .primary-category, .calendar table tr td dl li .primary-category, .calendar table tr td dl dd .primary-category {
        display: none; }
      .calendar table tr td ul li .eventtime, .calendar table tr td ul dd .eventtime, .calendar table tr td dl li .eventtime, .calendar table tr td dl dd .eventtime {
        color: #e98300; }
      .calendar table tr td ul li .byline, .calendar table tr td ul dd .byline, .calendar table tr td dl li .byline, .calendar table tr td dl dd .byline {
        font-size: .55em;
        text-transform: uppercase;
        font-weight: 800;
        color: #73757a; }
      .calendar table tr td ul li p, .calendar table tr td ul dd p, .calendar table tr td dl li p, .calendar table tr td dl dd p {
        display: none; }

/* ==========================================================================
   Basic Accordion
   ========================================================================== */
.accordion .ui-accordion-header {
  font-weight: 600;
  cursor: pointer;
  padding: .5em 0;
  border-top: solid 1px #efefea; }

.button.addtocalendar {
  background: none;
  display: inline;
  clear: none;
  padding: 0.2em 1em 0.2em 0.3em;
  margin: 0.2em 0 0 0.1em;
  text-transform: none;
  font-size: .9em;
  font-style: normal;
  color: #5d0030; }
  .button.addtocalendar:hover {
    background: none;
    color: #b00077; }

.calendar table tr td ul li .eventtime, .calendar table tr td ul dd .eventtime, .calendar table tr td dl li .eventtime, .calendar table tr td dl dd .eventtime {
  color: #2d2e31; }

/* ==========================================================================
   Doctor Index Card
   ========================================================================== */
.faculty {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%; }

.resultscard {
  float: left;
  clear: left;
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: solid 1px #bec1c7;
  padding: 1% 0%; }
  .resultscard .profile_link {
    padding: 2px;
    float: right;
    max-width: 25%;
    margin: 0; }
    .resultscard .profile_link .headshot {
      width: 100%;
      float: left;
      max-width: 118px;
      border: solid 1px #bec1c7;
      padding: 2.5%; }
    .resultscard .profile_link span {
      display: block;
      padding: .5em 0;
      text-align: center;
      clear: left; }
  .resultscard h2 {
    font-size: 1.25rem;
    margin-bottom: 0; }
    .resultscard h2 span {
      font-size: .85em; }
  .resultscard h3 {
    font-size: 1rem;
    margin: .75em 0 .5em 0;
    clear: left; }
    .resultscard h3 span {
      font-weight: normal; }
  .resultscard section {
    float: left;
    margin-bottom: .75em;
    min-width: 180px;
    width: 70%; }
    .resultscard section dl {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 1rem;
      line-height: 1.25em; }
      .resultscard section dl dt {
        padding: 0;
        margin: .75em 0 .5em 0; }
      .resultscard section dl dd {
        padding: 0;
        margin: 0; }
  .resultscard ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0; }
    .resultscard ul li {
      float: left;
      clear: left; }
      .resultscard ul li h3 {
        font-size: 1rem; }
  .resultscard .locations span {
    display: block; }

/* ==========================================================================
   Front Page Feature Slideshow
   ========================================================================== */
.nursing-feature-slide {
  max-width: 1400px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }
  .nursing-feature-slide .image-wrapper {
    padding: 0 !important; }
  .nursing-feature-slide .feature-wrap-overlay {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 1550px;
    height: 380px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, black));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
    z-index: 50;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .nursing-feature-slide .slide-info {
    display: block;
    width: 90%;
    max-width: 800px;
    height: auto;
    float: right;
    padding: 1em 4% 0 4%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    background: rgba(0, 0, 0, 0);
    z-index: 99;
    text-align: center;
    font-family: "Minion Pro", "Georgia", "serif"; }
  .nursing-feature-slide a.feature-tag {
    display: block;
    background: white;
    color: black;
    text-transform: uppercase;
    padding: 0.2em 1em 0 1em;
    margin: -30px auto 0 auto;
    float: none;
    font-size: 0.8em;
    clear: both;
    opacity: 0.7;
    font-style: italic;
    width: 75px; }
  .nursing-feature-slide a.arrow {
    font-size: 2em;
    margin: 0 auto 1em auto;
    float: none;
    display: block;
    color: white; }
  .nursing-feature-slide a.slidephrase {
    font-size: 4.1em;
    color: white;
    font-weight: 800;
    line-height: 90%;
    font-style: italic !important;
    display: block;
    clear: both;
    padding: 0.3em 0 0.3em 0;
    opacity: 1;
    margin: 0 0 -0.5em 0;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.7); }
  .nursing-feature-slide .views_slideshow_controls_text {
    position: absolute;
    bottom: 20px; }
    .nursing-feature-slide .views_slideshow_controls_text a {
      font-size: 1em; }
  .nursing-feature-slide .blurb {
    font-size: 1em;
    font-weight: 100;
    display: block;
    margin: 1em 0 0 0;
    color: white;
    opacity: 1;
    cursor: pointer; }

.views-slideshow-controls-bottom {
  position: absolute;
  z-index: 99;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 51px; }

.nursing-feature-slide .views_slideshow_controls_text {
  position: relative;
  bottom: auto; }

#views_slideshow_controls_text_pause_nursing_front_feature_slide-block {
  display: none; }

.views-slideshow-controls-text-previous {
  display: block;
  float: left;
  cursor: pointer;
  width: 29px;
  height: 51px;
  background: url(../img/left-arrow.png) no-repeat;
  background-size: 100% auto;
  margin: 0 0 0 2%;
  opacity: 0.7;
  text-indent: -99999px; }

.views-slideshow-controls-text-next {
  display: block;
  float: right;
  cursor: pointer;
  width: 29px;
  height: 51px;
  background: url(../img/right-arrow.png) no-repeat;
  background-size: 100% auto;
  margin: 0 2% 0 0;
  opacity: 0.7;
  text-indent: -99999px; }

.front .view-nursing-news-front .views_slideshow_slide {
  height: 500px; }

.front .views_slideshow_slide {
  height: 500px;
  width: 1400px;
  max-width: 100%; }

.front .nursing-feature-slide ul.field-related-external-links {
  display: none; }

.front .nursing-feature-slide .image-wrapper, .front .nursing-feature-slide .image-wrapper.feature-image .fieldset-wrapper {
  max-height: 500px !important; }

.front .views-slideshow-cycle-main-frame {
  max-width: 100%;
  background: black; }

/* ==========================================================================
   Front Page Callouts and Buttons
   ========================================================================== */
a.apply-now {
  display: block;
  float: left;
  background: #2d2e31 url(../img/apply-now.png) no-repeat;
  background-size: cover;
  font-family: "Minion Pro", "Minion W01 Regular", "Georgia", "serif";
  color: white;
  padding: 1em 2%;
  margin: 0.2em 0 1em 0;
  width: 96%;
  text-align: center;
  font-weight: 100;
  font-size: 1em;
  line-height: 120%; }
  a.apply-now:hover {
    opacity: 0.9; }
  a.apply-now .apply-now-large {
    font-size: 1.5em; }
  a.apply-now .rule {
    width: 68%;
    display: block;
    clear: both;
    border-top: 1px solid white;
    margin: 0.2em auto; }
a.support {
  display: block;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQIW2M8fvz4f0tLS0YGKIAzMARgKjFUAABfnQgFLGfTMAAAAABJRU5ErkJggg==) repeat;
  background: #0090DF;
  color: #2d2e31;
  color: white;
  clear: both;
  float: left;
  text-align: center;
  width: 100%;
  padding: 0.7em 0;
  margin: 0.5em 0;
  font-size: 1em; }
  a.support:hover {
    opacity: 0.8; }
a.newsletter {
  display: block;
  background: #0d275f url(../img/newsletter.png) no-repeat;
  background-size: cover;
  color: white;
  clear: both;
  float: left;
  text-align: center;
  width: 100%;
  padding: 0.7em 0;
  margin: 1em 0 0.5em 0;
  font-size: 1em; }
  a.newsletter:hover {
    background: #1b4585 url(../img/newsletter.png) no-repeat; }

.front-callout {
  display: block;
  float: left;
  margin: 1em 0;
  padding: 1em 3% 0.5em 3%;
  width: 94%;
  clear: left; }
  .front-callout a.mag {
    background: url(../img/mag-thumb.png) no-repeat;
    width: 200px;
    height: 200px;
    text-indent: -99999px;
    display: block;
    float: left; }
  .front-callout a:hover {
    opacity: 0.8; }
  .front-callout p {
    color: #999; }
  .front-callout.mid {
    background: rgba(0, 0, 0, 0.1);
    clear: none; }
  .front-callout.last {
    clear: none; }
  .front-callout.mag {
    color: black !important; }
    .front-callout.mag a {
      color: #666 !important;
      font-size: 2em;
      line-height: 100%;
      font-style: italic;
      font-family: "Minion Pro", "Minion W01 Regular", "Georgia", "serif"; }
    .front-callout.mag a.mag-title {
      margin-top: 1em;
      display: block;
      clear: right; }
    .front-callout.mag a.issue {
      color: #999 !important;
      display: block;
      clear: right; }
    .front-callout.mag p {
      display: inline !important;
      float: none !important;
      max-width: 45% !important;
      font-size: 0.6em !important;
      line-height: 110% !important;
      color: #999; }
    .front-callout.mag img {
      display: block;
      float: left;
      margin: -5px 1% 0.5em 0;
      max-width: 25%;
      -webkit-transition: 0.3s all ease;
      -moz-transition: 0.3s all ease;
      transition: 0.3s all ease; }
      .front-callout.mag img:hover {
        cursor: pointer;
        opacity: 0.7;
        -webkit-transition: 0.3s all ease;
        -moz-transition: 0.3s all ease;
        transition: 0.3s all ease; }
  .front-callout img {
    max-width: 100%;
    height: auto; }

/* ==========================================================================
   Connect Information
   ========================================================================== */
.connect-wrap .connect {
  width: 10%;
  display: block;
  float: left;
  clear: none;
  margin: 0; }

.connect-wrap a.connect {
  margin: 0 0 0.5em 0;
  padding: 0 8px;
  display: block;
  width: 100%;
  height: auto;
  float: left;
  font-size: 0.85em;
  clear: both;
  text-align: center; }

.connect-wrap a.connect.newsletter {
  background: white;
  color: #333; }

.connect-wrap a.connect.newsletter:hover {
  background: white;
  color: #333; }

.connect-wrap a.connect.facebook {
  background: #3350AE;
  color: white; }

.connect-wrap a.connect.facebook:hover {
  background: #3350AE;
  color: white; }

.connect-wrap a.connect.twitter {
  background: #00C4FC;
  color: white; }

.connect-wrap a.connect.twitter:hover {
  background: #00C4FC;
  color: white; }

.connect-wrap a.connect.youtube {
  background: #de1815;
  color: white; }

.connect-wrap a.connect.youtube:hover {
  background: #de1815;
  color: white; }

.connect-wrap a.connect.linkedin {
  background: #007bb6;
  color: white; }

.connect-wrap a.connect.linkedin:hover {
  background: #007bb6;
  color: white; }

.videoWrapper {
  border: 1px solid #999999;
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.2);
  margin: 0 0 1em;
  max-height: 100%;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
  z-index: 0; }
  .videoWrapper iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

#video section {
  padding: 10% 20%;
  z-index: -1; }

/* ==========================================================================
   Global Footer
   ========================================================================== */
.region-globalfooter {
  font-family: "Avenir", "Avenir LT W01 55 Roman", "Helvetica", "Arial", "sans-serif";
  background: #73757a;
  color: white; }
  .region-globalfooter h3 {
    cursor: pointer;
    color: white; }
  .region-globalfooter h3.active {
    color: #e98300; }
  .region-globalfooter a {
    font-size: .85rem;
    text-decoration: none;
    color: #2d2e31;
    display: block;
    padding: .25rem;
    clear: both;
    color: white; }
    .region-globalfooter a:hover, .region-globalfooter a .ui-state-active a {
      background: #0090df;
      color: white;
      -webkit-transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out; }
  .region-globalfooter div {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    margin-bottom: 2rem; }
    .region-globalfooter div ul {
      margin: 1rem 0;
      padding: 0;
      float: left;
      width: 100%; }
      .region-globalfooter div ul li {
        list-style: none;
        margin: 0;
        padding: 0; }
    .region-globalfooter div h3 {
      font-size: 1rem; }
  .region-globalfooter ul.general_info {
    float: left;
    clear: both;
    width: 100%;
    padding-bottom: 2em; }
    .region-globalfooter ul.general_info li {
      float: left; }

/* ==========================================================================
   Drupal Specific Modules
   ========================================================================== */
.messages {
  background: yellow; }
