/*! Index for Faculty Search */
/* ==========================================================================
   SASS variables and mix-ins
   ========================================================================== */
/* ========== Basic CUMC Colors ============= */
/* ========== highlighted ============= */
/* ========== Darkened ============= */
/* ========== New Colors ============= */
.resultscard {
  padding: 0;
  width: 25%;
  min-width: 300px;
  height: 200px;
  font-size: .85em;
  float: left;
  clear: none;
  position: relative;
  margin-right: 2.5%; }
  .resultscard:hover {
    background: #efefea; }
  .resultscard .profile_link {
    margin-right: 5%;
    width: 100%;
    float: left;
    position: absolute;
    max-width: 100%; }
    .resultscard .profile_link img {
      background: white; }
  .resultscard h2 {
    font-size: 1.25em;
    margin-left: 35%;
    width: auto;
    z-index: 50; }
    .resultscard h2 span {
      display: block; }
  .resultscard h3 {
    display: block;
    font-size: 1em; }
  .resultscard dl {
    font-size: 1em; }
  .resultscard dt {
    margin: 0; }
  .resultscard dd {
    margin: 0 0 .5em 0; }
  .resultscard .headshot {
    display: block;
    border: 0;
    padding: 0; }
  .resultscard section {
    display: none;
    float: right;
    width: 68.5%;
    margin: 0;
    padding: 0;
    font-size: .85rem; }
  .resultscard .department-division {
    display: block; }
  .resultscard .availability {
    display: block; }

.resultscard .profile_link .headshot {
  max-width: 28%;
  margin-right: 1em; }

/*! Faculty Profiles */
.faculty {
  float: left;
  margin: 0 5% 2em 0;
  width: 75%;
  max-width: 1200px; }
  .faculty section {
    clear: left; }
    .faculty section.person .name {
      font-size: 2.5em;
      font-weight: normal;
      color: #73757a; }
      .faculty section.person .name span {
        font-size: .5em; }
    .faculty section.person ul {
      list-style: none;
      float: left;
      margin: 0 2em 2em 0;
      padding: 0; }
    .faculty section.person .image {
      float: right;
      max-width: 320px;
      width: 25%;
      margin: 0 0 5% 5%; }
      .faculty section.person .image img {
        border: 1px solid #BEC1C7;
        float: left;
        padding: 2.5%;
        width: 95%; }
    .faculty section.gender {
      display: none; }
    .faculty section.stats, .faculty section .departments {
      float: left;
      clear: left;
      margin: 0 0 .5em 0;
      width: 70%; }
      .faculty section.stats ul, .faculty section .departments ul {
        list-style: none;
        float: left;
        margin: 0 2em 1em 0;
        padding: 0;
        width: 100%; }
        .faculty section.stats ul li, .faculty section .departments ul li {
          margin-bottom: .5em; }
          .faculty section.stats ul li h2, .faculty section .departments ul li h2 {
            font-size: 1em;
            font-weight: bold;
            text-transform: uppercase; }
          .faculty section.stats ul li h3, .faculty section .departments ul li h3 {
            font-size: 1em;
            font-weight: bold; }
      .faculty section.stats dl, .faculty section .departments dl {
        margin: 0 0 1em 0;
        padding: 0; }
        .faculty section.stats dl dt, .faculty section .departments dl dt {
          font-weight: bold;
          margin-right: .5em;
          float: left;
          clear: left; }
        .faculty section.stats dl dd, .faculty section .departments dl dd {
          float: left;
          margin: 0; }
      .faculty section.stats.stats.education, .faculty section .departments.stats.education {
        margin: 1.5em 0 .5em 0; }
      .faculty section.stats.pubs, .faculty section .departments.pubs {
        width: 100%; }
        .faculty section.stats.pubs ul li, .faculty section .departments.pubs ul li {
          padding: 0 0 .5em 0;
          border-bottom: solid 1px #73757a; }
      .faculty section.stats.newpatients p, .faculty section .departments.newpatients p {
        text-indent: 0; }
