/* ==========================================================================
   Helper classes
   ========================================================================== */
.nobullet * {
  list-style: none; }

.listreset, .listreset * {
  margin: 0;
  padding: 0;
  list-style: none; }

/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.clearboth {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/*
 *  Adjective class to hide all but the essential elements
 */
.abbreviated .datetime, .abbreviated .byline, .abbreviated .primary-category, .abbreviated img, .abbreviated h2, .abbreviated h3 {
  display: none; }

/*
 *  makes stuff stick to the top
 */
.stickdiv {
  position: fixed;
  top: 0px;
  opacity: .7; }
  .stickdiv:hover {
    opacity: 1; }

/*
 *  float left or right
 */
.left {
  float: left;
  margin: 0 1em 1em 0; }

.right {
  float: right;
  margin: 0 0 1em 1em; }

/*
 *  skip link for screen readers
 */
#skip-link {
  height: 0;
  margin: 0;
  padding: 0; }
